%form{"accept-charset" => "UTF-8", action: "/users", method: "post", id: "user_edit_form", enctype: "multipart/form-data"}
  = tag(:input, :type => "hidden", :value => "put", :name => "_method")
  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)

  .form-group.row
    .col-md-4
      .form_label.edit-label Company Name
    .col-md-8
      %input.form-control{placeholder: "Name", type: "text", name: "user[name]", id: "user_name", value: "#{current_user.name}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Your Display Name"}}

  .form-group.row
    .col-md-4
      .form_label.edit-label Bookings Email
    .col-md-8
      %input.form-control{placeholder: "Email Address", type: "email", name: "user[email]", id: "user_email", value: "#{current_user.email}"}

  .form-group.row
    .col-md-4
      .form_label.edit-label Office Location
    .col-md-8
      %input.form-control{placeholder: "Location", type: "text", name: "user[location]", id: "user_location", value: "#{current_user.location}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Where are you located?"}}

  .form-group.row
    .col-md-4
      .form_label.edit-label Activity Types
    .col-md-8
      - options = adv_categories
      - options.each do |o|
        %label.checkbox-inline.no_indent
          - if @user.category && @user.category.include?(o.downcase)
            %input{type: "checkbox", id: o.downcase, value: o.downcase, name: 'category[]', checked: "checked"}
          - else 
            %input{type: "checkbox", id: o.downcase, value: o.downcase, name: 'category[]'}
          = o

  .form-group.row
    .col-md-4
      .form_label.edit-label Company tagline
    .col-md-8
      %input.form-control.show_ml{placeholder: "Short Description", type: "text", name: "user[short_description]", id: "user_short_description", value: "#{current_user.short_description}", maxlength: "35", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Example: fishing & diving charters.."}}
  .row
    .col-md-4
    .col-md-8
      .location_map

  .form-group.row
    .col-md-4
      .form_label.edit-label Biography
    .col-md-8
      %textarea.form-control.show_ml{rows: "8", name: "user[bio]", id: "user_bio", placeholder: "What's your story?", maxlength: "3000", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Help the adventurers know you by sharing your story"}}
        - if !current_user.bio.nil?
          #{current_user.bio}
  .form-group.row
    .col-md-4
      .form_label.edit-label Languages
    .col-md-8
      %input.form-control.show_ml{placeholder: "Languages", type: "text", name: "user[language]", id: "user_language", value: "#{current_user.language}", maxlength: "40", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Languages spoken, seperate by a comma (,) (Ex: English, French)"}}
  .form-group.row
    .col-md-4
      .form_label.edit-label Skills / Certifications
    .col-md-8
      %textarea.form-control.show_ml{rows: "7", name: "user[skillset]", id: "user_skillset", placeholder: "Ex: Certified Scuba Diver, Wilderness First Responder", maxlength: "150", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Do you have any skills or certifications which qualify you as an adventure guide? Separate each by a comma (,)"}}
        - if !current_user.skillset.nil?
          #{current_user.skillset}
  .form-group.row
    .col-md-4
      .form_label.edit-label Youtube or Vimeo video url
    .col-md-8
      %input.form-control.show_ml{type: "text", name: "user[video_url]", placeholder: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',id: "user_video_url", value: "#{@current_user.video_url}", maxlength: "75", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Input a Youtube or Vimeo video URL that describes you"}}
  .form-group.row
    .col-md-4
      .form_label.edit-label Facebook URL
    .col-md-8
      %input.form-control{placeholder: "https://www.facebook.com/myname", type: "text", name: "user[fb_url]", id: "user_fb_url", value: "#{current_user.fb_url}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Add your social links to increase your chance of a booking"}}
  .form-group.row
    .col-md-4
      .form_label.edit-label Twitter URL
    .col-md-8
      %input.form-control{placeholder: "https://www.twitter.com/myname", type: "text", name: "user[tw_url]", id: "user_tw_url", value: "#{current_user.tw_url}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Add your social links to increase your chance of a booking"}}
  .form-group.row
    .col-md-4
      .form_label.edit-label TripAdvisor URL
    .col-md-8
      %input.form-control{placeholder: "https://www.tripadvisor.com/members/myname", type: "text", name: "user[ta_url]", id: "user_ta_url", value: "#{current_user.ta_url}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Add your social links to increase your chance of a booking"}}

  - if current_user.email_list != true
    .form-group.row
      .col-md-4
        .form_label.edit-label Advlo Emails
      .col-md-8
        .btn-group{"data-toggle" => "buttons"}
          %label.btn.btn-default
            %input#option1{:name => "options", :type => "radio", value: 'true', name: "user[email_list]"}
            Yes please
          %label.btn.btn-default.active
            %input#option2{:name => "options", :type => "radio", value: 'false', name: "user[email_list]"}
            No thanks

  .form-group.row
    .col-md-offset-4.text-center
      %input.btn.btn-success.update-user-btn{name: "commit", type: "submit", value: "UPDATE"}