#contact_traveler_modal.modal.fade{role: "dialog", class: "contact_traveler_modal_#{res.id}"}
  - traveler = User.find_by_id(res.user_id)
  .modal-dialog
    .modal-content
      .modal-header.text-center
        = "Message - #{traveler.get_abbreviated_name_or_email}"
      .modal-body
        .contact_host_form
          %form{"accept-charset" => "UTF-8", action: "/conversations/new", method: "POST", id: "contact_host_form"}
            = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
            = tag(:input, :type => "hidden", :name => "conversation[host_id]", :value => res.host_id)
            = tag(:input, :type => "hidden", :name => "conversation[user_id]", :value => res.user_id)
            = tag(:input, :type => "hidden", :name => "conversation[adventure_id]", :value => res.adventure_id)

            .form-group.row
              .col-md-4 
                .form_label.text-right.edit-label Subject *
              .col-md-6
                %input.form-control{type: "text", name: "conversation[subject]", id: "conversation_subject", value: @adventure ? "#{@adventure.title}" : ""}

            .form-group.row
              .col-md-4 
                .form_label.text-right.edit-label Message *
              .col-md-6
                %textarea.form-control{rows: "7", type: "text", name: "message[body]", id: "message_body"}
            .row.text-center
              %input.btn.btn-primary.contact_btn{type: "submit", value: "Submit"}