#post-check
  .col-md-6
    - if @user.is_guide == true && @user.guide_type == 'business' 
      = render partial: 'business_account'

    - elsif @user.is_guide == true && @user.guide_type == 'local'
      = render partial: 'local_account'

    - elsif @user.is_guide == false

      = render partial: 'traveler_account'


  .col-md-6.text-center

    - if check_if_advlo(current_user)
      .switch_users
        = switch_user_select

    // profile image upload
    %a.btn.btn-default.preview_profile_btn{href: "#{current_user.to_param}", target: "_blank"}
      %i.fa.fa-eye
      VIEW PROFILE

    .profile_avatar_img.row{style: 'margin-top: 30px'}
      - if !current_user.avatar_file_name.nil?
        = image_tag "#{current_user.avatar.url(:profile)}", :class => "img-thumbnail img-responsive"
      - elsif !current_user.avatar_url.nil?
        = image_tag "#{current_user.avatar_url}?type=square&height=150&width=150", :class => "img-thumbnail img-responsive"
      - else 
        = image_tag 'missing.png', :class => "img-thumbnail img-responsive"

    %form{"accept-charset" => "UTF-8", action: "/upload/user_avatar_image", method: "post", id: "user_img_edit_form", enctype: "multipart/form-data", "data-remote" => "true"}
      = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
      = tag(:input, :type => "hidden", :id => "user_id", :name => "user_id", :value => current_user.id)
      .row.form-group
        %input{type: "file", name: "user[avatar]", id: "user_avatar"}
      %input{type: "submit", style: "display: none"}


    // banner image upload
    .host-checklist
      .profile_banner_img.row
        - if HeroImage.find_by_user_id(current_user.id)
          = image_tag HeroImage.find_by_user_id(current_user.id).attachment.url(:thumb), :class => "img-thumbnail img-responsive img-banner"
        - else 
          = image_tag "missing_banner.jpg", :class => "img-thumbnail img-responsive img-banner"

      %form{"accept-charset" => "UTF-8", action: "/upload/hero_image", method: "post", id: "user_profile_edit_form", enctype: "multipart/form-data", "data-remote" => "true"}
        = tag(:input, :type => "hidden", :value => "post", :name => "_method")
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        = tag(:input, :type => "hidden", :name => 'hero_image[user_id]', :value => current_user.id)
        .row.form-group
          %input{type: "file", name: "hero_image[attachment]", id: "banner_image"}



        - if !current_user.is_guide?(current_user.id)
          .row
            .col-md-6.col-md-offset-3
              .panel.panel-default
                .panel-body.text-left
                  .adventure-checkboxes


                    - if @user.guide_type == 'company'
                      = render partial: 'company_checklist'

                    - elsif @user.guide_type == 'local'
                      = render partial: 'local_checklist'

                    - else @user.is_guide == false
                      = render partial: 'local_checklist'
        - else
          .row
            .col-md-6.col-md-offset-3
              .panel.panel-default
                .panel-heading.panel-title.be_host_title You're ready to host!
                .panel-body.text-left.text-center
                  Your profile is complete
            .col-md-6.col-md-offset-3                  
              %a.btn.btn-primary.update_btn{href: "/adventures/new"}
                HOST AN ADVENTURE
