.table-responsive
  %h3.text-left= reservation_type
  %table.table.table-hover
    %thead
      %tr
        %th Adventure
        %th Name / Email
        %th Date & Time
        %th.text-center Group Size
        %th.text-center Type
        %th Fee
        %th $ Earned
        %th Actions
    %tbody
    - reservations.each_with_index do |res, i|
      - host = res.adventure.users.first
      - customer = User.find_by_id(res.user_id)
      %tr
        %td.text-left
          %a{href: "/adventures/#{res.adventure.slug}"}
            = res.adventure.title[0..12] + "..."
        %td.text-left
          = image_tag "#{customer.get_avatar_url("thumb")}", class: "img-circle customer_img pull-left"
          .pull-right{style: "padding-top: 5px;"}= customer.get_name_and_email.html_safe
        %td.text-left= res.event_start_time.strftime("%A - %m/%d/%Y - %l:%M %P")
        %td.text-center= res.head_count
        %td.text-center
          - # If reservation is cancelled or requested show button to approve or not
          - if res.requested == true && !res.stripe_charge_id
            .btn.btn-danger.disabled 
              Request - ACTION REQ >>
          - elsif res.requested == true && res.stripe_charge_id
            .btn.btn-info.disabled
              Request - Approved
          - else
            .btn.btn-success.disabled
              Instant Reservation
        %td= "$ #{sprintf('%.2f',res.host_fee)}"
        %td.text-left= "$ #{sprintf('%.2f', res.total_price-res.user_fee-res.host_fee)}"

        = render partial: "reservations_actions", locals: {res: res, reservation_type: reservation_type}

        = render partial: "contact_traveler_modal", locals: {res: res}

    %thead
      %tr
        %th
        %th
        %th
        - if reservation_type == "Upcoming"
          - total_head_count = reservations.where(requested: false).sum(:head_count)+reservations.where(requested: true).sum(:head_count)
        - else
          - total_head_count = reservations.sum(:head_count)

        %th.text-center= total_head_count
        %th
        - if reservation_type == "Upcoming"
          - total_host_fee = reservations.where(requested: false).sum(:host_fee)+reservations.where(requested: true).sum(:host_fee)
          - total_user_fee = reservations.where(requested: false).sum(:user_fee)+reservations.where(requested: true).sum(:user_fee)
        - else
          - total_host_fee = reservations.sum(:host_fee)
          - total_user_fee = reservations.sum(:user_fee)
        %th= "$ #{sprintf('%.2f', total_host_fee)}"
        - if reservation_type == "Upcoming"
          - total_amount_earned = reservations.where(requested: false).sum(:total_price)+reservations.where(requested: true).sum(:total_price) - total_host_fee-total_user_fee
        - else
          - total_amount_earned = reservations.sum(:total_price) - total_host_fee - total_user_fee
        %th= "$ #{sprintf('%.2f', total_amount_earned)}"
        %th
