- if scope == "upcoming"
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th Adventure
          %th Name / Email
          %th Date & Time
          %th.text-center Group Size
          %th.text-center Reserved
          %th Fee
          %th $ Earned
      %tbody
      - @host_reservations.where(processed: "false").each_with_index do |res, i|
        - host = res.adventure.users.first
        - customer = User.find_by_id(res.user_id)
        %tr
          %td.text-left
            %a{href: "/adventures/#{res.adventure.slug}"}
              = res.adventure.title[0..12] + "..."
          %td.text-left
            = image_tag "#{customer.get_avatar_url("thumb")}", class: "img-circle customer_img"
            = customer.get_name_and_email
          %td.text-left= res.event_start_time.strftime("%A - %m/%d/%Y - %l:%M %P")
          %td.text-center= res.head_count
          %td.text-center
            - # If reservation is requested show button to approve or not
            - if res.requested == true && !res.stripe_charge_id
              .btn.btn-success.request_approve_btn{id: "#{res.id}"}
                APPROVE
              .btn.btn-danger.request_reject_btn{id: "#{res.id}"}
                DECLINE
              .requested_approved_msg{style: "display: none;"} Request - Approved
              .requested_rejected_msg{style: "display: none;"} Request - Declined
            - elsif res.requested == true && res.stripe_charge_id
              .btn.btn-info.disabled
                Request - Approved
            - else
              .btn.btn-success.disabled
                Instant Reservation
          %td= "$ #{sprintf('%.2f',res.host_fee)}"
          %td.text-left= "$ #{sprintf('%.2f', res.total_price-res.host_fee)}"
      %thead
        %tr
          %th
          %th
          %th
          - total_head_count = @host_reservations.where(requested: false).where(processed: false).sum(:head_count)+@host_reservations.where(requested: true).where(processed: false).where("stripe_charge_id IS NOT NULL AND stripe_charge_id <> ''").sum(:head_count)
          %th.text-center= total_head_count
          %th
          - total_fee = @host_reservations.where(requested: false).where(processed: false).sum(:host_fee)+@host_reservations.where(requested: true).where(processed: false).where("stripe_charge_id IS NOT NULL AND stripe_charge_id <> ''").sum(:host_fee)
          %th= "$ #{sprintf('%.2f', total_fee)}"
          - total_amount_earned = @host_reservations.where(requested: false).where(processed: false).sum(:total_price)+@host_reservations.where(requested: true).where(processed: false).where("stripe_charge_id IS NOT NULL AND stripe_charge_id <> ''").sum(:total_price) - total_fee
          %th= "$ #{sprintf('%.2f', total_amount_earned)}"
- else
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th Adventure
          %th Name / Email
          %th Date & Time
          %th.text-center Group Size
          %th.text-center Reserved
          %th Fee
          %th $ Earned
      %tbody
      - @host_reservations.where(processed: "true").each_with_index do |res, i|
        - host = res.adventure.users.first
        - customer = User.find_by_id(res.user_id)
        %tr
          %td.text-left
            %a{href: "/adventures/#{res.adventure.slug}"}
              = res.adventure.title[0..12] + "..."
          %td.text-left
            = image_tag "#{customer.get_avatar_url("thumb")}", class: "img-circle customer_img"
            = customer.get_name_and_email
          %td.text-left= res.event_start_time.strftime("%A - %m/%d/%Y - %l:%M %P")
          %td.text-center= res.head_count
          %td.text-center
            - if res.requested == true && res.stripe_charge_id
              .btn.btn-info.disabled
                Request - Approved
            - else
              .btn.btn-success.disabled
                Instant Reservation
          %td= "$ #{sprintf('%.2f',res.host_fee)}"
          %td.text-left= "$ #{sprintf('%.2f', res.total_price-res.host_fee)}"
      %thead
        %tr
          %th
          %th
          %th
          %th
          %th.text-center= @host_reservations.where(processed: true).sum(:head_count)
          - total_fee = @host_reservations.where(processed: true).sum(:host_fee)
          %th= "$ #{sprintf('%.2f', total_fee)}"
          - total_amount_earned = @host_reservations.where(processed: true).sum(:total_price) - total_fee
          %th= "$ #{sprintf('%.2f', total_amount_earned)}"

