#d_user_dashboard
  .container
    .panel.panel-default
      = render partial: "dashboard_header"
      .panel-body
        - if current_user.adventures.empty?
          .text-center
            .col-md-8.col-md-offset-2
              .alert.alert-warning
                You are not hosting any Adventures!
              %a.btn.btn-primary.host_btn{href: "/adventures/new"}
                HOST AN ADVENTURE
        - else
          - current_user.adventures.each_with_index do |adv, i|
            .user_adv{id: "adventure-number-#{i}"}
              .container
                .col-md-4.col-md-offset-1
                  .adv_img{style: "background: url('#{adv.attachment.url(:medium)}')"}
                  - if !adv.published
                    .col-md-offset-3
                      .btn.btn-danger.disabled
                        Not Published
                  - elsif !adv.approved
                    .col-md-offset-3
                      .btn.btn-warning.disabled
                        Pending Approval
                  - else
                    .col-md-offset-3
                      .btn.btn-success.disabled
                        Active Adventure
                .col-md-6
                  .adv_title
                    = adv.title

                  .adv_loc= "Location: #{adv.location}"
                  .adv_loc 
                    Category:
                    - adv.category.split(",").each_with_index do |cat, i|
                      - if i != (adv.category.split(",").count-1)
                        = cat.capitalize + ", "
                      - else 
                        = cat.capitalize
                    - if adv.price_type && adv.price 
                      .adv_price= "$"+adv.price.to_s + " " + adv.price_type.gsub("_"," ") 

                  .row.container
                    %a.btn.btn-default.edit_btn{href: "/adventures/#{adv.slug}"}
                      %i.fa.fa-eye
                      VIEW
                    %a.btn.btn-primary.edit_btn{href: "/adventure_steps/basic?adventure_id=#{adv.id}"} 
                      %i.fa.fa-pencil
                      EDIT
                    = link_to adv, method: "delete",  data: {confirm: "Are you sure?"}, class: "btn btn-danger edit_btn" do
                      %i.fa.fa-times
                        DELETE
                  .row.container
                    %a.btn.btn-success.edit_btn{href: "/adventures/reservations/#{adv.id}"}
                      %i.fa.fa-money
                      RESERVATIONS
          %br
            .create-wrapper
              %a.btn.btn-primary.host_btn{href: "/adventures/new"}
                HOST AN ADVENTURE
