#d_user_edit
  .container
    .d_error_msgs= devise_error_messages!
    .panel.panel-default
      = render partial: "dashboard_header"
      .text-center
        .update_notice
          = notice
      %form{"accept-charset" => "UTF-8", action: "/users", method: "post", id: "user_edit_form", enctype: "multipart/form-data"}
        = tag(:input, :type => "hidden", :value => "put", :name => "_method")
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        .panel-body
          .col-md-6
            .form-group.row
              .col-md-4
                .form_label.text-right Name
              .col-md-8
                %input.form-control{placeholder: "Name", type: "text", required: "required", name: "user[name]", id: "user_name", value: "#{current_user.name}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Your Display Name"}}
            .form-group.row
              .col-md-4
                .form_label.text-right Email
              .col-md-8
                %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email", value: "#{current_user.email}"}
            .form-group.row
              .col-md-4
                .form_label.text-right Tagline
              .col-md-8
                %input.form-control.show_ml{placeholder: "Short Description", type: "text", name: "user[short_description]", id: "user_short_description", value: "#{current_user.short_description}", maxlength: "26", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Couple words to describe you! e.g. Climber, Hiker"}}
            .form-group.row
              .col-md-4
                .form_label.text-right Location
              .col-md-8
                %input.form-control{placeholder: "Location", type: "text", name: "user[location]", id: "user_location", value: "#{current_user.location}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Your Current Location"}}
            .form-group.row
              .col-md-4
                .form_label.text-right Sex
              .col-md-3
                %select.form-control{name: "user[sex]", id: "user_sex"}
                  - if current_user.sex == "Female"
                    %option Male
                    %option{selected: "true"} Female
                  - else 
                    %option Male
                    %option Female
            .form-group.row
              .col-md-4
                .form_label.text-right Date of Birth
              .col-md-4
                %input.form-control{type: "text", name: "user[dob]", id: "user_dob", value: "#{current_user.dob}"}
            .form-group.row
              .col-md-4
                .form_label.text-right Biography
              .col-md-8
                %textarea.form-control.show_ml{rows: "8", name: "user[bio]", id: "user_bio", placeholder: "What's your story?", maxlength: "300", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Help the adventurers know you! Share your story!"}}
                  - if !current_user.bio.nil?
                    #{current_user.bio}
            .form-group.row
              .col-md-4
                .form_label.text-right Languages
              .col-md-8
                %input.form-control.show_ml{placeholder: "Languages", type: "text", name: "user[language]", id: "user_language", value: "#{current_user.language}", maxlength: "40", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Languagues Spoken, seperate by a comma (,) (e.g. English, French)"}}
            .form-group.row
              .col-md-4
                .form_label.text-right Skills / Certifications
              .col-md-8
                %textarea.form-control.show_ml{rows: "7", name: "user[skillset]", id: "user_skillset", placeholder: "Have specialized training or skills?", maxlength: "150", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Skills or Certifications, seperate by a comma (,) (e.g. Certified Scuba Diver, Licenced Kayak Instructor)"}}
                  - if !current_user.skillset.nil?
                    #{current_user.skillset}
            .form-group.row
              .col-md-4
                .form_label.text-right Facebook Url
              .col-md-8
                %input.form-control{placeholder: "www.facebook.com/myname", type: "text", name: "user[fb_url]", id: "user_fb_url", value: "#{current_user.fb_url}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Enter your facebook user url, it will be displayed on the host profile page"}}
            .form-group.row
              .col-md-4
                .form_label.text-right Twitter Url
              .col-md-8
                %input.form-control{placeholder: "www.twitter.com/myname", type: "text", name: "user[tw_url]", id: "user_tw_url", value: "#{current_user.tw_url}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Enter your twitter user url, it will be displayed on the host profile page"}}
            .form-group.row
              .col-md-4
                .form_label.text-right LinkedIn Url
              .col-md-8
                %input.form-control{placeholder: "www.linkedin.com/myname", type: "text", name: "user[li_url]", id: "user_li_url", value: "#{current_user.li_url}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Enter your linkedin user url, it will be displayed on the host profile page"}}
          .col-md-6.text-center
            .row
              - if !current_user.avatar_file_name.nil?
                = image_tag "#{current_user.avatar.url(:profile)}", :class => "img-thumbnail img-responsive"
              - elsif !current_user.avatar_url.nil?
                = image_tag "#{current_user.avatar_url}?type=square&height=150&width=150", :class => "img-thumbnail img-responsive"
              - else 
                = image_tag 'missing.png', :class => "img-thumbnail img-responsive"
            .row.form-group
              %input.filestyle{type: "file", name: "user[avatar]", id: "user_avatar"}
            - if !current_user.is_guide?(current_user.id)
              .row
                .col-md-6.col-md-offset-3
                  .panel.panel-default
                    .panel-heading.panel-title.be_host_title What to be a host?
                    .panel-body.text-left
                      %b Please fill in the following:
                      - if current_user.avatar.url == "/avatars/original/missing.png" && current_user.avatar_url == nil 
                        %li Avatar
                      - if current_user.name.nil? || current_user.name.empty?
                        %li Name
                      - if current_user.name.nil? || current_user.name.empty?
                        %li Tagline
                      - if current_user.location.nil? || current_user.location.empty?
                        %li Location
                      - if current_user.dob.nil?
                        %li Date of Birth
                      - if current_user.bio.nil? || current_user.bio.empty?
                        %li Biography
                      - if current_user.language.nil? || current_user.language.empty?
                        %li Languagues
                      - if current_user.skillset.nil? || current_user.skillset.empty?
                        %li Skills / Certifications
            - else
              .row
                .col-md-6.col-md-offset-3
                  .panel.panel-default
                    .panel-heading.panel-title.be_host_title Your ready to host!
                    .panel-body.text-left
                      Your profile is complete and is ready to start offering adventures with your expertise!
                  %a.btn.btn-primary.update_btn{href: "/adventures/new"}
                    HOST AN ADVENTURE
        .panel-footer.text-center
          %input.btn.btn-primary.update_btn{name: "commit", type: "submit", value: "UPDATE"}

:javascript
  usersInit()