#d_user_dashboard
  .container
    .panel.panel-default
      = render partial: "dashboard_header"
      .panel-body
        #wallet
          %h2.text-center
            %ul.nav.nav-tabs
              %li
                %a{href: "/users/wallet"}
                  Bookings

              - if @host_reservations
                %li
                  %a{href: "/users/reservations"}
                    Reservations
                    
              %li.active
                %a{href: "/users/payouts"} 
                  Payouts



          .panel-heading.text-center
            .panel-body
              .table-responsive
                - @payouts.each_with_index do |payout, i|
                  %table.table.table-hover
                    %thead
                      %tr
                        %th Payout date
                        %th Status
                        %th Reservations on payout
                        %th Revenue per Adventure
                        %th Payout Amount
                    %tbody
                    %tr
                      %td.text-left= payout.created_at.strftime("%A - %D - %l:%M %P")
                      %td.text-left= payout.status
                      %td.text-left
                        - payout.reservations.each do |r|
                          %span= r.adventure.title
                          %br
                      %td.text-left
                        - payout.reservations.each do |r|
                          %span= "#{r.head_count} people / "+ " $ "+"#{r.total_price}".to_s
                          %br
                      %td

                    %thead
                      %tr
                        %th
                        %th
                        %th
                        %th
                        %th= "$ "+"#{payout.amount / 100}".to_s
                