#d_user_dashboard
  .container
    .panel.panel-default
      = render partial: "dashboard_header"
      .panel-body
        #wallet
          %h2.text-center
            %ul.nav.nav-tabs
              %li
                %a{href: "/users/wallet"}
                  Bookings
              %li
                %a{href: "/users/reservations"}
                  Reservations
              %li.active
                %a{href: "/users/payouts"} 
                  Payouts

          - if @payouts.empty?
            .col-md-6.col-md-offset-3.text-center
              .alert.alert-warning
                Host an adventure and start getting paid
              %span= link_to 'Create an adventure', "/adventures/info"

          -else 
            .panel-heading.text-center
              .panel-body
                .table-responsive
                  - @payouts.each_with_index do |payout, i|
                    %table.table.table-hover
                      %thead
                        %tr
                          %th Payout date
                          %th Status
                          %th Reservations on payout
                          %th Payout Fees
                          %th Revenue per Adventure
                      %tbody
                      %tr
                        %td.text-left= payout.created_at.strftime("%A - %D - %l:%M %P")
                        %td.text-left= payout.status
                        %td.text-left
                          - payout.reservations.each do |r|
                            %span= r.adventure.title
                            %br
                        %td.text-left= "$ #{sprintf('%.2f', payout.get_payout_fees / 100 )}"
                        %td.text-left
                          - payout.reservations.each do |r|
                            - revenue = r.total_price - r.host_fee
                            %span= "#{r.head_count} people / "+ "$ #{sprintf('%.2f',revenue)}"
                            %br

                      %thead
                        %tr
                          %th
                          %th
                          %th
                          %th
                          - payout_amount = payout.amount - payout.get_payout_fees
                          %th= "$ #{sprintf('%.2f',payout_amount/100)}"
                  