.meta_tags
  = set_meta_tags(default_meta_tags)

#d_user_dashboard
  .container
    .panel.panel-default
      = render partial: "dashboard_header"
      .panel-body
        #wallet
          %h2.text-center
            %ul.nav.nav-tabs
              %li
                %a{href: "/users/wallet"}
                  Bookings
              %li
                %a{href: "/users/reservations"}
                  Reservations
              %li.active
                %a{href: "/users/payouts"} 
                  Payouts

          .panel-body
            - if @payouts.empty?
              .col-md-6.col-md-offset-3.text-center
                .alert.alert-warning
                  Host an adventure and start getting paid
                %a.btn.btn-default.empty_wallet_btn{href: "/adventures/new"}
                  HOST AN ADVENTURE

            -else 
              .panel-heading.text-center
                .panel-body
                  .table-responsive
                    - @payouts.each_with_index do |payout, i|
                      %table.table.table-hover
                        %thead
                          %tr
                            %th Payout date
                            %th Method - Status
                            %th Adventures on payout
                            %th Fees
                            %th Revenue per Adventure
                        %tbody
                        %tr
                          %td.text-left= payout.created_at.strftime("%A - %D")
                          - method = payout.payout_via.capitalize
                          - if method == "Stripe" then method = 'Bank'
                            %td.text-left= "#{method} - #{payout.status}"
                            %td.text-left
                              - Reservation.where(cancelled: false).where(host_id: payout.user_id).each do |r|
                                %span= r.adventure.title
                                %br
                            %td.text-left
                              - Reservation.where(cancelled: false).where(host_id: payout.user_id).each do |r|
                                %span= "$ #{sprintf('%.2f',r.host_fee)}"
                                %br
                            %td.text-left
                              - Reservation.where(cancelled: false).where(host_id: payout.user_id).each do |r|
                                - revenue = r.total_price - r.host_fee - r.user_fee
                                %span= "#{r.head_count} people / "+ "$ #{sprintf('%.2f',revenue)}"
                                %br

                        %thead
                          %tr
                            %th
                            %th
                            %th
                            %th= "$ #{sprintf('%.2f', Reservation.where(cancelled: false).where(host_id: payout.user_id).sum(:host_fee))}"
                            %th= "$ #{sprintf('%.2f',payout.amount)}"
                    