#d_user_dashboard
  .container
    .panel.panel-default
      = render partial: "dashboard_header"
      .panel-body
        #wallet
          %h2.text-center
            %ul.nav.nav-tabs
              %li
                %a{href: "/users/wallet"}
                  Bookings
              %li.active
                %a{href: "/users/reservations"}
                  Reservations
              %li
                %a{href: "/users/payouts"} 
                  Payouts

          .panel-body
            %h4 Upcoming Reservations
            = render partial: 'upcoming_past_reservations', locals: {scope: "upcoming"}
            %h4 Past Reservations
            = render partial: 'upcoming_past_reservations', locals: {scope: "past"}


:javascript
  reservations_init();

  $('.request_approve_btn').click(function(e) {
    var response = confirm("Approve this adventure request?");

    if(response == true){
      var res_id = this.getAttribute('id')

      e.preventDefault();
      $.ajax({
        url: "/reservations/" + res_id,
        dataType: "script",
        data: {approve: "true", #{request_forgery_protection_token.to_s}: "#{form_authenticity_token}"},
        type: "POST",
        method: "PUT",
        beforeSend: function() {
          $('#'+res_id+'.request_approve_btn').fadeOut(200, function() {
            $(this).remove();
          });
          $('#'+res_id+'.request_reject_btn').fadeOut(200, function() {
            $(this).remove();
          });
          $('.requested_approved_msg').fadeIn();
        }
      });
    }
  });

  $('.request_reject_btn').click(function(e) {
    var response = confirm("Reject this adventure request?");

    if(response == true){
      var res_id = this.getAttribute('id')

      e.preventDefault();
      $.ajax({
        url: "/reservations/" + res_id,
        dataType: "script",
        data: {approve: "false", #{request_forgery_protection_token.to_s}: "#{form_authenticity_token}"},
        type: "POST",
        method: "PUT",
        beforeSend: function() {
          $('#'+res_id+'.request_approve_btn').fadeOut(200, function() {
            $(this).remove();
          });
          $('#'+res_id+'.request_reject_btn').fadeOut(200, function() {
            $(this).remove();
          });
          $('.requested_rejected_msg').fadeIn();
        }
      });
    }
  });
                  