- set_meta_tags(default_meta_tags)

#d_user_dashboard
  .container
    .panel.panel-default
      = render partial: "dashboard_header"
      .panel-body
        #wallet
          %h2.text-center
            %ul.nav.nav-tabs
              %li.active
                %a{href: "/users/wallet"}
                  Bookings
              %li
                %a{href: "/users/reservations"}
                  Reservations
              %li
                %a{href: "/users/payouts"} 
                  Payouts
              


          - if current_user.credit > 0
            .travel-fund-credit
              Advlo Credit:
              %span= "$#{sprintf('%.2f',current_user.credit)}"
              %br
              %i.text-center (applicable to adventures $30 or more)

                  
          .panel-heading.text-center
            .panel-body
              - if @upcoming_reservations.empty? && @cancelled_reservations.empty? && @past_reservations.empty?
                .col-md-6.col-md-offset-3
                  .alert.alert-warning.text-center
                    You have no bookings
                  %a.btn.btn-default.empty_wallet_btn{href: "/adventures"}
                    START EXPLORING

              
              - else
                - if !@upcoming_reservations.empty?
                  = render partial: 'bookings_table', :locals => {reservations: @upcoming_reservations, reservation_type: 'Upcoming'}
                  
                - if !@past_reservations.empty?
                  = render partial: 'bookings_table', :locals => {reservations: @past_reservations, reservation_type: 'Past'}

                - if !@cancelled_reservations.empty?
                  = render partial: 'bookings_table', :locals => {reservations: @cancelled_reservations, reservation_type: 'Cancelled'}

  = render partial: "user_cancel_reservation_modal"

:javascript
  bookings_init();