#d_user_dashboard
  .container
    .panel.panel-default
      = render partial: "dashboard_header"
      .panel-body
        #wallet
          %h2.text-center
            %ul.nav.nav-tabs
              %li.active
                %a{href: "#"}
                  Bookings
              %li
                %a{href: "/users/reservations"}
                  Reservations
              %li
                %a{href: "/users/payouts"} 
                  Payouts
                  
          .panel-heading.text-center
            .panel-body
              - if @upcoming_reservations.empty?
                .col-md-6.col-md-offset-3
                  .alert.alert-warning.text-center
                    You have no reservations
                  %span= link_to 'Get out there', "/adventures?location=denver#{current_user.location}"

              
              - else
                - if !@upcoming_reservations.empty?
                  = render partial: 'reservations_table', :locals => {reservations: @upcoming_reservations, reservation_type: 'Upcoming'}
                  
                - if !@past_reservations.empty?
                  = render partial: 'reservations_table', :locals => {reservations: @past_reservations, reservation_type: 'Past'}