!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1.center 

    .indented.text-left
      ="Hey #{@email.email},"
      awesome you decided to join us. 
      %p
        We promise not to
        %i spam you
        but we 
        %i will 
        keep you updated with nearby adventures & epic stories about crazy travel experiences around the world.
      %p
        BUT before we forget..
        You deserve that 
        %a{href:"#{root_url}travel-fund/secret"} exclusive invite
        we promised you

      %p.text-center
        %i{style: 'font-size: 9px;'} free money ^

    .content
      %h1
        Stories
      %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "100%"}
        %tr
          %td
            - @latest_blogs.each do |adventure|
              .adventure-wrapper{style: 'position: relative; float: left; width: 100%; height: 225px;'}
                .adventure{style: 'position: relative; width: 50%; float: left; margin-right: 25px;'}
                  %a{href: "#{root_url}blog/#{adventure.permalink}", style: 'text-decoration: none; color: #000;'}
                    %img{alt: adventure.title, height: "auto", src: adventure.attachment.url(:medium), style: 'width: 100%;'}

                .share-links{style: 'position: relative; width: 40%; float: right;'}
                  %h2= link_to "#{adventure.title[0..40]}...","#{root_url}blog/#{adventure.permalink}"
                  %p= "#{adventure.body[0..50]}..."

                  - share_url = "#{root_url}blog/#{adventure.permalink}"

                  %a{href:"http://www.facebook.com/sharer.php?s=100&p[title]=" + adventure.title + '&p[url]=' + URI.escape(share_url, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) }= image_tag "#{root_url}/assets/fb-email-bd69e985af97389bf052774e3531541b.png"

                  %a{href:"https://twitter.com/share?url=" + share_url + "&text=" + "@advlo_ blogpost " + adventure.title + ' on Adventure Local'}= image_tag "#{root_url}/assets/twitter-email-f21c89929bcdb0751198c7318d9e7f53.png"

                  %a.btn.btn-default.social_btn.gp{href: "https://plus.google.com/share?url=#{share_url}"}= image_tag "#{root_url}/assets/gplus-email-5b11f1098ffab2a77fbae3f5f519811b.png"

                  .divider-high

      %h1
        Adventures
      %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "100%"}
        %tr
          %td
            - @adventures.each do |adventure|
              .adventure-wrapper{style: 'position: relative; float: left; width: 100%; height: 225px;'}
                .adventure{style: 'position: relative; width: 50%; float: left; margin-right: 25px;'}
                  %a{href: "#{root_url}adventures/#{adventure.slug}", style: 'text-decoration: none; color: #000;'}
                    %img{alt: adventure.title, height: "auto", src: adventure.attachment.url(:medium), style: 'width: 100%;'}

                .share-links{style: 'position: relative; width: 40%; float: right;'}
                  %h2= link_to "#{adventure.title[0..40]}...","#{root_url}adventures/#{adventure.slug}"
                  %p= "#{adventure.summary[0..50]}..."

                  - share_url = "#{root_url}adventures/#{adventure.slug}"

                  %a{href:"http://www.facebook.com/sharer.php?s=100&p[title]=" + adventure.title + '&p[url]=' + URI.escape(share_url, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) }= image_tag "#{root_url}/assets/fb-email-bd69e985af97389bf052774e3531541b.png"

                  %a{href:"https://twitter.com/share?url=" + share_url + "&text=" + "@advlo_ adventure " + adventure.title + ' on Adventure Local'}= image_tag "#{root_url}/assets/twitter-email-f21c89929bcdb0751198c7318d9e7f53.png"

                  %a.btn.btn-default.social_btn.gp{href: "https://plus.google.com/share?url=#{share_url}"}= image_tag "#{root_url}/assets/gplus-email-5b11f1098ffab2a77fbae3f5f519811b.png"

                  .divider-high
      %h1
        Destinations
      .region-wrapper
        %a{href: "#{root_url}adventures?country=United States"}          
          .region 
            = image_tag HeroImage.where(region: 'United States').first.attachment.url(:thumb)
            .region-text
              United States

        %a{href: "#{root_url}adventures?region=Asia"}  
          .region 
            = image_tag HeroImage.where(region: 'Asia').first.attachment.url(:thumb)
            .region-text
              Asia

        %a{href: "#{root_url}adventures?country=Costa Rica"}  
          .region 
            = image_tag HeroImage.where(region: 'Costa Rica').first.attachment.url(:thumb)
            .region-text
              Costa Rica

        %a{href: "#{root_url}adventures?country=Ecuador"}  
          .region 
            = image_tag HeroImage.where(region: 'Ecuador').first.attachment.url(:thumb)
            .region-text
              Ecuador

        %a{href: "#{root_url}adventures"}  
          .others_region
            .region-text
              All Locations
        


      .travel-safe
        Safe travels,
        %br
        %a{href: "#{root_url}about"}
          The Advlo Team

