!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h1.text-center Congratulations!
      %h2.text-center Your adventure has been approved
      %h4 
        = link_to @adventure.users.first.name,"#{root_url}#{user_path(@adventure.users.first)}" 
      created
      %h4
        = link_to @adventure.title, "#{root_url}adventures/#{@adventure.slug}"  


    %table#background{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tr
        %td{align: "center", valign: "top"}
          %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "650"}
            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
            
            %tr
              %td
                %a{href: "#{root_url}admin/adventures/#{@adventure.id}/edit"}
                  %img{alt: @adventure.title, height: "200", src: @adventure.attachment.url(:medium), width: "300"}

              %td{valign: "top"}
                %h4
                  = @adventure.title
                %br
                = @adventure.location
                %br
                = @adventure.summary
                %br
                = "$ #{@adventure.price}"
                %br
                = @adventure.category
                %br
                = @adventure.region
                %br
                %br

            %tr
              %h5= link_to "Check out our guide on how to most successfully market yourself to prospective travelers.", '/adventures/info'

                
            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
