<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h1 Booking Confirmation
      %h4 
        Your Book it Now times
        %ul
          - @adventure.events.each do |event|
            %li
              = "#{event.start_time.strftime("%A - %m/%d/%Y - %l:%M %P")} for #{@adventure.duration_num} #{@adventure.duration_type}"
      %h4
        = link_to @adventure.title, "#{root_url}adventures/#{@adventure.slug}"  
        %span with
        = link_to @adventure.users.first.name, user_path(@adventure.users.first)
      %h4
        Your email:
        = @adventure.users.first.email

    %table#background{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tr
        %td{align: "center", valign: "top"}
          %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "650"}
            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
            
            %tr
              %td
                %a{href: "#{root_url}adventures/#{@adventure.slug}"}
                  %img{alt: @adventure.title, height: "200", src: @adventure.attachment.url(:medium), width: "300"}

              %td{valign: "top"}
                %h2= @adventure.title
                %h4= @adventure.summary
                %h4= @adventure.other_notes
                %h4= "$ #{@adventure.price}"
            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
