<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h2= "#{@user.name ? @user.get_abbreviated_name : @user.email} requested a reservation for:"
      %h4= link_to @adventure.title, "#{root_url}adventures/#{@adventure.slug}"  
      %span on
      %h4= "#{@reservation.event_start_time.strftime("%A - %m/%d/%Y - %l:%M %P")}" 
      %p
        %h2
          = link_to 'accept / reject', "#{root_url}users/reservations"

        %i
          ="* Please respond within 24 - 48 hours."
          %br
          %br
        %i
          The traveler has not been billed at this time. If you accepts this booking, their card will be charged and you will both be notified with a confirmation email.

    %table#background{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tr
        %td{align: "center", valign: "top"}
          %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "650"}
            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
            
            %tr
              %td
                %a{href: "#{root_url}adventures/#{@adventure.slug}"}
                  %img{alt: @adventure.title, height: "200", src: @adventure.attachment.url(:medium), width: "300"}

              %td{valign: "top"}
                %h2= @adventure.title
                %h4= @adventure.summary
                %h4
                  - if @reservation.head_count == 1
                    .price= "1 person / $ #{@adventure.price}"
                  - else
                    .price= "#{@reservation.head_count} people / $ #{@adventure.price} a person"
                %h3= "Booking Price: $ #{sprintf('%.2f', @reservation.total_price)}"
                %h4= "Fee: $ #{sprintf('%.2f', @reservation.user_fee)}"


            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
