<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h2 Adventure Local confirmation
    %strong You are about to go on an adventure
    %br
    %i= @adventure.title
    with
    %i= @adventure.users.first.name
    %br= "Contact your guide at: #{@adventure.users.first.email}"
    %p
      = @reservation