<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h2 Booking Confirmation

      %strong.centered You are about to go on an adventure
      %br
      %p
        = link_to @adventure.title, "http://beta.advlo.com/adventures/#{@adventure.slug}"  
        with
        = link_to @adventure.users.first.name, user_path(@adventure.users.first)
      %p
        Contact your guide at: 
        = mail_to "#{@adventure.users.first.email}"
      %p
        = image_tag @reservation.adventure.attachment.url(:large)


    .indented
      = @reservation.inspect