Hello from Adventure Local. 
%p
  I am writing to invite you to participate in our $1000 giveaway. 
  %br
  I have emailed you before - but I figured serious adventuring money would interest you more.
  %br
  To enter simply share a facebook post. The drawing will be January 31st, so I encourage you to check it out before. Good Luck!
%p
  Here are just a couple things you can do with that kind of money on Adventure Local.
  %br
  %ul
    %li
      = link_to "2 days Freediving ( for 3 )", "http://www.advlo.com/adventures/freediving-level-1-course", style: 'text-decoration: none;'
    %br
    %li
      = link_to "5 day Burma Liveaboard", "http://www.advlo.com/adventures/5-day---14-dives-in-burma", style: 'text-decoration: none;'
    %br
    %li
      = link_to "5 day Speedflying lessons", "http://www.advlo.com/adventures/speed-flying-intro-course", style: 'text-decoration: none;'
    %br
    %li
      = link_to "8 day Ecuador Multisport adventure", "http://www.advlo.com/adventures/andes-&-amazon-multisport-%288-days%29", style: 'text-decoration: none;'
    %br
    %li
      = link_to "2 weeks Kitesurfing in South Africa", "http://www.advlo.com/adventures/kitesurfing-in-south-africa", style: 'text-decoration: none;'
      


%p
  %a{href:"#{root_url}giveway", style: "text-decoration: none; color: #fff"}
    .text-center.entries-btn{style: "width: 200px; float: left; margin: 0 auto; padding: 10px 19px;font-size: 17px;line-height: 1.471;border-radius: 6px;color: #fff;background-color: #ec7063;border-color: #ec7063;"} Enter Giveaway

%br
%br
%br
%br


