<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      = "Hello #{@name}."
      %p
        = "I found your email while searching for outdoor guides registered with the A.M.G.A. who are #{@skill} certified. <br> I'm one of the founders of Adventure Local. We are building a global community marketplace for adventure travel guides.".html_safe


      %p
      %a{href:"http://advlo.com"} http://advlo.com

      %p
        Our platform would give you the ability to upload adventures, customize them with travelers, take international payments, manage bookings, and receive your payouts. We are not trying to be an up-seller platform - but a tool to help travelers connect and customize adventure trips with local certified guides. 
        If this sounds interesting I encourage you to click around and see the types of adventures & guides we are already helping to get more visibility. Perhaps it will inspire you to host something in
        = "#{@location}."
      %p
        I look forward to hearing from you and would love to answer any questions.
      
      