<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented.text-center
      %h2= "Hey #{@user.get_name_or_email.capitalize},"

      .text-left
        %p
          We’re so excited to have you be a part of the Advlo network. Everyday more and more travelers are coming to Advlo to find or request adventure trips. We will send you updates that help create, promote and sell your adventures - soon to come is a feature allowing the customization and sale of your current adventures based on the traveler’s needs. 
        %p
          Please feel free to send us feedback, feature ideas, or just to say hello. Simply reply to this email.
        

        %br
        %br
        .divider.divider-border

        %h4.text-center Here are a few social links to share your adventures
        %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "100%"}
          %tr
            %td
              - @user.adventures.approved.each do |adventure|
                .adventure-wrapper{style: 'position: relative; float: left; width: 100%; height: 225px;'}
                  .adventure{style: 'position: relative; width: 50%; float: left; margin-right: 25px;'}
                    %a{href: "#{root_url}adventures/#{adventure.slug}", style: 'text-decoration: none; color: #000;'}
                      %img{alt: adventure.title, height: "auto", src: adventure.attachment.url(:medium), style: 'width: 100%;'}

                  .share-links{style: 'position: relative; width: 40%; float: right;'}
                    %h2= "#{adventure.title[0..25]}..."
                    %p= "#{adventure.summary[0..50]}..."

                    - share_url = "#{root_url}adventures/#{adventure.slug}"

                    %a{href:"http://www.facebook.com/sharer.php?s=100&p[title]=" + adventure.title + '&p[summary]=' + adventure.summary[0..50] + '&p[url]=' + URI.escape(share_url, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) }= image_tag "#{root_url}/assets/fb-email-bd69e985af97389bf052774e3531541b.png"

                    %a{href:"https://twitter.com/share?url=" + share_url + "&text=" + "Check out my adventure " + adventure.title + ' on Adventure Local'}= image_tag "#{root_url}/assets/twitter-email-f21c89929bcdb0751198c7318d9e7f53.png"

                    %a.btn.btn-default.social_btn.gp{href: "https://plus.google.com/share?url=#{share_url}"}= image_tag "#{root_url}/assets/gplus-email-5b11f1098ffab2a77fbae3f5f519811b.png"


                    .divider-high

              


        .divider.divider-border
        %br
        %br

      %i Safe travels,
      %br
      %a{href: "#{root_url}about"} The Advlo Team