<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented.text-center
      %h2= "Hey #{@user.get_name_or_email}"

      .text-left
        %span= "In the past month, we've added #{Adventure.approved.count}" 
        %a{href: "#{root_url}/adventures"} adventures
        118 adventures in over 17 countries. We will keep you updated with the best new adventures in your area (but we promise not to bug you more than that). Please feel free to send us feedback, trip requests, or just to say hello! Simply reply to this email. 

        %br
        %br
        .divider.divider-border

        %h3.text-center Here are a few of our favorites since launch
        %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "100%"}
          %tr
            %td
              - adventure = Adventure.find(154)
              %a{href: "#{root_url}adventures/#{adventure.slug}", style: 'text-decoration: none; color: #000;'}
                %img{alt: adventure.title, height: "100px", src: adventure.attachment.url(:medium), width: "auto", style: 'margin-left: -25px; margin-right: 10px;'}
                .text-left{style: 'word-wrap: break-word; font-size: 12px; width: 120px; margin-left: -25px;'}= adventure.title
                %strong{style: 'margin-left: -25px;'}= adventure.location
            %td
              - adventure = Adventure.find(119)
              %a{href: "#{root_url}adventures/#{adventure.slug}", style: 'text-decoration: none; color: #000;'}
                %img{alt: adventure.title, height: "100px", src: adventure.attachment.url(:medium), width: "auto", style: 'margin-left: -25px; margin-right: 10px;'}
                .text-left{style: 'word-wrap: break-word; font-size: 12px; width: 120px; margin-left: -25px;'}= adventure.title
                %strong{style: 'margin-left: -25px;'}= adventure.location
            %td
              - adventure = Adventure.find(165)
              %a{href: "#{root_url}adventures/#{adventure.slug}", style: 'text-decoration: none; color: #000;'}
                %img{alt: adventure.title, height: "100px", src: adventure.attachment.url(:medium), width: "auto", style: 'margin-left: -25px; margin-right: 10px;'}
                .text-left{style: 'word-wrap: break-word; font-size: 12px; width: 120px; margin-left: -25px;'}= adventure.title
                %strong{style: 'margin-left: -25px;'}= adventure.location

        .divider.divider-border
        %br
        %br

      %i Safe travels,
      %br
      %a{href: "#{root_url}about"} The Advlo Team