<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented.text-center
      %h2= "Hey #{@user.get_name_or_email}"

      .text-center
        %p Its been a few weeks so we thought we would check in. 
      .text-left
        %span= "We have been busy since our launch and we are excited to say we have onboarded #{Adventure.approved.count}" 
        %a{href: "#{root_url}/adventures"} adventures
        in over 17 countries. We will keep you updated with awesome new adventures in your area (we promise not to bug you). Please feel free to send us feedback about the platform, cool ideas, or just say hello.

        %p Just reply to this email.

      %i Safe travels,
      %br
      %a{href: "#{root_url}about"} The Advlo Team