<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented.text-center
      %h2= "Hey #{@user.get_name_or_email}!"
      
      .text-left
        %p 
          We've been growing and have be working hard to find unique 
          %a{href: "#{root_url}adventures"}= "adventures"
          from all around the world. We found some amazing adventures nearby, and thought
          %b 
            you
          might be interested in checking them out.

        %p
          As always, want to see something different or have any questions / comments? Feel free to reach to us and reply to this email.

        %i Thanks,
        %br
        %a{href: "#{root_url}about"} The Advlo Team

    .indented

      .divider-border{style: "margin-top: 10px; margin-bottom: 5px;"}

      - @nearby_adventures.each do |adv|
        .adventure-wrapper{style: 'position: relative; float: left; width: 100%; height: 225px;'}
          .adventure{style: 'position: relative; width: 50%; float: left; margin-right: 25px;'}
            %a{href: "#{root_url}/adventures/#{adv.slug}", style: 'text-decoration: none; color: #000;'}
              .adv_img{style: "background: url('http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/256/hero/IMG_0080.JPG?1414194826') center center no-repeat; background-size: cover; width: 240px; height: 180px; margin-top: 25px;"}

          .share-links{style: 'position: relative; width: 40%; float: right;'}
            %a{href: "#{root_url}/adventures/#{adv.slug}", style: 'text-decoration: none; color: #000;'}
              %h3
                - if adv.title.length > 25
                  = "#{adv.title[0..25]}..."
                - else
                  = adv.title
              .name{style: "font-size: 0.9em; line-height: 8px;"}
                with
                %i
                  = adv.users.first.get_first_name
              %p{style: "font-size: 0.8em; line-height: 12px;"}= "#{adv.summary[0..250]}..."

            - share_url = "#{root_url}adventures/#{adv.slug}"

            %a{href:"http://www.facebook.com/sharer.php?s=100&p[title]=" + adv.title + '&p[url]=' + URI.escape(share_url, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")), style: "margin-top: -5px" }= image_tag "#{root_url}/assets/fb-email-bd69e985af97389bf052774e3531541b.png"

            %a{href:"https://twitter.com/share?url=" + share_url + "&text=" + "Check out my adventure " + adv.title + ' on Adventure Local'}= image_tag "#{root_url}/assets/twitter-email-f21c89929bcdb0751198c7318d9e7f53.png"

            %a.btn.btn-default.social_btn.gp{href: "https://plus.google.com/share?url=#{share_url}"}= image_tag "#{root_url}/assets/gplus-email-5b11f1098ffab2a77fbae3f5f519811b.png"

        .divider