<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .text-center
      %h1 Region Request
      %h4 
        = "for #{User.find(@location_request.user_id).get_abbreviated_name}" ? "#{User.find(@location_request.user_id).get_abbreviated_name}" : @location_request.email
        
      %p Thanks for requesting a region.
      %p#requested{style: "width: 70%; margin: 0 auto;"}= "We are working hard at Advlo HQ to expand the platform. We are hoping we can get to #{@location_request.location} very soon!"
        
    %table#background{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tr
        %td{align: "center", valign: "top"}
          %table#main{border: "0", cellpadding: "0", cellspacing: "20", width: "650"}
            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
            
            %tr
              %td{valign: "top"}
                %h3 
                  Location:
                %span= @location_request.location 

                %h3
                  Description: 
                %span= @location_request.description

                %h3
                  Category: 
                %span= @location_request.category.gsub(',',' - ')

                %h3
                  Budget: 
                %span= "$ #{@location_request.budget} / person"

                %h3
                  Dates: 
                %span= @location_request.dates

            %tr
              %td.divider{bgcolor: "#555555", colspan: "2", height: "2"}
