!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1.center Thanks for being so awesome!

    %h3.center   
      = "You invited #{@referrals.count} members to join Advlo."
    %h4.text-center 
      We really value you as a member, and to show our thanks, heres 
      %a{href: "#{root_url}travel-fund"} $25
      towards your next adventure
    .indented.text-center
      We will keep you updated on
      %a{href: "#{root_url}"} adventures
      in your area.

      %br
        %h4
          You Invited
        - @referrals.each do |r|
          %strong{style: 'float:left; margin-right: 30px;'}= "#{r.email}"
          %p.text-left= "signed up on #{r.created_at.strftime("%A  - %B %d")}"

