!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1.center Thanks for being so awesome!

    %h3.center   
      = "You invited #{@referrals.count} members to join Advlo."
    %h4.text-center 
      We really value you as a member.
      %br
      %br
      To show our thanks, heres 
      %a{href: "#{root_url}users/wallet"} $25
      towards your next adventure
      %br
      %i{style: 'font-size: 10px;'} (applicable to adventures $30 or more)
    .indented.text-center
      We will keep you updated on
      %a{href: "#{root_url}"} adventures
      in your area.

      %br
        %h4
          You Invited
        - @referrals.each_with_index do |r, i|
          .invited{style: 'width:100%; float: left;'}
            %strong{style: 'float:left; margin-right: 30px;'}= "#{i + 1}) #{r.email[0..29]}"
            %strong{style: 'float:right;'}= "#{r.created_at.strftime("%A  - %B %d")}"

