<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      %p 
        Hey, 
        %br
        %br
        My name is Shayan. I'm one of the founders of Adventure Local ( advlo.com ).
        %br
        %br
        I found you on TripAdvisor

        - if @category
          = "while looking for #{@category} trips"

        - if @location && !@category
          = "under #{@location} (Adventures)" 
        - elsif @location
          = "in #{@location} (Adventures)" 
        - else
          under Adventures

        with some amazing reviews and thought you might up for checking out Advlo.

        %p
          We are looking for people who can offer awesome local adventures in their area =>
          %a{href:"http://www.advlo.com/invite/partner"} http://www.advlo.com/invite/partner
          %br
          Email me back if you’re interested or know someone who might be. I would be more than happy to answer questions.