<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h2.text-center= "Thanks for signing up with Adventure Local"
      We are excited to help you connect with more travelers
      %h5
        Your adventure is accessible at: 
        = link_to @adventure.title, "#{root_url}adventures/#{@adventure.slug}"
        %br
        while your profile is accessible at:
        = link_to @adventure.users.first.name,"#{root_url}#{user_path(@adventure.users.first)}" 
      
      %p
        %i= "Your subscription started on #{Time.at(@sub.current_period_start).strftime("%m-%d-%Y")} and will be renewed on #{Time.at(@sub.current_period_end).strftime("%m-%d-%Y")}"

      %p
        * You can cancel the subscription at any time 
        %a{href: "#{root_url}users/dashboard"}here
        %br
        %br