<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .indented
      %h2.text-center= "We are sad to see you go #{@user.name.split(' ').first}"
      
      %p
        %i= "Your adventure will still be live until #{Time.at(@sub.current_period_end).strftime("%m-%d-%Y")}"

      %p
        * You can re-activate your membership anytime
        %a{href: "#{root_url}users/dashboard"}here
        %br
        %br
        %i.text-center
          Please 
          %a{href: "#{root_url}about"}contact us
          if you have any feedback about your experience with Adventure Local