!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1.center Welcome to Adventure Local

    .indented.text-left
      .text-center= "#{@user.get_name_or_email.capitalize}, thanks for joining."
      %br
      We are building a community where travelers from around the world
      can connect directly with local guides, to evololve the ways of global travel.

      %p
        Make sure to 
        - if !@user.is_guide 

          %a{href: "#{root_url}users/edit"} complete your profile
          so we know what kind of traveler you are.

        - else

          %a{href: "#{root_url}users/edit"} complete your profile
          so you can upload your own adventures to the platform.

      %p
        Excited to have you on board. If you have ideas or feedback, please do not hesitate to reach out.
      %p
        Safe travels,
        %br
        %a{href: "#{root_url}about"}
          The Advlo Team

