!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1.center Welcome to Adventure Local

    %h3.center   
      = "Your account email is: #{@user.email}"
    .indented.text-center
      You can now 
      %a{href: "#{root_url}"} book
      awesome local adventures or become a certified Advlo guide by completing 

      %a{href: '#{root_url}users/edit'} your profile

      and 

      %a{href: "#{root_url}adventures/info"} creating

      an adventure.

      %br
        %h4.center
          Excited to have you on board!
