.meta_tags
  = set_meta_tags(get_meta_tags(@user.get_abbreviated_name, @user.bio, @user.short_description))
  = set_meta_tags :og => get_og_tags(@user.get_abbreviated_name, "#{root_url}users/#{@user.to_param}", @user.bio, @user.avatar.url(:profile))
  = set_meta_tags :twitter => get_twitter_tags(@user.get_abbreviated_name, @user.bio, @user.avatar.url(:profile))