- set_meta_tags(default_meta_tags)

#invite
  - if notice
    .col-md-6.col-md-offset-3 
      .alert.alert-warning.text-center.invite-alert
        %button.close{"data-dismiss" => "alert", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        = notice.html_safe
  .container
    .panel.panel-default
      .panel-body
        .row
          .col-md-8.col-md-offset-2.text-center.number_1_text
            Share your personal invite link and be rewarded

        .row
          .col-md-6.col-md-offset-3.text-center.referral_link
            #fe_text= "#{root_url}travel-fund/#{current_user.referral_code}"
            .fa.fa-file-text#d_clip_button.my_clip_button{"data-clipboard-target" => "fe_text", "data-clipboard-text" => "#{root_url}travel-fund/#{current_user.referral_code}"}
          

        .row.text-center.social_btns
          - invite_url = "#{root_url}travel-fund/#{current_user.referral_code}"
          %a.btn.btn-default.social_btn.fb{href: "#{invite_url}", "data-title" => "Get 5$ towards an adventure", "data-desc" => "#{current_user.name? ? current_user.get_first_name : "your friend"} is giving you 5$ to join Adventure Local", "data-image" => "http://i.imgur.com/a6L0hYB.png", style: "margin-right: 25px;"}
            %i.fa.fa-facebook
          .btn.btn-default.social_btn.twitter{style: "margin-right: 25px;", "data-invite-url" => "#{invite_url}"}
            %i.fa.fa-twitter
          %a.btn.btn-default.social_btn.email{href: "mailto:?subject=Advlo%20-%20Travel%20Fund&body=Hey%20friend!%0A%0AJoin%20Adventure%20Local%20and%20get%20five%20bucks%20on%20sign%20up%3A%0A%0A#{invite_url}%0A%0AThanks%2C%0A#{current_user.name ? current_user.get_abbreviated_name : ''}"}
            %i.fa.fa-envelope-o


        .border

        - referral_count = current_user.referral_count

        - if 5 - referral_count > 0
          .row.text-center.referral_icons
            - for i in 1..5
              %i.fa.fa-male{style: "font-size: #{i*22}px; #{referral_count != 0 ? (i <= referral_count ? "color: #699967;" : "color: rgba(0,0,0,0.3)")  : "color: rgba(0,0,0,0.3);"}"}

          .row
            .col-md-8.col-md-offset-2.text-center.number_2_text
              - if (5-referral_count) == 1
                = 5 - referral_count
                more referral sign-up till you get:
              - elsif (5-referral_count) == 5
                If any
                = 5 - referral_count
                referrals sign-up, you get:
              - else
                = 5 - referral_count
                more referral sign-ups till you get:

          .row
            .col-md-8.col-md-offset-2.text-center.number_2_money
              $25
          .row
            .col-md-8.col-md-offset-2.text-center.number_2_credit
              TRAVEL CREDIT

          .row       
            .col-md-8.col-md-offset-2.text-center.number_1_text
              Each referral gets:
            .col-md-8.col-md-offset-2.text-center.number_2_money
              $5
          .row
            .col-md-8.col-md-offset-2.text-center.number_2_credit
              TRAVEL CREDIT
        



        - else
          .row.text-center.referral_icons
            - for i in 1..5
              %i.fa.fa-male{style: "font-size: #{i*22}px; #{referral_count != 0 ? (i <= referral_count ? "color: #699967;" : "color: rgba(0,0,0,0.3)")  : "color: rgba(0,0,0,0.3);"}"}

          .row.text-center
            %h2
              Congrats! You have earned your travel fund reward
              %h3 Stay tuned for more incentive programs
            %br

          .row.text-center
            %a{href: '/adventures'}
              .btn.btn-primary.adv_info_btn{style: 'border-color: transparent; margin-top: 35px;'} Start Exploring


:javascript
  travelFundInit()