- default_meta_tags

#invite
  .container
    .panel.panel-default
      .panel-body
        .row.text-center
          .btn.btn-default.number_btn
            Invite
        
        .row
          .col-md-8.col-md-offset-2.text-center.number_1_text
            Share your personal travel-fund link with your friends

        .row
          .col-md-6.col-md-offset-3.text-center.referral_link
            = "#{root_url}travel-fund/#{current_user.referral_code}"

        .row.text-center.social_btns
          - invite_url = "#{root_url}travel-fund/#{current_user.referral_code}"
          %a.btn.btn-default.social_btn.fb{href: "#{invite_url}", "data-title" => "Adventure Local & Receive $25", "data-desc" => "Sign-up on Advlo to help your friend receive $25 towards and amazing adventure", "data-image" => "http://i.imgur.com/a6L0hYB.png", style: "margin-right: 25px;"}
            %i.fa.fa-facebook
          .btn.btn-default.social_btn.twitter{style: "margin-right: 25px;", "data-invite-url" => "#{invite_url}"}
            %i.fa.fa-twitter
          %a.btn.btn-default.social_btn.email{href: "mailto:?subject=Advlo%20-%20Travel%20Fund&body=Hey%2C%0A%0AHelp%20me%20earn%20%2425%20towards%20an%20adventure%20on%20Advlo%20by%20signing-up%20here%3A%0A%0A#{invite_url}%0A%0AThanks%2C%0A#{current_user.name ? current_user.get_abbreviated_name : ''}"}
            %i.fa.fa-envelope-o

        .border
          - referral_count = current_user.referral_count


        .row.text-center
          .btn.btn-default.number_btn
            Profit
        - if 5 - referral_count > 0
          .row
            .col-md-8.col-md-offset-2.text-center.number_2_text
              Sign-up
              = 5 - referral_count
              friends and you get:

          .row
            .col-md-8.col-md-offset-2.text-center.number_2_money
              $25
          .row
            .col-md-8.col-md-offset-2.text-center.number_2_credit
              ADVLO CREDIT
          .row
            .col-md-8.col-md-offset-2.text-center
              %em (For a maximum of $25 credit)


          .row.text-center.referral_icons
            - for i in 1..5
              %i.fa.fa-male{style: "font-size: #{i*22}px; #{referral_count != 0 ? (i <= referral_count ? "color: #699967;" : "color: rgba(0,0,0,0.3)")  : "color: rgba(0,0,0,0.3);"}"}



        - else
          .row.text-center
            %h2
              Congrats! You have earned your travel fund reward
              %h3 Stay tuned for more incentive programs
            %br
          .row.text-center.referral_icons
            - for i in 1..5
              %i.fa.fa-male{style: "font-size: #{i*22}px; #{referral_count != 0 ? (i <= referral_count ? "color: #699967;" : "color: rgba(0,0,0,0.3)")  : "color: rgba(0,0,0,0.3);"}"}

          .row.text-center
            %a{href: '/adventures'}
              .btn.btn-primary.adv_info_btn{style: 'border-color: transparent; margin-top: 35px;'} Start Exploring



:javascript
  standalone_invite_init();
          
            