- image =  @banner_image ? @banner_image.attachment.url(:hero) : "#{asset_url('/assets/background/advlo_mountains.jpg')}"
#p_banner{style: "background: url(#{image}) no-repeat center center;"}
  .container
    .row
      .col-md-4.col-md-offset-4#profile-box
        .panel.panel-default
          .panel-body.text-center
            .profile-image{style: "background: url(#{@user.get_avatar_url("medium")}) no-repeat center center;"}
            .banner_name= @user.name
            .banner_subtitle= @user.short_description
            
            - if !@user.rating.nil? || !(@user.rating == '')
              %input{id: "user_rating_value", type: "hidden", "data-host-rating"=>@user.rating}
              %input{id: "user_rating_show"}

#p_overview
  .container
    .row
      .col-md-9
        .panel.panel-default
          .panel-body
            .col-md-1
            .col-md-5
              %li.overview_item
                SEX
                %br
                %span= @user.sex
              %li.overview_item 
                BASED IN 
                %br
                %span= @user.location
            .col-md-5
              %li.overview_item_header
                LANGUAGES:
                - @user_languages.each do |l|
                  .over_item_sub= l

              %li.overview_item_header
                SKILLS / CERTIFICATIONS:
                - @user_skillsets.each do |sk|
                  .over_item_sub= sk

            .col-md-1
      .col-md-3
        .panel.panel-default
          .panel-body
            .box_header.text-center 
              CONTACT
              %br
              %span= @user.name.upcase

            .box_header_line
            .text-center
              %a.btn.btn-primary.msg_btn{href: "#", 'data-toggle' => "modal", 'data-target' => '#contact_host_modal'}
                %i.fa.fa-envelope-o
                SEND MESSAGE
            .box_social.text-center
              - if @user.fb_url && !(@user.fb_url == '')
                .row
                  .btn.btn-info.disabled
                    %i.fa.fa-check
                    Facebook
              - if @user.tw_url && !(@user.fb_url == '')
                .row
                  .btn.btn-info.disabled
                    %i.fa.fa-check
                    Twitter
              - if @user.li_url && !(@user.fb_url == '')
                .row
                  .btn.btn-info.disabled
                    %i.fa.fa-check
                    Linked In

#p_my_adventures
  .container
    .my_adv_header
      .text-center
        MY ADVENTURES
        %span.header_sub 
          %span= "( #{@user.adventures.count} )"

        - if @user.adventures.count >= 1
          #mobile-user-adventures
            .adventure-container 
              .brick-wrapper.masonry.js-masonry
                - @user.adventures.each_with_index do |adv, i|
                  %a.adventure-brick{href: adventure_path(adv.slug)}
                    .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center center;"}
                      .copy{id: "#{i}"}
                        - if adv.title.length > 38
                          .title= "#{adv.title[0..38]}..."
                        -else
                          .title= adv.title

                        - if adv.location
                          .location= "#{adv.city}, #{adv.state}".upcase
                        
                        %input{type: "hidden", id: "adv_rating_value_#{i}", "data-rating"=>"#{adv.rating}"}
                        %input{id: "adv_rating_show_#{i}"}  

                      .price= "$ #{adv.price}"

                      .copy-container{class: "copy-#{i}"}

          .shared-slider-container#user-adventure-slider
            .slider-wrapper
              %i.next.fa.fa-chevron-right#profile-next
              %i.prev.fa.fa-chevron-left#profile-prev

              - if @user.adventures
                .adventure-container
                  .brick-wrapper
                    .swiper-container
                      .swiper-wrapper
                        - @user.adventures.each_with_index do |adv, i|
                          %a.adventure-brick.swiper-slide{href: adventure_path(adv.slug)}
                            .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center center;"}
                              .copy{id: "#{i}"}
                                - if adv.title.length > 38
                                  .title= "#{adv.title[0..38]}..."
                                -else
                                  .title= adv.title

                                - if adv.location
                                  .location= "#{adv.city}, #{adv.state}".upcase

                                %input{type: "hidden", id: "adv_rating_value_#{i}", "data-rating"=>"#{adv.rating}"}
                                %input{id: "adv_rating_show_#{i}"}

                              .price= "$ #{adv.price}"
                              .user-show-copy-container{class: "copy-#{i}"}
                
              
        -else
          No adventures posted 

#p_bio
  .container
    .row
      .col-md-12
        .bio_header.text-center
          BIO
        .bio_body.text-center
          %br
          = @user.bio

#p_reviews
  .container
    .row
      .col-md-12
        .review_header
          .text-center
            REVIEWS
          - if !@reviews.empty?
            .copy-brick.container-fluid#reviews
              - @reviews.each do |review|
                = render partial: '/shared/review_brick', locals: {review: review}
          - else 
            .no_reviews_text
              There are no reviews for this host yet.

= render partial: "contact_host_modal", locals: {user: @user, res: nil}
        

:javascript
  usersShowInit();
  $(window).resize(function(){
    profileSlider()
  })
