#p_banner
  .container
    .row
      .col-md-4.col-md-offset-4
        .panel.panel-default
          .panel-body.text-center
            - if !@user.avatar_file_name.nil?
              = image_tag "#{@user.avatar.url(:profile_circle)}", :class => "img-circle img-responsive img_uploaded"
            - elsif !@user.avatar_url.nil?
              = image_tag "#{@user.avatar_url}?type=square&height=150&width=150", :class => "img-circle img-responsive"
            - else 
              = image_tag "#{@user.avatar.url(:profile_circle)}", :class => "img-circle img-responsive"

            .banner_name= @user.name
            .banner_subtitle= @user.short_description


#p_overview
  .container
    .row
      .col-md-9
        .panel.panel-default
          .panel-body
            .col-md-1
            .col-md-5
              %li.overview_item
                = @user.sex
              %li.overview_item
                = @user.get_age(@user.id)
                YEARS OLD
              %li.overview_item 
                BASED IN 
                = @user.location
            .col-md-5
              %li.overview_item_header
                LANGUAGES:
                .over_item_sub= @user.language
              %li.overview_item_header
                CERTIFICATIONS:
                .over_item_sub= @user.skillset
            .col-md-1
      .col-md-3
        .panel.panel-default
          .panel-body
            .box_header.text-center 
              CONTACT ME
            .box_header_line
            .text-center
              %a.btn.btn-primary.msg_btn{href: "#"}
                %i.fa.fa-envelope-o
                SEND MESSAGE
            .row.box_social.text-center
              .col-md-12
                - if !@user.fb_url.nil? && !@user.fb_url.empty?
                  %a{href: "http://#{@user.fb_url}", target: "_blank", style: "padding-right: 25px;"}
                    %i.fa.fa-facebook-square
                - if !@user.tw_url.nil? && !@user.tw_url.empty?
                  %a{href: "http://#{@user.tw_url}", target: "_blank", style: "padding-right: 25px;"}
                    %i.fa.fa-twitter-square
                - if !@user.li_url.nil? && !@user.li_url.empty?
                  %a{href: "http://#{@user.li_url}", target: "_blank"}
                    %i.fa.fa-linkedin-square

#p_my_adventures
  .container
    .my_adv_header 
      MY ADVENTURES
      %span.header_sub 
        VIEW ALL >>>

- #ADD ADVENTURE FORMATTING DOWN BY CK 


#p_bio
  .container
    .row
      .col-md-12
        .panel.panel-default
          .panel-body
            .bio_header
              THE BIO
            .bio_body
              = @user.bio


#p_reviews
  .container
    .row
      .col-md-12
        .panel.panel-default
          .panel-body
            .review_header
              REVIEWS
