.swiper-container
  .swiper-wrapper
    - slider_adventures.each_with_index do |adv, i|
      %a.swiper-slide.adventure-slide{href: adventure_path(adv.slug)}
        .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center 0;"}
          .copy
            - if adv.title.length > 32
              #title= "#{adv.title[0..32]}..."
            -else
              #title= adv.title

            - if adv.location.length > 37
              .location= "#{adv.location.upcase[0..37]}..."
            -else
              .location= adv.location.upcase

            %input{type: "hidden", id: "adv_rating_value_#{i}", "data-rating"=>adv.rating}
            %input{id: "adv_rating_show_#{i}"}  

          .hover-block{id: i}
            .guide-profile-image= image_tag user.get_avatar_url('large')
          .copy-container{class: "copy-#{i}"}