#footer
  .container.text-center
    .footer_text
      .col-md-3
        %a{href:"http://www.facebook.com/advlo", target: "_blank"}
          %i.fa.fa-facebook
        %a{href:"http://www.twitter.com/advlo_", target: "_blank"}
          %i.fa.fa-twitter
        %a{href:"http://www.instagram.com/advlo", target: "_blank"}
          %i.fa.fa-instagram
        %a{href:"http://plus.google.com/+Advlo-Adventure-Local", target: "_blank"}
          %i.fa.fa-google-plus
      .col-md-6
        %a{href: "#", 'data-toggle' => "modal", 'data-target' => '#contact_form_modal'}
          CONTACT US
        .dash= " - " 
        %a{href: "http://blog.advlo.com/", target: "_blank"}
          BLOG
        .dash= " - " 
        %a{href: "/terms"}
          TERMS & PRIVACY
        .dash= " - " 
        %a{href: "/about"}
          ABOUT

  - unless current_user
    #signup-please-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "signup-please-modal", role: "dialog"}
      .modal-dialog
        .modal-content
          %button.close#close-signup-modal
            %span ×
            %span.sr-only Close


          .modal-body.text-center
            .advlo_img
              = image_tag 'logos/advlo_header_logo_closed.png'
            .question-wrapper
              %h4 What kind of adventurer are you?
              %a.question.btn.btn-primary.answer-1{href: '/update-poll/answer_1', 'data-remote' => 'true', 'data-text'=> 'Looks like you are in the right place...', 'data-poll' => 'thrillseeker', 'data-answer' => 'answer-1'}
                %p Thrillseeker
              %a.question.btn.btn-success.answer-2{href: '/update-poll/answer_2', 'data-remote' => 'true', 'data-text'=> 'At Advlo we are all about cultural experiences...', 'data-poll' => 'culturalist', 'data-answer' => 'answer-2'}
                %p Culturalist
              %a.question.btn.btn-info.answer-3{href: '/update-poll/answer_3', 'data-remote' => 'true', 'data-text'=> "Its time we connected you with a local adventure...", 'data-poll' => 'vacationist', 'data-answer' => 'answer-3'}
                %p Vacationist



            .form-wrapper
              .poll-answers
                - total_answers = (@poll.answer_1 + @poll.answer_2 + @poll.answer_3).to_f
                .answer-1.btn.btn-primary.answer.disabled
                  .poll-count= @poll.answer_1 > 0 ? "#{((@poll.answer_1.to_f / total_answers).round(2) * 100).to_i}%" : "0%"
                .answer-2.btn.btn-success.answer.disabled
                  .poll-count= @poll.answer_2 > 0 ? "#{((@poll.answer_2.to_f / total_answers).round(2) * 100).to_i}%" : "0%"
                .answer-3.btn.btn-info.answer.disabled
                  .poll-count= @poll.answer_3 > 0 ? "#{((@poll.answer_3.to_f / total_answers).round(2) * 100).to_i}%" : "0%"

              #network
                %h4
              .row
                %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
                  %i.fa.fa-facebook
                  CONNECT WITH FACEBOOK

              %hr

              %form{"accept-charset" => "UTF-8", action: "/users", method: "post", roll: "form", id: 'signup_modal'}
                =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
                .form-group
                  %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email"}
                .form-group
                  %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", id: "user_password", name: "user[password]"}
                .form-group
                  %input.form-control{placeholder: "Confirm Password", type: "password", required: "required", autocomplete: "off", id: "user_password_confirmation", name: "user[password_confirmation]"}
                .row
                  %input.btn.btn-primary.sign_up_btn{name: "sign_up", type: "submit", value: "SIGN UP"}

              .row
                .btn.btn-success.sign_up_toggle_btn
                  CONNECT WITH EMAIL


  #contact_form_modal.modal.fade{role: "dialog"}
    .modal-dialog
      .modal-content
        .modal-header.text-center
          Contact Advlo
        .modal-body
          %form{"accept-charset" => "UTF-8", action: "/contact", method: "POST", id: "contact_form", "data-remote" => "true"}
            = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
            - if current_user
              = tag(:input, :type => "hidden", :name => "contact[user_id]", :value => current_user.id)

            .form-group.row
              .col-md-4 
                .form_label.text-right Email *
              .col-md-6
                %input.form-control{type: "text", name: "contact[email]", id: "contact_email", class: "email-field", value: current_user ? current_user.email : ''}

            .form-group.row
              .col-md-4 
                .form_label.text-right Comments / Question *
              .col-md-6
                %textarea.form-control{rows: "7", type: "text", name: "contact[comments]", id: "contact_comments"}
            #honeypot
              %input.form-control{type: "text", name: "honeypot", id: "honeypot", placeholder: 'This field is like a captcha for bots.. Do not fill in.'}
              
            .row.text-center
              .btn.btn-primary.contact_btn
                SUBMIT


          #contact_submitted
            .row.text-center
              .col-md-10.col-md-offset-1
                %i.fa.fa-envelope-o
                %p{style: 'font-size: 20px;'}
                  %br
                  Thanks for reaching out to us.
                  %br
                  We will get back to you as soon as we can!
  
