-# Navigation Header
%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle#mobile-toggle-button{type: "button"}
        %span.sr-only Togle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}

    #mobile-navbar
      = render partial: 'mobile_header'

    / Collect the nav links, forms, and other content for toggling
    #header-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.login-right
        %li.header-button
          %button.btn.btn-default.navbar-btn#find-adventures
            Adventures
            %b.caret
        
        %li
          %form
            %a.btn.btn-default.navbar-btn.header-button{href: "/adventures/info"}
              Join as Host

        %li
          %form
            %a.btn.btn-default.navbar-btn.header-button{href: "/blog"}
              Blog
        
        - if current_user && count = action_required(current_user)
          %li
            %form
              %a.btn.btn-default.navbar-btn{href: "/users/reservations", title: "Action Required"}
                %i.fa.fa-flag
                = "(#{count})"

        
        - if current_user
          = render partial: 'logged_in_dropdown'

        - else
          = render partial: 'logged_out_dropdown'

  #locations-menu-wrapper.locations-menu-wrapper{style: "display: none;"}
    #locations-menu
      - adv_regions.each_with_index do |r, i|
        - if adv_count(r) > 0
          .main-location
            = link_to "#{r} (#{adv_count(r)})", "/adventures?region=#{r.gsub(' ','-')}"
            - get_countries(r).each do |l|
              .sub-location.country=link_to "#{l[0]} (#{city_adv_count(l[0])})", "/adventures?country=#{l[0]}"
              - get_cities(l[0]).each do |l|
                .sub-location.city=link_to "- #{l[0]}", "/adventures?city=#{l[0]}"
                  

  = render partial: 'sign_in_modal'

  


:javascript 
  var $container = $('#locations-menu');
  var loaded = 0;

  $('html').click(function(e){
    if ((e.target.id && e.target.id == "find-adventures") || e.target.id == "homepage-explore") {
      if (e.target.id == "homepage-explore") {
        $('#find-adventures').click();
      }

      return;
    }
    else {
      $('#locations-menu-wrapper').hide()
    }
  })

  $('#find-adventures').click(function(){
    $('#locations-menu-wrapper').toggle()

    // initialize
    if(loaded == 0){
      loaded = 1
      $container.masonry({
        itemSelector: '.main-location'
      });
    }
  })