-# Navigation Header
%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      - if current_user
        %ul.nav.navbar-nav.navbar-right.current_user_fix
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              - if current_user.avatar.exists?
                = image_tag "#{current_user.avatar.url(:thumb)}", :class => "img-circle up_profile_img"
              - elsif current_user.avatar_url
                = image_tag "#{current_user.avatar_url}", :class => "img-circle fb_profile_img"
              - else 
                = image_tag 'missing.png', :class => "img-circle miss_profile_img"

              - if current_user.name.nil? || current_user.name.empty?
                = current_user.email
              - else 
                = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "/users/dashboard"} 
                  %i.fa.fa-user 
                  My Dashboard
                %a{href: "#"} 
                  %i.fa.fa-envelope-o
                  My Messages
                %a{href: "/users/sign_out", :data => {:method => "delete"}, rel: "nofollow"} 
                  %i.fa.fa-sign-out
                  Sign Out
      - else
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              LOGIN
              %b.caret
            %ul.dropdown-menu
              %li
                %form.sign_in_form{"accept-charset" => "UTF-8", action: "/users/sign_in", method: "post", roll: "form"}
                  =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
                  .form-group
                    %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email"}
                  .form-group
                    %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", id: "user_password", name: "user[password]"}
                  %input.btn.btn-primary.sign_in_btn{name: "sign_in", type: "submit", value: "Sign In"}
                  %a.btn.btn-primary.fb_btn{href: "/users/auth/facebook"}
                    %i.fa.fa-facebook
                    Connect with facebook
              %li.sign_up_link
                = link_to "Not an adventurer? Sign up", new_user_registration_path
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.adventure_margin{href: "/adventures"} ADVENTURES
        %li
          %a.host_margin{href: "/adventures/info"} HOST
    / /.navbar-collapse
  / /.container-fluid
