.review
  .reviewer-image-wrapper
    - if review.user.avatar.url(:profile_circle) != "/images/profile_circle/missing.png"
      = image_tag "#{review.user.avatar.url(:profile_circle)}"
    - else 
      = image_tag 'missing.png'
  .review-text 
    .review-body= review.body
    - if review.user.name
      .review-credit= "- #{review.user.name}"
    - else
      .review-credit= "- anonymous"
