.review{id: review.id}
  .reviewer-image-wrapper
    - if review.user.get_avatar_url(:profile_circle)
      .image-wrapper{style: "background: url(#{review.user.get_avatar_url("medium")}) no-repeat center center;"}
    - else 
      = image_tag 'missing.png'
  .review-text 
    .review-body= review.body
    - if review.user.name
      .review-credit= "- #{review.user.name}"
    - else
      .review-credit= "- anonymous"
