#adventure-partial
  .brick-wrapper.masonry.js-masonry
    - adventures.each_with_index do |adv, i|
      %a.adventure-brick{href: adventure_path(adv.slug)}
        .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center center;"}
          .copy{id: "#{i}"}
            - if adv.title.length > 38
              .title= "#{adv.title[0..38]}..."
            -else
              .title= adv.title

            - if adv.location
              - max_city_length = 16
              - max_state_length = 13

              - if adv.city.length > max_city_length && adv.state.length > max_state_length
                .location= "#{adv.city[0..max_city_length]}..., #{adv.state[0..max_state_length]}...".upcase
              - elsif adv.city.length > max_city_length && adv.state.length < max_state_length
                .location= "#{adv.city[0..max_city_length]}, #{adv.state}".upcase
              - elsif adv.city.length < max_city_length && adv.state.length > max_state_length
                .location= "#{adv.city}, #{adv.state[0..max_state_length]}".upcase
              - else
                .location= "#{adv.city}, #{adv.state}".upcase

            %input{type: "hidden", id: "adv_rating_value_#{i}", "data-rating"=>"#{adv.rating}"}
            %input{id: "adv_rating_show_#{i}"}

          .price= "$ #{adv.price}"

          .hover-block{id: i}
            .guide-image= image_tag adv.users.first.get_avatar_url('large')
          .copy-container{class: "copy-#{i}"}

    %a.adventure-brick.request_block.text-center{'data-toggle' => "modal", 'data-target' => '#request_form_modal', href: '#', style: 'text-decoration:none;'}
      .image-wrapper= image_tag 'icons/request_icon.png'
      #request-adv-text request an adventure

:javascript
  $('.request_block').click(function() {
    $('#request_form').submit();
  })