.adventure-container.adventure-container-homepage
  .brick-wrapper.masonry.js-masonry
    - adventures.each_with_index do |adv, i|
      %div.adventure-brick{:itemscope => true, :itemtype => "http://schema.org/Thing",}
        %a{href: adventure_path(adv.slug), itemprop: 'url'}
          - if adv.attachment.height(:large) >= 300
            - adv_img = adv.attachment.url(:large)
          - else
            - adv_img = adv.attachment.url(:hero)
          .rich-snippet{itemprop: 'image', src: adv.attachment.url(:thumb)}
          .image-wrapper{style: "background: url('#{adv_img}') no-repeat center center;"}
            .copy{id: "#{i}"}
              - if adv.title.length > 38
                .title{itemprop: 'name'}= "#{adv.title[0..36]}..."
              -else
                .title{itemprop: 'name'}= adv.title

              .location{itemprop: 'description'}= get_display_location(adv)
              
              .host_name= "With #{adv.host_name}"
            
            - if adv.price_type == "per_adventure"
              - if adv.price > 999
                .btn.btn-info.disabled.per_adventure_btn{style: "right: 75px !important;"}
                  PER GROUP
              - elsif adv.price > 99
                .btn.btn-info.disabled.per_adventure_btn{style: "right: 65px !important;"}
                  PER GROUP
              - else
                .btn.btn-info.disabled.per_adventure_btn
                  PER GROUP

            - if adv.duration_type == 'Days' && adv.duration_num > 1
              .btn.btn-info.disabled.days_duration_btn
                = adv.duration_num
                %br
                DAYS

            .price= "$ #{adv.price}"

            .hover-block{id: i}
              .guide-image
                .image-wrapper{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') no-repeat center center;"}
              
            .copy-container{class: "copy-#{i}"}