.adventure-container 
  .brick-wrapper.masonry.js-masonry
    - adventures.each_with_index do |adv, i|
      %a.adventure-brick{href: adventure_path(adv.slug)}
        - if adv.attachment.height(:large) >= 300
          - adv_img = adv.attachment.url(:large)
        - else
          - adv_img = adv.attachment.url(:hero)
        .image-wrapper{style: "background: url(#{adv_img}) no-repeat center center;"}
          .copy{id: "#{i}"}
            - if adv.title.length > 38
              .title= "#{adv.title[0..38]}..."
            -else
              .title= adv.title

            .location= get_display_location(adv)
            
            %input{type: "hidden", id: "adv_rating_value_#{i}", "data-rating"=>"#{adv.rating}"}
            %input{id: "adv_rating_show_#{i}"}  

          .price= "$ #{adv.price}"

          .hover-block{id: i}
            .guide-image= image_tag adv.users.first.get_avatar_url('large')
          .copy-container{class: "copy-#{i}"}