#adventure-partial
  .brick-wrapper.masonry.js-masonry
    - adventures.each_with_index do |adv, i|
      %a.adventure-brick{href: adventure_path(adv.slug)}
        .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center 0;"}
          .copy
            - if adv.title.length > 38
              .title= "#{adv.title[0..38]}..."
            -else
              .title= adv.title

            - if adv.location
              - if adv.location.length > 33
                .location= "#{adv.location.upcase[0..33]}..."
              -else
                .location= adv.location.upcase

          .price= "$ #{adv.price}"

          .hover-block{id: i}
            - usr = adv.users.first
            - if usr && usr.avatar_url == '' || usr && usr.avatar_url == nil
              .guide-image= image_tag "#{usr.avatar.url(:large)}"
            - elsif usr
              .guide-image= image_tag "#{usr.avatar_url}?type=large"
            - else
              .guide-image= image_tag 'missing.png'

          .copy-container{class: "copy-#{i}"}


/ :javascript
/   $('.adventure-brick').hover(function(){
/     $(this).css('box-shadow','-5px 3px 11px #888888')
/   }, function(){
/     $(this).css('box-shadow','none')
/   })