#filter_nav_mobile_toggle.btn.btn-default.btn-lg Filters
#filter_nav
  .filter-wrapper
    .panel.panel-default
      .panel-heading
        SORT BY:
      .panel-body
        %ul.nav.nav-pills.nav-stacked.sort_by_ul
          %li{id: "price", "data-sort_by"=>"price"}
            Price
          %li{id: "rating", "data-sort_by"=>"rating"}
            Rating

      - # SHOW LOCATION FILTER BASED ON INDEX VIEW
      .panel-heading{id: "location_heading"}
        %i.fa.fa-plus-circle
        LOCATION:
      .panel-body{id: "location_body", style: "display: none"}
        %ul.nav.nav-pills.nav-stacked.location_ul
          - if params[:region].present?
            %li.active{id: "location_all", "data-location"=>"", "data-location-type"=>"country"}
              %i.fa.fa-check{style: "margin-right: 10px;"}
              ALL

            - countries = []
            - @adventures.each do |adv|
              - countries << adv.country

            - countries.sort.uniq.each do |c|
              - c = c.gsub(' ','-')
              %li{id: "location_#{c.downcase}", "data-location"=>"#{c}"}
                = c.gsub('-',' ')

          - elsif params[:country].present?
            %li.active{id: "location_all", "data-location"=>"", "data-location-type"=>"city"}
              %i.fa.fa-check{style: "margin-right: 10px;"}
              ALL

            - cities = []
            - @adventures.each do |adv|
              - cities << adv.city

            - cities.sort.uniq.each do |c|
              - c = c.gsub(' ','-')
              %li{id: "location_#{c.downcase}", "data-location"=>"#{c}"}
                = c.gsub('-',' ')

          - elsif params[:state].present?
            %li.active{id: "location_all", "data-location"=>"", "data-location-type"=>"state"}
              %i.fa.fa-check{style: "margin-right: 10px;"}
              ALL

            - cities = []
            - @adventures.each do |adv|
              - cities << adv.city

            - cities.sort.uniq.each do |c|
              - c = c.gsub(' ','-')
              %li{id: "location_#{c.downcase}", "data-location"=>"#{c}"}
                = c.gsub('-',' ')

          - else  
            %li.active{id: "location_all", "data-location"=>"", "data-location-type"=>"continent"}
              %i.fa.fa-check{style: "margin-right: 10px;"}
              ALL
            - adv_regions.sort.each do |r|
              - if @adventures.where(region: r).count > 0
                %li{id: "location_#{r.downcase}", "data-location"=>"#{r}"}
                  = r


      .panel-heading{id: "cat_heading"}
        %i.fa.fa-plus-circle
        CATEGORY:
      .panel-body{id: "cat_body", style: "display: none"}
        %ul.nav.nav-pills.nav-stacked.cat_ul
          %li.active{id: "cat_all", "data-category"=>"all"}
            %i.fa.fa-check{style: "margin-right: 10px;"}
            ALL

          - categories = []
          - @adventures.each do |adv|
            - ind_adv_categories = adv.category.split(',')  
            - categories += ind_adv_categories

          - categories.sort.uniq.each do |cat|
            %li{id: "cat_#{cat.downcase}", "data-category"=>cat}
              = cat.downcase.capitalize
  
:javascript
  var current_location_scope = "#{params[:city]}"
  //Condition to not show the location filter choice if its on the lowest location filter (i.e. city)
  if (current_location_scope) {
    $('#filter_nav #location_heading').hide();
    $('#filter_nav #location_body').hide();
  }

  // TOGGLES
  $('#filter_nav_mobile_toggle').click(function(){
    $('#filter_nav').slideToggle()
  })

  $('#filter_nav #location_heading').click(function() {
    $('#filter_nav #location_body').slideToggle();

    $(this).find("i").rotate({
      endDeg: 90,
      duration: 0.5
    });
  })

  $('#filter_nav #cat_heading').click(function() {
    $('#filter_nav #cat_body').slideToggle();

    
    $(this).find("i").rotate({
      endDeg: 90,
      duration: 0.5
    });
  })
  
  // SORT BY
  $('#filter_nav ul.sort_by_ul li').click(function(e) {

    var region_type = $('#filter_nav ul.location_ul li#location_all').data('location-type');
    var region = "all";
    var region_one_up = "#{@filter_location}";
    var sort_by = $(this).data('sort_by');
    var categories = '';

    //Put in a check for lowest level
    if (region_type == "continent" && region_one_up.length > 0) {
      region_type = "lowest";
    }

    //Get all active categories
    var cat_array = $('#filter_nav ul.cat_ul li').map(function(i,e){
      if ($(this).hasClass('active')){
        return $(e).data('category');
      }
    });

    // Convert to js array
    cat_array = $.makeArray(cat_array);

    // Check to see if there are no categories selected
    if (cat_array.length > 0) {
      //Loop through the array and get all the categories
      for (var i in cat_array){
        if (i==0) {
          categories = cat_array[i];
        }
        else if (i > 0){
          categories = categories + '-' + cat_array[i];
        }
      }
    }
    else {
      categories = "all";
    }

    //Get all active locations
    var location_array = $('#filter_nav ul.location_ul li').map(function(i,e){
      if ($(this).hasClass('active')){
        return $(e).data('location');
      }
    });

    // Convert to js array
    location_array = $.makeArray(location_array);

    // Check to see if there are no categories selected
    if (location_array.length > 0 && location_array[0] != "") {
      //Loop through the array and convert to string for request
      for (var i in location_array){
        if (i==0) {
          region = location_array[i];
        }
        else if (i > 0){
          region = region + ',' + location_array[i];
        }
      }
    }
    else {
      region = "all";
      if (#{params[:state].present?}) {
        var state = "#{params[:state]}"
      }
    }


    //Toggle the active state
    $('#filter_nav ul.sort_by_ul li').removeClass('active');
    $(this).addClass('active');

    // remove and add icons
    var check_icon = "<i class='fa fa-check' style='margin-right: 10px;'></i>";
    
    $('#filter_nav ul.sort_by_ul li').find("i").remove();
    $(this).prepend(check_icon);

    e.preventDefault();

    if (state) {
      $.ajax({
        url: "/adventures/filter",
        dataType: "script",
        data: {
          region_one_up: region_one_up,
          region_type: region_type,
          region: region,
          state: state,
          category: categories,
          sort_by: sort_by
        },
        type: "GET",
        beforeSend: function() {
        }
      });
    }
    else {
      $.ajax({
        url: "/adventures/filter",
        dataType: "script",
        data: {
          region_one_up: region_one_up,
          region_type: region_type,
          region: region,
          category: categories,
          sort_by: sort_by
        },
        type: "GET",
        beforeSend: function() {
        }
      });
    }

  });

  // CATEGORIES
  $('#filter_nav ul.cat_ul li').click(function(e) {
    var tempScrollTop = $(window).scrollTop();

    //First check if all is clicked
    if($(this).attr('id')=="cat_all") {
      //Clear all actives
      $('#filter_nav ul.cat_ul li').removeClass('active');
      //Clear all check icons
      $('#filter_nav ul.cat_ul li').find("i").remove();
    }
    else {
      $('#filter_nav ul.cat_ul li#cat_all').removeClass('active');
      //remove check from all
      $('#filter_nav ul.cat_ul li#cat_all').find("i").remove();
    }

    //Toggle the active state (multiple allowed)
    $(this).toggleClass('active');

    // remove and add icons
    var check_icon = "<i class='fa fa-check' style='margin-right: 10px;'></i>";
    
    if($(this).find("i").length != 0) {
      $(this).find("i").remove();
    }
    else {
      $(this).prepend(check_icon);
    }

    var region_type = $('#filter_nav ul.location_ul li#location_all').data('location-type');
    var region = "all";
    var region_one_up = "#{@filter_location}";
    var categories = '';
    var sort_by = 'none';

    //Put in a check for lowest level
    if (region_type == "continent" && region_one_up.length > 0) {
      region_type = "lowest";
    }

    // Find sort_by
    if ($('#filter_nav ul.sort_by_ul li#rating').hasClass('active')){
      sort_by = 'rating';
    }
    if ($('#filter_nav ul.sort_by_ul li#price').hasClass('active')){
      sort_by = 'price';
    }

    //Get all active locations
    var location_array = $('#filter_nav ul.location_ul li').map(function(i,e){
      if ($(this).hasClass('active')){
        return $(e).data('location');
      }
    });

    // Convert to js array
    location_array = $.makeArray(location_array);

    // Check to see if there are no categories selected
    if (location_array.length > 0 && location_array[0] != "") {
      //Loop through the array and convert to string for request
      for (var i in location_array){
        if (i==0) {
          region = location_array[i];
        }
        else if (i > 0){
          region = region + ',' + location_array[i];
        }
      }
    }
    else {
      region = "all";
    }

    //Get all active categories
    var cat_array = $('#filter_nav ul.cat_ul li').map(function(i,e){
      if ($(this).hasClass('active')){
        return $(e).data('category');
      }
    });

    // Conver to js array
    cat_array = $.makeArray(cat_array);

    // Check to see if there are no categories selected
    if (cat_array.length > 0) {
      //Loop through the array and get each href attr
      for (var i in cat_array){
        // 4th element of the array is always the category
        if (i==0) {
          categories = cat_array[i];
        }
        else if (i > 0){
          categories = categories + '-' + cat_array[i];
        }
      }
    }
    else {
      categories = "all";
    }


    e.preventDefault();
    $.ajax({
      url: "/adventures/filter",
      dataType: "script",
      data: {
        region_one_up: region_one_up,
        region_type: region_type,
        region: region,
        category: categories,
        sort_by: sort_by
      },
      type: "GET",
      beforeSend: function() {
      }
    });
    
    $(window).scrollTop(tempScrollTop);
  });


  // LOCATIONS
  $('#filter_nav ul.location_ul li').click(function(e) {
    //First check if all is clicked
    if($(this).attr('id')=="location_all") {
      //Clear all actives
      $('#filter_nav ul.location_ul li').removeClass('active');
      //Clear all check icons
      $('#filter_nav ul.location_ul li').find("i").remove();
    }
    else {
      //remove check from all
      $('#filter_nav ul.location_ul li#location_all').removeClass('active');
      
      $('#filter_nav ul.location_ul li#location_all').find("i").remove();
    }

    //Toggle the active state (multiple allowed)
    $(this).toggleClass('active');

    // remove and add icons
    var check_icon = "<i class='fa fa-check' style='margin-right: 10px;'></i>";
    
    if($(this).find("i").length != 0) {
      $(this).find("i").remove();
    }
    else {
      $(this).prepend(check_icon);
    }

    var region_type = $('#filter_nav ul.location_ul li#location_all').data('location-type');
    var region = "all";
    var region_one_up = "#{@filter_location}";
    var categories = '';
    var sort_by = 'none';

    //Put in a check for lowest level
    if (region_type == "continent" && region_one_up.length > 0) {
      region_type = "lowest";
    }

    // Find sort_by
    if ($('#filter_nav ul.sort_by_ul li#rating').hasClass('active')){
      sort_by = 'rating';
    }
    if ($('#filter_nav ul.sort_by_ul li#price').hasClass('active')){
      sort_by = 'price';
    }

    //Get all active categories
    var cat_array = $('#filter_nav ul.cat_ul li').map(function(i,e){
      if ($(this).hasClass('active')){
        return $(e).data('category');
      }
    });

    // Conver to js array
    cat_array = $.makeArray(cat_array);

    // Check to see if there are no categories selected
    if (cat_array.length > 0) {
      //Loop through the array and get each href attr
      for (var i in cat_array){
        // 4th element of the array is always the category
        if (i==0) {
          categories = cat_array[i];
        }
        else if (i > 0){
          categories = categories + '-' + cat_array[i];
        }
      }
    }
    else {
      categories = "all";
    }


    //Get all active locations
    var location_array = $('#filter_nav ul.location_ul li').map(function(i,e){
      if ($(this).hasClass('active')){
        return $(e).data('location');
      }
    });

    // Convert to js array
    location_array = $.makeArray(location_array);

    if (location_array.length > 0 && location_array[0] != "") {
      //Loop through the array and convert to string for request
      for (var i in location_array){
        if (i==0) {
          region = location_array[i];
        }
        else if (i > 0){
          region = region + ',' + location_array[i];
        }
      }
    }
    else {
      region = "all";
      if (#{params[:state].present?}) {
        var state = "#{params[:state]}"
      }
    }


    e.preventDefault();

    if (state) {
      $.ajax({
        url: "/adventures/filter",
        dataType: "script",
        data: {
          region_one_up: region_one_up,
          region_type: region_type,
          region: region,
          state: state,
          category: categories,
          sort_by: sort_by
        },
        type: "GET",
        beforeSend: function() {
        }
      });
    }
    else {
      $.ajax({
        url: "/adventures/filter",
        dataType: "script",
        data: {
          region_one_up: region_one_up,
          region_type: region_type,
          region: region,
          category: categories,
          sort_by: sort_by
        },
        type: "GET",
        beforeSend: function() {
        }
      });
    }

  });


