.find_locals_table
  .table-responsive
    %table.table
      %thead
        %tr
          %th.text-center Name
          %th Location
          %th Categories
          %th Adventures

      %tbody
        - locals.each do |local|
          %tr
            %td.text-center
              %a{href: "#{root_url}users/#{local.to_param}", target: "_blank"}
                .local_img{style: "background: url('#{local.get_avatar_url("medium")}') center center no-repeat"}
                .local_name.text-center= local.get_first_name.length > 12 ? "#{local.get_first_name[0..11]}.." : local.get_first_name
            %td
              - if local.adventures.first.city && local.adventures.first.city != '' 
                = "#{local.adventures.first.city}, #{local.adventures.first.country}"
              - else
                = local.adventures.first.country
            %td
              - user_cat_array = local.get_host_adventure_categories
              - user_cat_array.each do |cat|
                .cat_circle
                  = get_category_acronym(cat)
            %td
              - local.adventures.each do |adv|
                %a{href: "#{root_url}adventures/#{adv.slug}", target: "_blank"}
                  = adv.title
                %br


