- if type == 'local'
  - info = ['How it Works', 'Receive requests', 'We market your activity and send booking requests right to your inbox.','Lead Adventures','Connect with adventurers who crave more authentic, local experiences when they travel.','Get Paid', "Receive direct bank deposits or receive payments via PayPal account"]
- else
  - info = ['Manage and grow your business','Marketing',"We'll create custom webpages for your business, adventure trips, and guides.",'Operations',"Manage your bookings, customers, and payments all in one place.","Differentiation","Visually stand out, show-off your guides, and create customized itineraries with customers"]

.dark_background
  .box.col.col-md-12.text-center.all-plans-include.adventure-spec
    .headline-container
      .left-side-line
      .big-headline= info[0]
      .right-side-line
    .col.col-md-12.brick-padding
      .row
        .col.col-md-4.how-it-works-block
          .fa.fa-newspaper-o
          .feature-text
            = info[1]
          .headlines 
            = info[2]

        .col.col-md-4.how-it-works-block
          .fa.fa-motorcycle
          .feature-text
            = info[3]
          .headlines 
            = info[4]

        .col.col-md-4.how-it-works-block
          .fa.fa-money
          .feature-text
            = info[5]
          .headlines 
            = info[6]
            
            

  .box.col.col-md-12
    .headline-container
      .lightline.left-side-line
      .lightheading.big-headline Promote your business
      .lightline.right-side-line
    - img_url = ["http://s3-us-west-2.amazonaws.com/advlo/hero_images/attachments/000/000/203/hero/checkout.png?1413192968", "http://s3-us-west-2.amazonaws.com/advlo/hero_images/attachments/000/000/200/hero/adventure-page.png?1413192952", "http://s3-us-west-2.amazonaws.com/advlo/hero_images/attachments/000/000/565/thumb/photo_Aroyan_IMG_9250.jpg?1423245121"]
    .col.col-md-12.text-center.computer-slider.brick-padding
      .row
        .col.col-md-6.desktop
          .gallery
            .swiper-container.swiper-container-comp{class: "#{type}-slider"}
              .swiper-wrapper
                - img_url.each do |img|
                  .swiper-slide
                    .image-wrapper{style: "background-image: url('#{img}')"}

            #computer
              = image_tag 'comp.png'

        .col.col-md-6
          %ul
            %li 
              .main.active{class: "#{type}-1"}
                Custom Pages
                .sub 
                  Responsive webpages that showcase your adventure trips and a business profile containing your website link, reviews, photogrpahy, videos, & all your adventure listings.

            %li 
              .main{class: "#{type}-2"}
                Direct Messaging
                .sub 
                  Travelers can contact you directly to customize unique packages based on your initial uploads and your adventure skills.

            %li 
              .main{class: "#{type}-3"}
                Platform Technology
                .sub 
                  Boost your SEO & online presence. Your payment is used directly for marketing efforts such as paid advertising, social media posts, and promotional emails. 
    


    .mobile-barrier
    - img_url_2 = ["http://s3-us-west-2.amazonaws.com/advlo/hero_images/attachments/000/000/203/hero/checkout.png?1413192968", "http://s3-us-west-2.amazonaws.com/advlo/hero_images/attachments/000/000/200/hero/adventure-page.png?1413192952", "http://s3-us-west-2.amazonaws.com/advlo/hero_images/attachments/000/000/565/thumb/photo_Aroyan_IMG_9250.jpg?1423245121"]

    .col.col-md-12.text-center.computer-slider{style: "padding-bottom: 50px;"}
      .row
        .col.col-md-6
          %ul
            %li 
              .mobile-main.active{class: "mobile-#{type}-1"}
                Site Integration
                .sub 
                  Embedding your adventure listings on exisisting websites is simple, and allows travelers to book your trips online in just a few steps.
                
            %li 
              .mobile-main{class: "mobile-#{type}-2"}
                Book Trips Online
                .sub 
                  Allow customers to conveniently book your trips online 24/7 - Manage availability via calendar or respond to booking requests. 

            %li 
              .mobile-main{class: "mobile-#{type}-3"}
                Mobile Optimization
                .sub 
                  Travelers can view your pages on any device, and book adventures on the spot from their mobile phone.
            

        .col.col-md-6.desktop
          .gallery
            .swiper-container.swiper-container-comp{class: "#{type}-swiper"}
              .swiper-wrapper
                - img_url_2.each do |img|
                  .swiper-slide
                    .image-wrapper{style: "background-image: url('#{img}')"}
            #computer
              = image_tag 'comp.png'
        
          
  .box.col.col-md-12.text-center.all-plans-include.adventure-spec
    - if type == 'local'
      - price_basic = ['Basic Account', 'Free to upload', '30% commission on bookings']
      - price_member = ['Membership Account', '$30 / mo.', '0% comission on bookings']
      - features = ['Individual Profile Page','Adventure Pages', 'Reservation tools', 'SEO & Content Marketing','Weekly Payouts', 'Premium listing positions','0% commission on bookings', 'Option to re-direct transaction','Connect multiple guide accounts']
      - tooltips = ['A unique page to highlight your skills & offerings','Unique listing pages that show-off your experiences', "Easily manage your account, adventures, & booking requests", "Built in SEO for each page / paid search marketing", "To your Bank or Paypal account", "Adventures under membership have first priority", "Offer your adventure at a fair price.","Option to re-direct to your own transaction system, or specify cash on site.","Allow up to 5 members join under a single account"]
    - else
      - price_basic = ['Business Account', '$49 / mo.', '5% commission']
      - price_member = ['Membership Account', '$99 / mo.', '0% comission']
      - features = ['Company Profile Page','Adventure Pages', 'Reservation tools', 'SEO & Content Marketing','Weekly Payouts', 'Premium listing positions','0% commission on bookings', 'Option to re-direct transaction','Connect multiple guide accounts']
      - tooltips = ['Custom page to beautifully showcase your local business','Unique listing pages that show-off your experiences', "Easily manage your account, adventures, & booking requests", "Built in SEO for each page / paid search marketing", "To your Bank or Paypal account", "Adventures under membership have first priority", "Offer your adventure at a fair price.","Option to re-direct to your own transaction system, or specify cash on site.","Allow up to 5 members join under a single account"]

    .col.col-md-6
      .price-box
        .price-title= price_basic[0]
        .price= price_basic[1]
        .price-explain= price_basic[2]

        .pricing-info-list
          .feature-list
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[0]}
                = features[0]
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[1]}
                = features[1]
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[2]}
                = features[2]
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[3]}
                = features[3]
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[4]}
                = features[4]

          .free-trial-box
            .price-type
              Add One Month free trial with either plan:
              
            .learn-more.adventure-checkboxes
              .unchecked
                %input{:type => "checkbox"}
                %label free month


    .col.col-md-6
      .price-box
        .price-title= price_member[0]
        .price= price_member[1]
        .price-explain= price_member[2].html_safe

        .pricing-info-list
          .feature-list
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[0]}
                = features[0]
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[1]}
                = features[1]
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[2]}
                = features[2]
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[3]}
                = features[3]
            .feature
              .fa.fa-check{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[4]}
                = features[4]
            .feature
              .fa.fa-check.extra{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[5]}
                = features[5]
            .feature
              .fa.fa-check.extra{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[6]}
                = features[6]
            .feature
              .fa.fa-check.extra{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[7]}
                = features[7]
            .feature
              .fa.fa-check.extra{'data-toggle'=>"tooltip", 'data-placement'=>"right", 'title'=> tooltips[8]}
                = features[8]


   
  
  .box.adventure_info_body
    .white_background
      .headline-container
        .lightline.left-side-line
        .lightheading.big-headline Case Studies
        .lightline.right-side-line
        
      .host_type
        Advlo hosts are skilled instructors, local guides, & outdoor professionals who can create unique travel experiences.
        
      .row
        .adventure-container.adventure-container-homepage
          .brick-wrapper
            - @adventures.each_with_index do |adv, i|
              .adv-info-wrapper
                %div.adventure-brick{:itemscope => true, :itemtype => "http://schema.org/Thing"}
                  %a{href: adventure_path(adv.slug), itemprop: 'url'}
                    - if adv.attachment.height(:large) >= 300
                      - adv_img = adv.attachment.url(:large)
                    - else
                      - adv_img = adv.attachment.url(:hero)
                    .rich-snippet{itemprop: 'image', src: adv.attachment.url(:thumb)}
                    .image-wrapper{style: "background: url('#{adv_img}') no-repeat center center;"}
                      .copy{id: "#{i}"}
                        - if adv.title.length > 38
                          .title{itemprop: 'name'}= "#{adv.title[0..36]}..."
                        - else
                          .title{itemprop: 'name'}= adv.title

                        .location{itemprop: 'description'}= get_display_location(adv)
                        
                        .host_name= "With #{adv.host_name}"

                      .hover-block{id: i}
                        .guide-image
                          .image-wrapper{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') no-repeat center center;"}
                        
                      .copy-container{class: "copy-#{i}"}
      
                .view-profile
                  =link_to "View #{adv.host_name}'s profile", user_path(adv.users.first.to_param)

  #adventure_info
    .adventure_info_body
      .gray_background
        .container.itinerary-wrapper.hosting_info_itineraries
          .row.host_header
            FAQ 

          .copy-brick.itinerary-brick
            .fa.fa-plus
            .fa.fa-minus
            .headline
              How do I create a listing?
            .description
              Create an
              %a{href: '/users/sign_up'}account
              and complete your host profile, then click 'Host an Adventure'. From there you will be able to start building your adventure.

          .copy-brick.itinerary-brick
            .fa.fa-plus
            .fa.fa-minus
            .headline
              How do payments work?
            .description
              We accept global credit card payments through
              %a{href: 'https://stripe.com/global', target: '_blank'}
                Stripe's
              secure processing framework which is PCI compliant.
              Payouts are either direct bank deposit 
              %a{href: "https://stripe.com/global", target: '_blank'}
                in a country 
              that supports it, or via
              %a{href: 'https://www.paypal.com/webapps/mpp/country-worldwide', target: '_blank'} PayPal. 
              Payouts will be triggered at the end of each week for all of your completed bookings.


          .copy-brick.itinerary-brick
            .fa.fa-plus
            .fa.fa-minus
            .headline
              Can I use my own transaction system?
            .description
              If you prefer to manage transactions on your own site or in person but still want the front-end tools and benefits of being part of the Advlo community, choose the membership plan and have access to re-direct to your own link.

          .copy-brick.itinerary-brick
            .fa.fa-plus
            .fa.fa-minus
            .headline
              Do I need a permit to offer trips?
            .description
              We review every adventure & vet hosts thoroughly before we approve adventures. As a host you agree that you are legally able to operate your activity in the location. Please review our
              %a{href: 'http://www.advlo.com/terms'} Terms of Service.

          .copy-brick.itinerary-brick
            .fa.fa-plus
            .fa.fa-minus
            .headline
              What if I receive a booking request but can't make it?
            .description
              You have the option to decline any booking requests and directly message the traveler to reschedule. If the transaction has already happened, you can cancel the booking in your dashboard and we will handle the traveler refund. 

    .box.col.col-md-12.text-center.all-plans-include.adventure-spec
      .headline-container
        .left-side-line
        .big-headline Both options include
        .right-side-line
      .col.col-md-12.brick-padding
        .row
          .col.col-md-4.how-it-works-block
            .fa.fa-envelope
            .feature-text
              Adventure requests
            .headlines 
              We market your activity and send booking requests right to your inbox.

          .col.col-md-4.how-it-works-block
            .fa.fa-globe
            .feature-text
              Global Community
            .headlines 
              Connect with adventurers who crave more authentic, local experiences when they travel.

          .col.col-md-4.how-it-works-block
            .fa.fa-money
            .feature-text
              Weekly payouts
            .headlines 
              Receive bank deposits in 
              %a{href: "https://stripe.com/global", target: '_blank'} these countries
              or create a 
              %a{href: 'https://www.paypal.com/webapps/mpp/country-worldwide', target: '_blank'} PayPal account
              for free.             

    .box
      - image = @hero_image ? @hero_image.attachment.url(:hero) : "background/#{@guide_category_img}"
      .jumbotron{:style => "background-image: url(#{image_path image})"}
    



:javascript
  $(document).ready(function(){
    $('.view-profile a').hover(function(){
      $(this).parent().parent().find($('.hover-block')).fadeIn()
    }, function(){
      $(this).parent().parent().find($('.hover-block')).fadeOut()
    })

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  })

  toggleItineraryItemsAndArrows()

  $(".learn-more.adventure-checkboxes").click(function(){
    $(this).addClass('checked')
    $(this).removeClass('unchecked')

    $.cookie('free_month', true, { expires: 1, path: '/' });
  })