.container
  .row
    //.brick-icons.overview-scroll-icon= image_tag 'magnify.png'
    .brick-title 
      OVERVIEW
  .panel.panel-default
    .panel-body
      .contact-row
        - if current_user
          .btn.btn-primary.contact_btn{href: "#", 'data-toggle' => "modal", 'data-target' => '#contact_host_modal'}
            %i.fa.fa-envelope-o
            CONTACT HOST
        - else
          .btn.btn-primary.contact_btn
            %i.fa.fa-envelope-o
            CONTACT HOST

          :javascript
            $('.contact_btn').click(function(){
              $('#member-modal').modal('show');
            })

        %br
        - fb_share_url = "#{root_url}adventures/#{@adventure.slug}"
        %a.btn.btn-default.social_btn.fb{href: "#{fb_share_url}", "data-title" => "#{@adventure.title}", "data-desc" => "#{@adventure.summary}", "data-image" => "#{@adventure.attachment.url(:medium)}", style: "margin-right: 5px;"}
          %i.fa.fa-facebook
        .btn.btn-default.social_btn.twitter{style: "margin-right: 5px;"}
          %i.fa.fa-twitter
        %a.btn.btn-default.social_btn.gp{href: "https://plus.google.com/share?url=#{fb_share_url}", onclick: "javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"}
          %i.fa.fa-google-plus
      
      .col-md-5
        .container
          .row.default-body
            .col-md-3
              %i.fa.fa-chevron-circle-right 
              %span.default-title PRICE:
            .col-md-3
              - if @adventure.price_type == 'per_adventure'
                %span.default-content= "$ #{@adventure.price} per group"
              - else 
                %span.default-content= "$ #{@adventure.price} per person"
          .row.default-body
            .col-md-3
              %i.fa.fa-chevron-circle-right 
              %span.default-title GROUP SIZE:
            .col-md-3
              %span.default-content= "#{@adventure.cap_min} - #{@adventure.cap_max} people"
          .row.default-body
            .col-md-3
              %i.fa.fa-chevron-circle-right 
              %span.default-title DURATION:
            .col-md-3
              %span.default-content= "#{@adventure.duration_num} #{@adventure.duration_type}"
          .row.default-body
            .col-md-3
              %i.fa.fa-chevron-circle-right 
              %span.default-title LOCATION:
            .col-md-3
              %span.default-content= @adventure.location

          .row.default-body
            .col-md-3
              %i.fa.fa-chevron-circle-right 
              %span.default-title CATEGORY:
            .col-md-3
              %span.default-content{itemprop: 'category'}
                - @adventure.category.split(",").each_with_index do |cat, i|
                  - if i != (@adventure.category.split(",").count-1)
                    = cat.capitalize + " / "
                  - else 
                    = cat.capitalize

          .row.default-body
            .col-md-3
              %i.fa.fa-chevron-circle-right
              %span.default-title.summary-information SUMMARY:
          .row.default_body
            .col-md-8
              .default-summary{itemprop: 'description'}= @adventure.summary.gsub(/\n/, '<br/>').html_safe


= render partial: "users/contact_host_modal", locals: {user: @adventure.users.first, res: nil}
