.container
  .row
    //.brick-icons.overview-scroll-icon= image_tag 'magnify.png'
    .brick-title 
      OVERVIEW
  .panel.panel-default
    .panel-body
      .col-md-5
        .container
          .row.default-body
            .col-md-2
              %span.default-title GROUP SIZE:
            .col-md-3
              %span.default-content= "#{@adventure.cap_min} - #{@adventure.cap_max} people"
          .row.default-body
            .col-md-2
              %span.default-title DURATION:
            .col-md-3
              %span.default-content= "#{@adventure.duration_num} #{@adventure.duration_type}"
          .row.default-body
            .col-md-2
              %span.default-title LOCATION:
            .col-md-3
              %span.default-content= @adventure.location

          .row.default-body
            .col-md-2
              %span.default-title CATEGORY:
            .col-md-3
              %span.default-content{itemprop: 'category'}
                - @adventure.category.split(",").each_with_index do |cat, i|
                  - if i != (@adventure.category.split(",").count-1)
                    = cat.capitalize + " / "
                  - else 
                    = cat.capitalize
  .col-md-9
    .default-summary{itemprop: 'description'}= @adventure.summary.gsub(/\n/, '<br/>').html_safe