.title-brick.container-fluid
  .brick-icons.overview-scroll-icon= image_tag 'magnify.png'
  .brick-title 
    OVERVIEW

.copy-brick.container-fluid#overview
  .overview-item-wrapper

    .overview-item 
      .fa.fa-chevron-circle-right
        .default-description 
          CATEGORY :
          %span= @adventure.category.gsub(',',' / ')

    .overview-item 
      .fa.fa-chevron-circle-right
        .default-description 
          PRICE
          %span= "$ #{@adventure.price}"

    .overview-item 
      .fa.fa-chevron-circle-right
        .default-description 
          GROUP SIZE
          - if @adventure.price_type == 'per_adv'
            %span= "#{@adventure.cap_max} / group"          
          - elsif @adventure.cap_min == @adventure.cap_max
            %span= "#{@adventure.cap_max} people"
          -else
            %span= "#{@adventure.cap_min} - #{@adventure.cap_max} people"

    .overview-item 
      .fa.fa-chevron-circle-right
        .default-description 
          DURATION
          %span= "#{@adventure.duration_num} #{@adventure.duration_type}"

    .overview-item
      .fa.fa-chevron-circle-right
        .default-description 
          LOCATION
          %span= @adventure.location

  