#event-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "event-modal", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-body
        - if @all_adventure_events.empty?
          .text-center
            %em.tab_header
              Instant Reservations
            .no_ib_text
              There are no instant reservations for this adventure. 
              %br
              Try requesting one!

        - else
          .upcoming
            .row.text-center
              %em.tab_header
                Instant Reservations
            - @all_adventure_events.each do |event| 
              
              = render partial: 'event_partial', locals: {event: event}

                
      .modal-footer
        .row.text-center
          %em.tab_header
            Request a Reservation
        = render partial: 'request_time_form', locals: {adventure: @adventure}

#reservations-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "reservations-modal", role: "dialog"}
  .modal-dialog.payment-modal-wrapper
    .modal-content
      .modal-body
        - if current_user && @current_guide
          = render partial: "/reservations/new", locals: {reservation: @reservation}
        - else 
          .row
            .adventure-login-title= @adventure.title
            .btn.btn-success.sign-in-toggle
              SIGN IN
            .sign-in.mid-purchase.sign-in-form
              = render partial: 'sign_in_form', locals: {adventure: @adventure}

            .btn.btn-success.sign-up-toggle
              SIGN UP
            .sign-up.mid-purchase.sign-up-form
              = render partial: 'sign_up_form', locals: {adventure: @adventure}


#reservations-request-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "reservations-request-modal", role: "dialog"}
  .modal-dialog.payment-modal-wrapper
    .modal-content
      .modal-body
        - if current_user && @current_guide
          = render partial: "/reservations/request", locals: {reservation: @reservation}
        - else
          .adventure-login-title= @adventure.title
          .row
            .col-md-6.text-center
              .btn.btn-success.sign-in-toggle
                SIGN IN
              .sign-in.mid-purchase.sign-in-form
                = render partial: 'sign_in_form', locals: {adventure: @adventure}
            .col-md-6.text-center
              .btn.btn-success.sign-up-toggle
                SIGN UP
              .sign-up.mid-purchase.sign-up-form
                = render partial: 'sign_up_form', locals: {adventure: @adventure}


  


