#event-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "event-modal", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-body
        %ul.nav.nav-tabs.nav-justified{role: "tablist"}
          %li.active
            %a{"data-toggle" => "tab", href: ".upcoming", role: "tab"} UPCOMING
          %li
            %a{"data-toggle" => "tab", href: ".view-all", role: "tab"} VIEW ALL

        .tab-content

          .upcoming.tab-pane.active
            - @limited_adventure_events.each do |event| 
              = render partial: 'event_partial', locals: {event: event}

          .view-all.tab-pane 
            - @all_adventure_events.each do |event| 
              = render partial: 'event_partial', locals: {event: event}

      .modal-footer
        .btn.btn-default.request_time_btn{"data-target" => "#request-time-modal", "data-toggle" => "modal"}
          REQUEST TIME


#reservations-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "reservations-modal", role: "dialog"}
  .modal-dialog.payment-modal-wrapper
    .modal-content
      .modal-body
        - if current_user && @current_guide
          = render partial: "/reservations/new", locals: {reservation: @reservation}
        - else 
          = render file: 'users/sign_up', locals: {adventure: @adventure}

#request-time-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "request-time-modal", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        Request a time
      .modal-body
        - if current_user && @current_guide
          = render partial: 'request_time_form', locals: {adventure: @adventure}
        - else
          = render file: 'users/sign_up', locals: {adventure: @adventure}

          