.title-brick.container-fluid
  .reviews-icon
  .brick-title 
    Reviews

.copy-brick.container-fluid#reviews
  - @adventure_reviews.each do |review|
    = render partial: '/shared/review_brick', locals: {review: review}

  #purchase-to-review go on this adventure to leave a review

  - if current_user && current_user.reservations.each{|r| r.adventure_id == @adventure.id}
    #review-form    
      = form_for @review, remote: true do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :host_id, value: @adventure.users.first.id
        = f.hidden_field :adventure_id, value: @adventure.id
        = f.label "review"
        = f.text_field :body
        = f.submit


:javascript
  $('#purchase-to-review').click(function(){
    $('#book-it').click()
  })