.title-brick.container-fluid
  .reviews-icon
  .brick-title 
    Reviews

.copy-brick.container-fluid#reviews
  .review
    .reviewer-image-wrapper
      = image_tag "#{@current_guide.avatar.url(:thumb)}"
    .review-text 
      %span "
      Gustavo was an awesome guide because he was funny and very helpful with knowledge about the are. He's reall cool and made great fajitas for us. He also made my group feel special by taking us to a further peak once her realized our skill level was high.
      %span "
    .review-credit= "- #{@current_guide.name}"

  .review
    .reviewer-image-wrapper
      = image_tag "#{@current_guide.avatar.url(:thumb)}"
    .review-text 
      %span "
      Gustavo was an awesome guide because he was funny and very helpful with knowledge about the are. He's reall cool and made great fajitas for us. He also made my group feel special by taking us to a further peak once her realized our skill level was high.
      %span "
    .review-credit= "- #{@current_guide.name}"