- set_meta_tags(get_meta_tags("Find An Adventure", "Search our network of local adventure guides to book your next experience", "Find, Search, Guides, Local Adventure, Experience, Local Experience"))
- set_meta_tags :og => get_og_tags("Find An Adventure", "#{root_url}find", "Search our network of local adventure guides to book your next experience", "http://i.imgur.com/a6L0hYB.png")
- set_meta_tags :fb => {:app_id => '210802829129036'}
- set_meta_tags :twitter => get_twitter_tags("Find An Adventure", "Search our network of local adventure guides to book your next experience", "http://i.imgur.com/a6L0hYB.png")

#find
  .search_options{style: "background: url('#{asset_path("background/banner_background.jpeg")}') center center no-repeat"}

    .search_title
      %b{style: "font-family: proxima_black; letter-spacing: 0px;"} Find adventure.
      Search a location to view local guides and experiences they offer.

    .row
      .col-md-6.col-md-offset-3.text-center
        %form{"accept-charset" => "UTF-8", action: "/find/category", method: "post", roll: "form", id: "find_adventure_activity_form", "data-remote" => "true"}
          =tag(:input, :type => "hidden", :id => "locals", :name => "locals", :value => true)

          - adv_categories.each do |cat|
            %label.checkbox-inline
              %input{type: "checkbox", id: cat.downcase, value: cat.downcase, name: 'category[]'}
                = cat
          .row
            .btn.btn-primary.search_btn
              %i.fa.fa-search
              Search

    .row
      %form{"accept-charset" => "UTF-8", action: "/find/location", method: "post", roll: "form", id: "find_adventure_form", "data-remote" => "true"}
        =tag(:input, :type => "hidden", :id => "locals", :name => "locals", :value => true)

        .col-md-4.col-md-offset-4
          .form-group
            .input-group
              %input.form-control{placeholder: "Where to?", name: "location", id: "location", onfocus: "focusFunction()", onblur: "unfocusFunction()"}

    .row.text-center
      .btn.btn-default.show_me_select_btn.show_me_locals.active
        Locals
      .btn.btn-default.show_me_select_btn.show_me_adventures
        Adventures
      .btn.btn-default.show_me_select_btn.show_me_activities{style: "display: none;"}
        Activities
      .input-group-addon
        %i.fa.fa-search

  .search_results.dark_background
    .row
      .col-md-8.col-md-offset-2
        .begin_search.text-center
          Begin your search above

    .row
      .col-md-8.col-md-offset-2
        .no_results.text-center
          Sorry, no adventures were found in
          .location

    .row
      .col-md-10.col-md-offset-1
        .filter

    .adventure-container
      #adventure-partial

    .row
      .col-md-10.col-md-offset-1
        .locals-partial

:javascript
  adventureFind();
  


- if params[:location]
  :javascript
    load_adv_by_location("#{params[:location]}","#{params[:locals]}")
- elsif params[:categories]
  :javascript
    load_adv_by_categories("#{params[:categories]}","#{params[:locals]}")
