.adventure-page-container
  - if @hero_image
    #hero_image{style: "background-image: url('#{@hero_image.attachment.url(:hero)}');"}
  #location_text= @location ? @location.upcase : "Advlo" 
  - filters = adv_categories
  .filter-container
    %a.filter{href: "/adventures/#{@location}/all", 'data-remote' => true} 
      %span RESET
    - filters.each do |f|
      %a.filter{href: "/adventures/#{@location}/#{f}", 'data-remote' => true}
        %span= f
  .filter-static
    - filters.each do |f|
      %a.filter{href: "/adventures/#{@location}/#{f}", 'data-remote' => true}
        %span= f

  .adventure-container
    - if @adventures.first != nil
      = render partial: "adventure_index", locals: {adventures: @adventures}

    - else 
      .brick-wrapper.masonry.js-masonry
        %a.adventure-brick{href: 'adventures/info', style: 'text-decoration:none;'}
          .image-wrapper#no-adventures= image_tag 'missing.png'
          #no-adv-text Add an adventure in this area

    .text-center
      .btn.btn-default
        Show More
    .text-center
      .btn.btn-primary.request_btn{'data-toggle' => "modal", 'data-target' => '#request_form_modal'}
        Request Adventure

      = render partial: "request_modal"


:javascript
  $(window).load(function(){
    adventureIndex();
  })  

  $(window).resize(function(){
    positionLocationText()
  })

  $('#request_form .request_btn').click(function() {
    $('#request_form').submit();
  })