- @location = @location ? @location.upcase : "Adventures" 
- set_meta_tags(get_meta_tags(@location,"Connect with local hosts to create and book unique adventure travel experiences",@location))

.adventure-page-container
  - if !params[:state].present? && !params[:city].present? && !params[:country].present? || params[:country] == 'United States' || params[:country] == 'United-States'
    #region_map
    #legend
      = image_tag 'icons/map_icon2.png', class: 'pull-left'
      .legend_text.pull-right.text-center
        Advlo 
        %br
        Adventures
        %br
        - if params[:country] == 'United States' || params[:country] == 'United-States'
          (Click to see state)
        - else  
          (Click to see country)

  #hero_image_wrapper
    - if @hero_image
      #hero_image{style: "background-image: url('#{@hero_image.attachment.url(:hero)}');"}
      #hero_image_darken
    #location_text= @location 

  #adventures-content-container
    = render partial: 'filter_nav'
    
    .adventure-container.index-page
      - if @adventures.first != nil
        = render partial: "adventure_index", locals: {adventures: @adventures}
        
      - else 
        .brick-wrapper.masonry.js-masonry
          %a.adventure-brick{href: 'adventures/info', style: 'text-decoration:none;'}
            .image-wrapper#no-adventures= image_tag 'missing.png'
            #no-adv-text Host an adventure in this area

= render partial: "request_modal"

:javascript
  $(window).load(function(){
    adventureIndex();
  })  

  $(window).resize(function(){
    positionLocationText()

    if($(this).width() > 780 ){
      $('#filter_nav').show()
    }
  })

- if params[:region].present?
  :javascript
    if ($(window).width() <= 767) {
      $('#region_map').remove();
      $('#legend').remove();
    } else {
      $('#hero_image_wrapper').remove()
    }
    if ($(window).width() > 767) {
      function initialize() {
        // GET # unique countries from adventures
        var uniq_country_count = "#{Adventure.approved.where('country IS NOT NULL').uniq.pluck(:country).count}";

        var latlong = #{get_latlong.to_json};

        var j = 0;
        // CREATE STRUCT FOR REGION
        var region = {};

        for (var country in latlong) {
          region[country.replace(" ", "")] = {
            title: country,
            center: new google.maps.LatLng(latlong[country]['lat'], latlong[country]['long'])
          };

        }

        switch("#{params[:region]}") {
          case "North-America":
            var map_center = new google.maps.LatLng(46.210262, -98.926994);
            var zoom_level = 3;
            break;
          case "Asia":
            var map_center = new google.maps.LatLng(37.801327,77.058594);
            var zoom_level = 3;
            break;
          case "Europe":
            var map_center = new google.maps.LatLng(52.016256,18.825378);
            var zoom_level = 4;
            break;
          case "Latin-America":
            var map_center = new google.maps.LatLng(-12.69842,-60.449219);
            var zoom_level = 3;
            break;
          case "Africa":
            var map_center = new google.maps.LatLng(6.168751,22.519531);
            var zoom_level = 3;
            break;
          default:
            var map_center = new google.maps.LatLng(-22.742797,140.324219);
            var zoom_level = 3;
            break;
        }


        var mapOptions = {
          center: map_center,
          zoom: zoom_level,
          panControl: false,
          zoomControl: false,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          overviewMapControl: false,
          scrollwheel: false,
          disableDoubleClickZoom: true,
          draggable: false
        };


        var map = new google.maps.Map(document.getElementById("region_map"), mapOptions);
        
        var image = {
          url: "#{image_path 'icons/map_icon2.png'}",
          size: new google.maps.Size(50,50),
          origin: new google.maps.Point(0,0),
          anchor: new google.maps.Point(17,50)
        };        

        function getMarkerTitle(marker){
          return function() {
            var cont = marker.getTitle().replace(" ", "-");

            window.location.href = "#{root_url}adventures?country="+cont
          }
        }

        var i = 0;
        var marker = [];
        // CONSTRUCT ICONS & NUMBERS FOR EACH REGION
        for (var country in region) {

          marker[i] = new google.maps.Marker({
            position: region[country].center,
            map: map,
            icon: image,
            title: region[country].title
          });

          google.maps.event.addListener(marker[i], 'click', getMarkerTitle(marker[i]))

          i++;
        }

        switch("#{params[:region]}") {
          case "North-America":
            map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(document.getElementById('legend'));
            break;
          case "Asia":
           map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(document.getElementById('legend'));
            break;
          case "Europe":
            map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(document.getElementById('legend'));
            break;
          case "Latin-America":
            map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(document.getElementById('legend'));
            break;
          case "Africa":
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(document.getElementById('legend'));
            break;
          default:
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(document.getElementById('legend'));
            break;
        }

      }


      // LOAD MAP
      google.maps.event.addDomListener(window, 'load', initialize);
    }

- elsif params[:country].present? && (params[:country] == 'United States' || params[:country] == 'United-States')
  :javascript
    if ($(window).width() <= 767) {
      $('#region_map').remove();
      $('#legend').remove();
    } else {
      $('#hero_image_wrapper').remove()
    }

    if ($(window).width() > 767) {
      var latlong = #{get_latlong_states.to_json};

      // CREATE STRUCT FOR REGION
      var state_struct = {};

      for (var state in latlong) {
        state_struct[state.replace(" ", "-")] = {
          title: state,
          center: new google.maps.LatLng(latlong[state]['lat'], latlong[state]['long'])
        };
      }

      var mapOptions = {
        center: new google.maps.LatLng(41.210262, -98.926994),
        zoom: 4,
        panControl: false,
        zoomControl: false,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false,
        scrollwheel: false,
        disableDoubleClickZoom: true,
        draggable: false
      };

      var map = new google.maps.Map(document.getElementById("region_map"), mapOptions);

      map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(document.getElementById('legend'));

      var image = {
        url: "#{image_path 'icons/map_icon2.png'}",
        size: new google.maps.Size(50,50),
        origin: new google.maps.Point(0,0),
        anchor: new google.maps.Point(17,50)
      };        

      function getMarkerTitle(marker){
        return function() {
          var state = marker.getTitle().replace(" ", "-");

          window.location.href = "#{root_url}adventures?state="+state
        }
      }

      var i = 0;
      var marker = [];
      // CONSTRUCT ICONS & NUMBERS FOR EACH STATE
      for (var state_variable in state_struct) {
        marker[i] = new google.maps.Marker({
          position: state_struct[state_variable].center,
          map: map,
          icon: image,
          title: state_struct[state_variable].title
        });

        google.maps.event.addListener(marker[i], 'click', getMarkerTitle(marker[i]))

        i++;
      }

      // LOAD MAP
      google.maps.event.addDomListener(window, 'load', initialize);
    }


- else
  :javascript
    if ($(window).width() <= 767) {
      $('#region_map').remove();
      $('#legend').remove();
    } 

    if (#{!params[:country].present?} && #{!params[:city].present?} && #{!params[:state].present?} && $(window).width() > 767) {
      $('#hero_image_wrapper').remove()
    }

    $('#legend').hide();
    
    if ($(window).width() > 767) {
      function initialize() {
        // CREATE STRUCT FOR REGION
        var region = {};

        region['NorthAmerica'] = {
          title: 'North America',
          center: new google.maps.LatLng(38.210262, -98.926994),
          label_center: new google.maps.LatLng(40, -99.626994),
          count: "#{Adventure.approved.where(region: 'North America').count}"
        };
        region['Europe'] = {
          title: 'Europe',
          center: new google.maps.LatLng(50.23853, 14.979256),
          label_center: new google.maps.LatLng(51.63853, 14.279256),
          count: "#{Adventure.approved.where(region: 'Europe').count}"
        };
        region['Asia'] = {
          title: 'Asia',
          center: new google.maps.LatLng(42.234743, 82.479256),
          label_center: new google.maps.LatLng(43.734743, 81.979256),
          count: "#{Adventure.approved.where(region: 'Asia').count}"
        };
        region['Oceania'] = {
          title: 'Oceania',
          center: new google.maps.LatLng(-25.23709, 133.455819),
          label_center: new google.maps.LatLng(-23.23709, 132.855819),
          count: "#{Adventure.approved.where(region: 'Oceania').count}"
        };
        region['LatinAmerica'] = {
          title: 'Latin America',
          center: new google.maps.LatLng(-13.600957, -59.903556),
          label_center: new google.maps.LatLng(-11.600957, -60.603556),
          count: "#{Adventure.approved.where(region: 'Latin America').count}"
        };
        region['Africa'] = {
          title: 'Africa',
          center: new google.maps.LatLng(9.370649, 22.010506),
          label_center: new google.maps.LatLng(11.270649, 21.510506),
          count: "#{Adventure.approved.where(region: 'Africa').count}"
        };

        var mapOptions = {
          center: new google.maps.LatLng(30, 0),
          zoom: 2,
          panControl: false,
          zoomControl: false,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          overviewMapControl: false,
          scrollwheel: false,
          disableDoubleClickZoom: true,
          draggable: false
        };

        var map = new google.maps.Map(document.getElementById("region_map"), mapOptions);

        var image = {
          url: "#{image_path 'icons/map_icon.png'}",
          size: new google.maps.Size(50,50),
          origin: new google.maps.Point(0,0),
          anchor: new google.maps.Point(25,25)
        };
        

        function getMarkerTitle(marker){
          return function() {
            var cont = marker.getTitle().replace(" ", "-");

            window.location.href = "#{root_url}adventures?region="+cont
          }
        }

        var i = 0;
        var marker = [];
        // CONSTRUCT ICONS & NUMBERS FOR EACH REGION
        for (var continent in region) {

          marker[i] = new google.maps.Marker({
            position: region[continent].center,
            map: map,
            icon: image,
            title: region[continent].title
          });

          if (region[continent].count != "0") {
            var mapLabel = new MapLabel({
              text: region[continent].count,
              position: region[continent].label_center,
              map: map,
              fontSize: 16,
              align: 'center'
            });
          }

          google.maps.event.addListener(marker[i], 'click', getMarkerTitle(marker[i]))

          i++;
        }

      }

      google.maps.event.addDomListener(window, 'load', initialize);
    }
}


