.adventure-page-container.col-md-12
  / .jumbotron.jumbotron-adventure{style: "background: url(#{@hero_image.attachment.url(:hero)})"}
  #hero_image=image_tag @hero_image.attachment.url(:hero)
  #location_text COLORADO
  - filters = ['bike','swim','hike','camp','climb','jump','wildcard']
  .filter-container
    - filters.each do |f|
      .filter
        %span= f
  .filter-static
    - filters.each do |f|
      .filter
        %span= f

  
  

  .adventure-container
    .brick-wrapper.masonry.js-masonry
      - if @adventures
        - @adventures.each_with_index do |adv, i|
          %a.adventure-brick{href: adventure_path(adv)}
            .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center center;"}
              .copy
                - if adv.title.length > 38
                  .title= "#{adv.title[0..38]}..."
                -else
                  .title= adv.title

                .ping
                - if adv.subtitle.length > 33
                  .location= "#{adv.subtitle.upcase[0..33]}..."
                -else
                  .location= adv.subtitle.upcase

              .price $50

              .hover-block{id: i}
                #guide-image= image_tag "#{current_user.avatar_url}?type=large" if current_user && current_user.avatar_url
              .copy-container{class: "copy-#{i}"}


:javascript
  
  $(document).ready(function(){
    masonrySetup();
  })

  $(document).on('page:load', function() {
    // turbolinks
    adventureHover();
    heroScroll();
    masonrySetup();
  });