.adventure-page-container.col-md-12
  / .jumbotron.jumbotron-adventure{style: "background: url(#{@hero_image.attachment.url(:hero)})"}
  #hero_image= image_tag @hero_image.attachment.url(:hero) if @hero_image
  #location_text= @location.upcase
  - filters = ['culture', 'bike', 'hike', 'camp', 'water','snow','rock', 'wildcard']
  .filter-container
    %a.filter{href: "/adventures/#{@location}/all", 'data-remote' => true} 
      %span RESET
    - filters.each do |f|
      %a.filter{href: "/adventures/#{@location}/#{f}", 'data-remote' => true}
        %span= f
  .filter-static
    - filters.each do |f|
      %a.filter{href: "/adventures/#{@location}/#{f}", 'data-remote' => true}
        %span= f

  .adventure-container
    - if @adventures.first != nil
      = render partial: "adventure_index", locals: {adventures: @adventures}


    - else 
      .brick-wrapper.masonry.js-masonry
        %a.adventure-brick{href: 'adventures/info', style: 'text-decoration:none;'}
          .image-wrapper#no-adventures= image_tag 'missing.png'
          #no-adv-text Add an adventure in this area


:javascript
  $(window).load(function(){
    adventureIndex();
    $('#location_text').css('top', ($('#hero_image').height() / 2))
  })  

  $(window).resize(function(){
    positionLocationText()
  })