.adventure-page-container.col-md-12
  / .jumbotron.jumbotron-adventure{style: "background: url(#{@hero_image.attachment.url(:hero)})"}
  #hero_image= image_tag @hero_image.attachment.url(:hero) if @hero_image
  #location_text COLORADO
  - filters = ['bike','swim','hike','camp','climb','jump','wildcard']
  .filter-container
    - filters.each do |f|
      .filter
        %span= f
  .filter-static
    - filters.each do |f|
      .filter
        %span= f

  .adventure-container
    .brick-wrapper.masonry.js-masonry
      - if @adventures
        - @adventures.each_with_index do |adv, i|
          %a.adventure-brick{href: adventure_path(adv.slug)}
            .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center center;"}
              .copy
                - if adv.title.length > 38
                  .title= "#{adv.title[0..38]}..."
                -else
                  .title= adv.title

                .ping
                - if adv.subtitle
                  - if adv.subtitle.length > 33
                    .location= "#{adv.subtitle.upcase[0..33]}..."
                  -else
                    .location= adv.subtitle.upcase

              .price= adv.price

              .hover-block{id: i}
                #guide-image= image_tag "#{adv.users.first.avatar.url}" if adv.users.first
              .copy-container{class: "copy-#{i}"}


:javascript
  adventureIndex();

  $('#location_text').css('top', ($('#hero_image').height() / 2))

  $(window).resize(function(){
    positionLocationText()
  })