.adventure-page-container
  #hero_image_wrapper
    - if @hero_image
      #hero_image{style: "background-image: url('#{@hero_image.attachment.url(:hero)}');"}
    #location_text= @location ? @location.upcase : "Adventure Local" 

  #adventures-content-container
    = render partial: 'filter_nav'
    
    .adventure-container.index-page
      - if @adventures.first != nil
        = render partial: "adventure_index", locals: {adventures: @adventures}
        
      - else 
        .brick-wrapper.masonry.js-masonry
          %a.adventure-brick{href: 'adventures/info', style: 'text-decoration:none;'}
            .image-wrapper#no-adventures= image_tag 'missing.png'
            #no-adv-text Host an adventure in this area

= render partial: "request_modal"


:javascript
  $(window).load(function(){
    adventureIndex();
  })  

  $(window).resize(function(){
    positionLocationText()
  })
