.adventure-show-container.col-md-12
  #adventure-title
    #main_image{style: "background-image: url('#{@adventure.attachment.url(:hero)}')"}

  .col-md-3.adventure-show-infographic
    -if @current_guide
      .guide-block
        .adv-title
          - if @adventure.title.length > 25
            .shortened= @adventure.title
          - else
            = @adventure.title
        .guide-name
          = @current_guide.name
        .guide-profile-image
          %a{href: user_path(@current_guide)}
            .image-wrapper{style: "background: url(#{@current_guide.get_avatar_url("medium")}) no-repeat center center;"}


      .adventure-block
        #adventure-reviews-count        
          - if @adventure.title.length > 25
            .add_space
          - review_count = Review.where(adventure_id: @adventure.id).count
          - case review_count
          - when 0
            %em= "No Reviews"
          - when 1
            / %input{id: "adv_rating_value", type: "hidden", "data-adv-rating"=>@adventure.rating}
            %input{id: "adv_rating_show", value: @adventure.rating}
            %em.star-position= "#{review_count} Review"

          - else
            %input{id: "adv_rating_show", value: @adventure.rating}
            %em= "#{review_count} Reviews"

        #adventure-price
          %span= "$ #{@adventure.price}"
        -if !@adventure.approved || @current_guide == current_user
          #book-it.btn.btn-success.disabled{"data-target" => "#event-modal", "data-toggle" => "zl"} 
            %span 
              BOOK IT
        -else
          #book-it.btn.btn-success{"data-target" => "#event-modal", "data-toggle" => "modal"} 
            %span 
              BOOK IT

    - else
      .guide-block
        .guide-name
          Want to guide this adventure?
        .guide-profile-image
          = image_tag 'missing.png'

  - flash.each do |key, value|
    %div{class: 'alert-warning adv-show-alert'}
      = value
  .adventure-copy-wrapper
    .row
      .col-md-12#mobile-adventure-infographic.text-center
        .navigation-brick
          .guide-block
            #adventure-title-mobile
              = @adventure.title
            .guide-name
              = @current_guide.name
            
            .guide-profile-image{style: "background: url(#{@current_guide.get_avatar_url('large')}) no-repeat center center;"}
              

            .adventure-block.col-sm-12.text-center
              #adventure-price
                = "$ #{@adventure.price}"
              -if !@adventure.approved || @current_guide == current_user
                #book-it.btn.btn-success.disabled{"data-target" => "#event-modal", "data-toggle" => "modal"} 
                  %span 
                    BOOK IT
              -else
                #book-it.btn.btn-success{"data-target" => "#event-modal", "data-toggle" => "modal"} 
                  %span 
                    BOOK IT

    .row.information-container
      #overview.title-brick
        = render partial: 'overview'

      - if @adventure.itineraries.count > 0
        #itinerary.title-brick.dark_gray_background
          = render partial: 'itinerary'

      #gallery.title-brick
        = render partial: 'gallery'

      .col-md-7.offset-13
        .adventure-video-wrapper
          - if @adventure.video_url
            = raw(@adventure.embed(@adventure.video_url))
      

      = render partial: 'payment_modal'
              
      - if !@adventure.summary.empty?
        #additional_info.title-brick.dark_gray_background
          = render partial: 'additional_info'

      #host_bio.title-brick.dark_gray_background
        = render partial: 'host_bio'

      - if @adventure.approved
        #reviews.title-brick
          = render partial: 'reviews'

      #adventure_browse.title-brick.dark_gray_background
        = render partial: 'adventure_browse'
                

    .col-md-3#desktop-adventure-nav
      .navigation-brick
        %a{href: '#overview'}
          .item
            %span overview
        %a{href: '#itinerary'}
          .item
            %span itinerary
        %a{href: '#gallery'}
          .item
            %span gallery
        %a{href: '#additional_info'}
          .item
            %span additional info

    

:javascript
  adventureShow();
  navBarCatch();
  getStripeToken();
  getStripeToken_request();
  reservation_request_prefill();
  reservation_modals_show_hide();
  resizeAdventureShowImage();

  $(window).resize(function(){
    sizeSidebar();
    resizeAdventureShowImage();
  })

  $(document).ready(function(){
    $('.rating-xs').css('width','70%')
    $('.rating-xs').css('float','right')
  })