.adventure-show-container.col-md-12
  #main_image.img-responsive= image_tag @adventure.attachment.url(:large)

  .col-md-3.adventure-show-infographic
    -if @current_guide
      .guide-block
        #guide-name
          = @current_guide.name
        #guide-profile-image
          -if @current_guide.avatar_url
            = link_to (image_tag "#{@current_guide.avatar_url}?type=large"), user_path(@current_guide)
          - else
            = link_to (image_tag @current_guide.avatar.url(:large)), user_path(@current_guide)
        #guide-title
          = @current_guide.short_description


    - else
      .guide-block
        #guide-name
          Want to guide?
        #guide-profile-image
          = link_to "Click here", '/adventures/create_prefill'

      

    .adventure-block
      #adventure-title

      #adventure-price
        %span $60
      #book-it-bro
        %span BOOK IT

  .adventure-copy-wrapper
    - attributes = {:overview => @adventure.summary, :itinerary => @adventure.inspect, :reviews => @adventure.inspect, :policy => @adventure.inspect}

    .row
      .col-md-3#mobile-adventure-infographic
        .navigation-brick
          .guide-block.col-sm-6
            #guide-name
              = "Gustavo -"
              %span= "Climbing Guru"
            #guide-profile-image
              = image_tag "#{current_user.avatar_url}?type=large" if current_user && current_user.avatar_url
      

          .adventure-block.col-sm-6
            #adventure-price
              %span $60
            #book-it-bro
              %span BOOK IT

    .col-md-9.information-container
      #adventure-title= @adventure.title
      #adventure-description= @adventure.subtitle
      - attributes.each_with_index do |(key, array), i|
        - case i
        - when 0
          - id ='overview'
        - when 1
          - id ='itinerary'
        - when 2
          - id ='reviews'
        - when 3
          - id ='policy'
        .copy-brick.container-fluid{id: id}
          .ping
          .brick-title= key
          .brick-copy= array

    .col-md-3#desktop-adventure-nav
      .navigation-brick
        %a{href: '#overview'}
          .item
            %span 
              overview
        %a{href: '#itinerary'}
          .item
            %span itinerary
        %a{href: '#reviews'}
          .item
            %span reviews
        %a{href: '#policy'}
          .item
            %span policy


:javascript
  adventureShow();

  $(window).resize(function(){
    sizeSidebar();
  })