.adventure-show-container.col-md-12
  #main_image.img-responsive= image_tag @adventure.attachment.url(:large)

  .col-md-3.adventure-show-infographic
    .guide-block
      #guide-name
        Gustavo
      #guide-profile-image
        = image_tag "#{current_user.avatar_url}?type=large" if current_user && current_user.avatar_url
      #guide-title
        climbing guru

    .adventure-block
      #adventure-title

      #adventure-price
        %span $60
      #book-it-bro
        %span BOOK IT

  .adventure-copy-wrapper
    / - @adventure.attributes.each do etc..
    -text = 'Maecenas faucibus mollis interdum. Etiam porta sEtiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ulm. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. C Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ulm. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. C Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ulm. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. C Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ulm. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. C Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ulm. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. C Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ulm. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. C Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ulm. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultribulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.'
    - attributes = {:overview => text, :itinerary => text, :reviews => text, :policy => text}

    .row
      .col-md-3#mobile-adventure-infographic
        .navigation-brick
          .guide-block.col-sm-6
            #guide-name
              = "Gustavo -"
              %span= "Climbing Guru"
            #guide-profile-image
              = image_tag "#{current_user.avatar_url}?type=large" if current_user && current_user.avatar_url
      

          .adventure-block.col-sm-6
            #adventure-price
              %span $60
            #book-it-bro
              %span BOOK IT

    .col-md-9.information-container
      #adventure-title= @adventure.title
      #adventure-description future description ... goes here
      - attributes.each_with_index do |(key, array), i|
        - case i
        - when 0
          - id ='overview'
        - when 1
          - id ='itinerary'
        - when 2
          - id ='reviews'
        - when 3
          - id ='policy'
        .copy-brick.container-fluid{id: id}
          .ping
          .brick-title= key
          .brick-copy= array

    .col-md-3#desktop-adventure-nav
      .navigation-brick
        %a{href: '#overview'}
          .item
            %span 
              overview
        %a{href: '#itinerary'}
          .item
            %span itinerary
        %a{href: '#reviews'}
          .item
            %span reviews
        %a{href: '#policy'}
          .item
            %span policy


:javascript
  adventureShow();

  $(window).resize(function(){
    sizeSidebar();
  })