.adventure-show-container.col-md-12
  #adventure-title
    #main_image{style: "background-image: url('#{@adventure.attachment.url(:hero)}')"}

  .col-md-3.adventure-show-infographic
    -if @current_guide
      .guide-block
        .guide-name
          = @current_guide.name
        .adv-title
          - if @adventure.title.length > 25
            .shortened= @adventure.title
          - else
            = @adventure.title
        .guide-profile-image
          = link_to (image_tag "#{@current_guide.get_avatar_url("medium")}"), user_path(@current_guide)


      .adventure-block
        #adventure-price
          %span= "$ #{@adventure.price}"
        -if !@adventure.approved
          #book-it.btn.btn-success.disabled{"data-target" => "#event-modal", "data-toggle" => "modal"} 
            %span 
              BOOK IT
        -else
          #book-it.btn.btn-success{"data-target" => "#event-modal", "data-toggle" => "modal"} 
            %span 
              BOOK IT
    - else
      .guide-block
        .guide-name
          Want to guide this adventure?
        .guide-profile-image
          = image_tag 'missing.png'

  .adventure-copy-wrapper
    - flash.each do |key, value|
      %div{class: flash_class(key)}
        %li= value
    .row
      .col-md-12#mobile-adventure-infographic.text-center
        .navigation-brick
          .guide-block
            .guide-name
              = @current_guide.name
            
            .guide-profile-image
              - if !@current_guide
                = image_tag 'missing.png'
              - elsif @current_guide.avatar_url
                = link_to (image_tag "#{@current_guide.avatar_url}?type=large"), user_path(@current_guide)
              - elsif @current_guide.avatar.url
                = link_to (image_tag @current_guide.avatar.url(:large)), user_path(@current_guide)
      

            .adventure-block.col-sm-12.text-center
              #adventure-title-mobile
                = @adventure.title
              #adventure-price
                = "$ #{@adventure.price}"
              #book-it{"data-target" => "#event-modal", "data-toggle" => "modal"} 
                %span
                  BOOK IT

    .col-md-9.information-container
      = render partial: 'overview'

      = render partial: 'itinerary'

      = render partial: 'gallery'

      = render partial: 'payment_modal'
              
      = render partial: 'policy'

      = render partial: 'reviews'

      = render partial: 'adventure_browse'
                

    .col-md-3#desktop-adventure-nav
      .navigation-brick
        %a{href: '#overview'}
          .item
            %span overview
        %a{href: '#itinerary'}
          .item
            %span itinerary
        %a{href: '#gallery'}
          .item
            %span gallery
        %a{href: '#policy'}
          .item
            %span policy

    

:javascript
  adventureShow();
  navBarCatch();
  getStripeToken();

  $(window).resize(function(){
    sizeSidebar();
    similarAdventureSlider();
  })

  $('#main_image').css({
      height: $(window).height()*0.70
    });

  