.adventure-show-container.col-md-12
  #main_image.img-responsive= image_tag @adventure.attachment.url(:hero)

  .col-md-3.adventure-show-infographic
    -if @current_guide
      .guide-block
        #guide-name
          = @current_guide.name
        .guide-profile-image
          - if @current_guide.avatar_url
            = link_to (image_tag "#{@current_guide.avatar_url}?type=large"), user_path(@current_guide)
          - else
            = link_to (image_tag @current_guide.avatar.url(:large)), user_path(@current_guide)

        #guide-title
          = @current_guide.short_description

    - else
      .guide-block
        #guide-name
          Want to guide?
        .guide-profile-image
          = link_to "Click here", '/adventures/create_prefill'
          = image_tag 'missing.png'
    .adventure-block
      #adventure-title

      #adventure-price
        %span $60
      #book-it{"data-target" => "#event-modal", "data-toggle" => "modal"}
        %span BOOK IT

  .adventure-copy-wrapper
    .row
      .col-md-3#mobile-adventure-infographic
        .navigation-brick
          .guide-block.col-sm-6
            #guide-name
              = "Gustavo -"
              %span= "Climbing Guru"
            .guide-profile-image
              - if !@current_guide
                = image_tag 'missing.png'
              - elsif @current_guide.avatar_url
                = link_to (image_tag "#{@current_guide.avatar_url}?type=large"), user_path(@current_guide)
              - elsif @current_guide
                = link_to (image_tag @current_guide.avatar.url(:large)), user_path(@current_guide)
      

          .adventure-block.col-sm-6
            #adventure-price
              %span $60
            #book-it{"data-target" => "#event-modal", "data-toggle" => "modal"}
              %span BOOK IT

    .col-md-9.information-container
      #adventure-title= @adventure.title
      #adventure-description= @adventure.subtitle
      .copy-brick.container-fluid#overview
        .ping
        .brick-title Overview
        .brick-copy= @adventure.inspect

      .copy-brick.container-fluid#itinerary
        .ping
        .brick-title Itinerary
        .brick-copy 
          - if @itineraries
            - @itineraries.each do |itin|
              .itinerary-block
                .headline= itin.headline
                .description= itin.description

      .copy-brick.container-fluid#gallery
        .ping
        .brick-title Gallery
        .brick-copy 
          #gallery-masonry-container
            - @adventure.adventure_gallery_images.each_with_index do |gi, i|
              .gallery-image{"data-target" => "#myModal", "data-toggle" => "modal", "data-image" => gi.picture.url(:large), class: "image#{i}", id: i}
                = image_tag gi.picture.url(:thumb)

      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
        .modal-dialog
          .modal-content
            .modal-body
              %img{src: '', id: ''}

      #event-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "event-modal", role: "dialog"}
        .modal-dialog
          .modal-content
            .modal-body
              %ul.nav.nav-tabs{role: "tablist"}
                %li.active
                  %a{"data-toggle" => "tab", href: ".upcoming", role: "tab"} UPCOMING
                %li
                  %a{"data-toggle" => "tab", href: ".view-all", role: "tab"} VIEW ALL

              .tab-content
                .upcoming.tab-pane.active 
                  .container
                    - @limited_adventure_events.each do |event| 
                      .row
                        .event.btn.btn-primary= event.start_time.strftime("%l:%M %p  - %A  - %m/%d/%y")
                .view-all.tab-pane 
                  .container
                    - @all_adventure_events.each do |event| 
                      .row
                        .event.btn.btn-primary= event.start_time.strftime("%l:%M %p - %A  - %m/%d/%y")
              
              
                
          
      .copy-brick.container-fluid#policy
        .ping
        .brick-title Policy
        .brick-copy overview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview text

      .copy-brick.container-fluid#reviews
        .ping
        .brick-title Reviews
        .brick-copy overview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview textoverview text

    .col-md-3#desktop-adventure-nav
      .navigation-brick
        %a{href: '#overview'}
          .item
            %span overview
        %a{href: '#itinerary'}
          .item
            %span itinerary
        %a{href: '#gallery'}
          .item
            %span gallery
        %a{href: '#policy'}
          .item
            %span policy

    

:javascript
  adventureShow();
  $(window).resize(function(){
    sizeSidebar();
  })

  