#reservation
  = form_for reservation, url: reservations_path, method: "POST" do |f|
    = f.hidden_field :event_id
    = f.hidden_field :user_id
    = f.hidden_field :host_id
    / = f.hidden_field :recipient_id

    .field
      = label_tag "Credit Card:"
      = text_field_tag :card_number
    .field
      = label_tag "CVV"
      = text_field_tag :card_code
    .field
      = label_tag "Card Expiration"
      = select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}
      = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+7}, {name: nil, id: "card_year"}

    = f.submit "BOOK IT"
