.iten_form_partial
  - @adventure.itineraries.sort_by{|a| a.created_at}.each_with_index do |iten, i|
    %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_iten_no_#{iten.id}", "data-remote" => "true"}
      = tag(:input, :type => "hidden", :value => "put", :name => "_method")
      = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
      = tag(:input, :type => "hidden", :name => "update_iten_item", :value => "1")
      = tag(:input, :type => "hidden", :name => "adventure_id", :value => @adventure.id)
      = tag(:input, :type => "hidden", :name => "iten_id", :value => iten.id)
      .form-group.row
        .col-md-4
          .form_label.edit-label Point of Interest
        .col-md-6
          %input.form-control.show_ml{type: "text", name: "headline", id: "iten_headline", value: "#{iten.headline}", maxlength: "40", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Ex: Pick up surfboard at Seal Beach surfboard rental shop"}}
      .form-group.row
        .col-md-4
          .form_label.edit-label Description
        .col-md-6
          %textarea.form-control.show_ml{rows: "6", type: "text", name: "description", id: "iten_description", maxlength: "250", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Description of the event in the itinerary"}}
            #{iten.description}
      .text-center.row
        .col-md-3.col-md-offset-3
          %button.btn.btn-danger.add_event_btn{type: "submit", name: "delete", value: "1"}
            %i.fa.fa-minus-circle
            DELETE EVENT
        .col-md-3
          %button.btn.btn-success.add_event_btn{type: "submit", name: "update", value: "1"}
            %i.fa.fa-refresh
            UPDATE EVENT
      .divider