- # NEED TO DO SOME CHECKING WITH THESE:
- # 1) SUBSCRIBED - ALL IS GOOD
- # 2) SUBSCRIBED BUT CANCELLED & STILL WITHIN SUBSCRIPTION PERIOD
- # OTHER CASES WILL BE HANDLED MANUALLY FOR NOW

- stripe_subscription_obj = Stripe::Customer.retrieve(user_adventure.stripe_customer_id).subscriptions.retrieve(user_adventure.stripe_subscription_id)

.well.subscribed_well.text-center.col-md-6.col-md-offset-3
  THIS ADVENTURE IS UNDER A 
  %br
  .subscription_text
    SUBSCRIPTION

  %br
  START DATE:
  %br
  %b
    = Time.at(stripe_subscription_obj.current_period_start).strftime("%m-%d-%Y")

  %br
  %br
  END DATE:
  %br
  %b
    = Time.at(stripe_subscription_obj.current_period_end).strftime("%m-%d-%Y")

  %br
  %br



  - if stripe_subscription_obj.cancel_at_period_end == false
    .btn.btn-danger.cancel_subscription_btn{"data-adventure-id" => "#{@adventure.id}", "data-host-id" => "#{@adventure.users.first.id}"}
      %i.fa.fa-times
      CANCEL SUBSCRIPTION
  - elsif Time.now < Time.at(stripe_subscription_obj.current_period_end)
    THIS SUBSCRIPTION HAS BEEN CANCELLED BUT IS STILL ACTIVE UNTIL
    %br
    %b= Time.at(stripe_subscription_obj.current_period_end).strftime("%m-%d-%Y")

  %br
  %br
  To modify this subscription or if you have any questions, please contact us at: 
  = mail_to 'support@advlo.com'
