- # NEED TO DO SOME CHECKING WITH THESE:
- # 1) SUBSCRIBED - ALL IS GOOD
- # 2) SUBSCRIBED BUT CANCELLED & STILL WITHIN SUBSCRIPTION PERIOD
- # OTHER CASES WILL BE HANDLED MANUALLY FOR NOW

- stripe_subscription_obj = Stripe::Customer.retrieve(current_user.stripe_customer_id).subscriptions.retrieve(current_user.stripe_subscription_id)

.well.subscribed_well.text-center.col-md-6.col-md-offset-3
  .subscription_text
    ADVLO MEMBER

  %br
  RENEWAL DATE:
  %br
  %b
    = Time.at(stripe_subscription_obj.current_period_end).strftime("%m-%d-%Y")

  %br
  %br


  - if stripe_subscription_obj.cancel_at_period_end == false
    %a.cancel_link
      Cancel your membership?
    .btn.btn-danger.cancel_subscription_btn{"data-adventure-id" => "#{@adventure.id}", "data-host-id" => "#{@adventure.users.first.id}"}
      %i.fa.fa-times
      CANCEL MEMBERSHIP
  - elsif Time.now < Time.at(stripe_subscription_obj.current_period_end)
    YOUR MEMBERSHIP HAS BEEN CANCELLED BUT IS STILL ACTIVE UNTIL
    %br
    %b= Time.at(stripe_subscription_obj.current_period_end).strftime("%m-%d-%Y")

  %br
  %br
  To modify this membership, change your re-direct link, or if you have any questions please contact us at: 
  = mail_to 'support@advlo.com'

  %br
  %br

  - if !@adventure.is_subscribed_and_has_redirect_url?
    .row.text-center
      #default-use-bank
        %em
          %b
            How would you like to get paid?

        .text-center
          %a{href: "https://stripe.com/global", target: '_blank'} 
            Bank Supported 
          countries /
          %a{href: "https://www.paypal.com/webapps/mpp/country-worldwide", target: '_blank'}
            Paypal supported 
          countries.

      .btn.btn-default.col-md-4.col-md-offset-2.subscribe_btn_1#add-bank{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add a Bank account", style: 'margin-bottom: 15px;'}
        .fa.fa-university

      .col-md-1
      .btn.btn-default.col-md-4.subscribe_btn_1#add-paypal.text-center{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add Paypal Email Address", style: 'margin-bottom: 15px;'}
        .fa.fa-paypal


      .stripe_paypal_payouts
        = render partial: "notice"

        = render partial: "stripe_payout"

        = render partial: "paypal_payout"

