#waiver_update  
  .col-md-6.col-md-offset-3
    .well.how_to.text-center.waiver-on-file
      The waiver on file is
      %b="#{Waiver.find(@adventure.waiver_id).title}."


.row
  .waiver-btn-row
    %form{"accept-charset" => "UTF-8", action: '/delete/waiver', method: "POST", id: "delete_wavier", "data-remote" => "true"}
      = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
      = tag(:input, :type => "hidden", :name => "waiver_id", :value => Waiver.find(@adventure.waiver_id).id)
      %input.btn.btn-danger.waiver-btn{type: 'submit', value: 'DELETE'}


    %input.btn.btn-primary.waiver-btn{type: 'submit', value: 'UPDATE', id: 'update_waiver_toggle'}

.row
  .col-md-4.col-md-offset-4.paypal_update_notice.waiver-alert.alert.alert-warning.text-center{style: "display: none;"}

%form{"accept-charset" => "UTF-8", action: '/upload/waiver', method: "POST", id: "update_waiver", enctype: "multipart/form-data", 'data-remote' => true}
  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
  = tag(:input, :type => "hidden", :name => "user_id", :value => current_user.id)
  .form-group.row
    .col-md-5
      .form_label.edit-label Title
    .col-md-3
      %input.form-control{type: "text", name: "waiver[title]", id: "waiver_title", placeholder: 'waiver title'}

    .col-md-5
      .form_label.edit-label PDF
    .col-md-3
      %input.form-control{type: "file", name: "waiver[file]", id: "waiver_file"}

  .text-center
    %input.btn.btn-primary.upload-waiver-button.disabled{type: 'submit', value: 'UPDATE'}

:javascript
  $('#upload-toggle').click(function(){
    $(this).hide()
    $('#upload_waiver').show()
  })

  $('#waiver_file').on('change', function(){
    if($('#waiver_file').get(0).files.length == 1){
      $('.upload-waiver-button').removeClass('disabled')
    }
  })