.meta_tags
  = set_meta_tags(default_meta_tags)

#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_basics

      %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_edit_form", enctype: "multipart/form-data"}
        = tag(:input, :type => "hidden", :value => "put", :name => "_method")
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        = tag(:input, :type => "hidden", :name => "adventure[region]", id: "adv_region", "data-geo" => "country_short")
          
        .panel.panel-default 
          .panel-heading.text-center.section_header
            BASICS
          .panel-body
            - if @adventure && @adventure.errors.any?
              - @adventure.errors.full_messages.each do |msg|
                .alert.alert-warning.text-center= msg

            .form-group.row
              .col-md-4
                .form_label.edit-label Title *
              .col-md-6
                %input.form-control.show_ml{type: "text", required: "required", name: "adventure[title]", id: "adv_name", value: "#{@adventure.title}", maxlength: "40", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Ex: Climbing in Eldorado Canyon"}}
            .form-group.row
              .col-md-4
                .form_label.edit-label Location *
              .col-md-6
                %input.form-control.show_ml{type: "text", required: "required", name: "adventure[location]", id: "adv_location", value: "#{@adventure.location}", maxlength: "75", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Write the general adventure location. Ex: Vail, CO"}}
                .geo-complete-errors
            .row
              .col-md-4
              .col-md-6
                .location_map
            .form-group.row
              .col-md-4
                .form_label.edit-label Summary *
              .col-md-6
                %textarea.form-control.show_ml{rows: "7", type: "text", required: "required", name: "adventure[summary]", id: "adv_summary", maxlength: "800", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Market your adventure with an informative and detailed summary of what you're offering"}}
                  - if !@adventure.other_notes.nil?
                    #{@adventure.summary}
                    
            .form-group.row
              .col-md-4
                .form_label.edit-label Capacity *
              .col-md-1
                %input.form-control{type: "text", name: "adventure[cap_min]", id: "adv_cap_min", value: "#{@adventure.cap_min}"}
                .text-center Min
              .col-md-1
                %input.form-control{type: "text", name: "adventure[cap_max]", id: "adv_cap_max", value: "#{@adventure.cap_max}", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "How many people can you reasonably host while offering a great experience?"}}
                .text-center Max
                .cap-max-error
                
            .form-group.row
              .col-md-4
                .form_label.edit-label Duration *
              .col-md-1
                %input.form-control{type: "text", required: "required", name: "adventure[duration_num]", id: "adv_duration_num", value: "#{@adventure.duration_num}"}
              .col-md-2
                %select.form-control{name: "adventure[duration_type]", id: "adv_duration_type"}
                  - options_dur = ["Minutes", "Hours", "Days"]
                  - options_dur.each do |o|
                    - if @adventure.duration_type == o
                      %option{selected: "true"}= o
                    - else 
                      %option= o 
            .form-group.row
              .col-md-4
                .form_label.edit-label Price *
              .col-md-2
                .input-group
                  %span.input-group-addon
                    $
                  %input.form-control{type: "text", required: "required", name: "adventure[price]", id: "adv_price", value: "#{@adventure.price}", min: 1, max: 10000}
                  %span.input-group-addon
                    USD
              .col-md-3
                - if @adventure.price_type == 'per_adventure'
                  %label.radio-inline
                    %input{type: "radio", name: "adventure[price_type]", id: "adv_price_type", value: "per_person"}
                      Per Person
                  %label.radio-inline
                    %input{type: "radio", name: "adventure[price_type]", id: "adv_price_type", value: "per_adventure", checked: "checked"}
                      Per Group
                - else
                  %label.radio-inline
                    %input{type: "radio", name: "adventure[price_type]", id: "adv_price_type", value: "per_person", checked: "checked"}
                      Per Person
                  %label.radio-inline
                    %input{type: "radio", name: "adventure[price_type]", id: "adv_price_type", value: "per_adventure"}
                      Per Group

            .form-group.row
              .col-md-4
                .form_label.edit-label Categories *
              .col-md-6
                - options = adv_categories
                - options.each do |o|
                  %label.checkbox-inline
                    - if @adventure.category.include?(o.downcase)
                      %input{type: "checkbox", id: o.downcase, value: o.downcase, name: 'category[]', checked: "checked"}
                    - else 
                      %input{type: "checkbox", id: o.downcase, value: o.downcase, name: 'category[]'}
                    = o
            .form-group.row
              .col-md-4
                .form_label.edit-label Additional Info
              .col-md-6
                %textarea.form-control.show_ml{placeholder: "(Optional)", rows: "5", type: "text", name: "adventure[other_notes]", id: "adv_other_notes", maxlength: "600", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Ex: Things to bring, whats not included, detailed directions, etc."}}
                  - if !@adventure.other_notes.nil?
                    #{@adventure.other_notes}

            .form-group.row
              .col-md-4
                .form_label.edit-label Youtube or Vimeo video url
              .col-md-6
                %input.form-control.show_ml{type: "text", name: "adventure[video_url]", placeholder: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',id: "adv_video_url", value: "#{@adventure.video_url}", maxlength: "75", :data => {:container => "body", :toggle => "popover", :placement => "right", :content => "Input a Youtube or Vimeo video URL that highlights your adventure"}}

            .form-group
              .col-md-4
                .form_label.edit-label Main Adventure Image *
              .col-md-6
                - if !@adventure.attachment.nil?
                  %input.filestyle{type: "file", name: "adventure[attachment]", id: "adventure_attachment"}
                  %em Please choose a high quality, large photo (.png or .jpg)
                  = image_tag @adventure.attachment.url(:large), class: "img-responsive img-square", style: "margin: 15px auto;"
                - else 
                  %input.filestyle{type: "file", name: "adventure[attachment]", id: "adventure_attachment"}
                  %em Please choose a high quality, large photo (.png or .jpg)

          .panel-footer.text-center
            .row
              .col-md-2.col-md-offset-4
                %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                  %i.fa.fa-eye
                  PREVIEW
              .col-md-2
                %input.btn.btn-primary.preview_btn{name: "commit", type: "submit", value: "NEXT", target: '_blank'}
                
:javascript
  adventureCreate();
