#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_payment
      .panel.panel-default
        .panel-heading.text-center.section_header
          PAYMENT DETAILS
        .panel-body
          - if notice
            .col-md-6.col-md-offset-3.text-center
              .update_notice.alert.alert-warning
                = notice

          .row
            .col-md-4.col-md-offset-4.update_notice.alert.alert-warning.text-center{style: "display: none;"}
              Your bank account information has been updated

          - if current_user.stripe_recipient_id
            // Show existing bank / cc info with option to edit/delete etc.
            - recipient_info = Stripe::Recipient.retrieve(current_user.stripe_recipient_id)


            #add-bank{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add a Bank account"}
              .glyphicon.glyphicon-plus
              .fa.fa-university

            #updated-bank-form
              = render partial: 'updated_bank_form', locals: {recipient_info: recipient_info }


            %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "change_bank_form", "data-remote" => "true"}
              = tag(:input, :type => "hidden", :value => "put", :name => "_method")
              = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
              %input{type: 'hidden', name: 'recipient[email]', value: "#{current_user.email}"}
              %input{type: 'hidden', id: 'update_stripe_token', name: 'update_stripe_token', value: ""}
              %input{type: 'hidden', name: 'host_id', value: "#{current_user.id}"}
              %input{type: 'hidden', name: 'bank_cc_add', value: "1"}
              %input{type: 'hidden', name: 'bank_cc_update', value: "1"}
          
              .form-group.row
                .col-md-4
                  .form_label.text-right Name on Bank Account
                .col-md-6
                  %input.form-control{type: "text", placeholder: recipient_info.name, name: "recipient[bank_account_name]", id: "bank_account_name"}
                  

              .form-group.row
                .col-md-4
                  .form_label.text-right Routing Number
                .col-md-6
                  %input.form-control{type: "text", placeholder: "xxx xxx xxx", name: "recipient[bank_routing_number]", id: "bank_routing_number"}

              .form-group.row
                .col-md-4
                  .form_label.text-right Account Number
                .col-md-6
                  %input.form-control{type: "text", name: "recipient[bank_account_number]", id: "bank_account_number", placeholder: "********"+"#{recipient_info.active_account.last4}"}

              .form-group.row.save
                .btn.btn-primary{id: "update_bank_form_btn"}
                  Update Account

          - else 
            - # Render new bank / cc form
            / %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "add_cc_form", enctype: "multipart/form-data"}
            /   = tag(:input, :type => "hidden", :value => "put", :name => "_method")
            /   = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
            /   %input{type: 'hidden', name: 'recipient[email]', value: "#{current_user.email}"}

            /   #add-card{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add a Card"}
            /     .glyphicon.glyphicon-plus 
            /     .fa.fa-credit-card

            /   #add-card-form
            /     .form-group.row
            /       .col-md-4
            /         .form_label.text-right Full Name
            /       .col-md-6
            /         %input{type: 'hidden', name: 'recipient[type]', value: 'individual'}
            /         %input{type: 'hidden', name: 'recipient[tax_id]', value: ''}
            /         %input.form-control{type: "text", placeholder: "First Middle Last", name: "recipient[cardholders_name]", id: "full_name"}

            /     .form-group.row
            /       .col-md-4
            /         .form_label.text-right Card Number
            /       .col-md-6
            /         %input.form-control.show_ml{type: "text", placeholder: 'xxxx-xxxx-xxxx-xxxx', name: "recipient[credit_card_number]", id: "cc_number", maxlength: "16"}

            /     .form-group.row
            /       .col-md-4
            /         .form_label.text-right CVV
            /       .col-md-1
            /         %input.form-control.show_ml{type: "text", placeholder: 'XXX', required: "required", name: "recipient[cvv]", id: "cvv_number", maxlength: "3"}

            /     .form-group.row
            /       .col-md-4
            /         .form_label.text-right Card Expiration
            /       .col-md-2
            /         .form-group
            /           %label Exp Month
            /           %input.form-control.show_ml{placeholder: "MM", type: "text", required: "required", maxlength: "2", name: "recipient[cc_exp_month]"}
            /       .col-md-2
            /         .form-group
            /           %label Exp Year
            /           %input.form-control.show_ml{placeholder: "YYYY", type: "text", required: "required", maxlength: "4", name: "recipient[cc_exp_year]"}

            /     .form-group.row.save
            /       %input.btn.btn.btn-primary{name: "commit", type: "submit", value: "Save Card"}
              
            %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "add_bank_form", "data-remote" => "true"}
              = tag(:input, :type => "hidden", :value => "put", :name => "_method")
              = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
              %input{type: 'hidden', name: 'recipient[email]', value: "#{current_user.email}"}
              %input{type: 'hidden', id: 'stripe_token', name: 'stripe_token', value: ""}
              %input{type: 'hidden', name: 'host_id', value: "#{current_user.id}"}
              %input{type: 'hidden', name: 'bank_cc_add', value: "1"}
              %input{type: 'hidden', name: 'bank_cc_update', value: "0"}
            
              #add-bank{'data-toggle'=>"tooltip", 'data-placement'=>"top", 'title'=>"Add a Bank account"}
                .glyphicon.glyphicon-plus
                .fa.fa-university
              #add-bank-form  
                #stripe-error-message
                .form-group.row
                  .col-md-4
                    .form_label.text-right Name on Bank Account
                  .col-md-6
                    %input.form-control{type: "text", placeholder: "John Doe", name: "recipient[bank_account_name]", id: "bank_account_name"}

                .form-group.row
                  .col-md-4
                    .form_label.text-right Routing Number
                  .col-md-6
                    %input.form-control{type: "text", placeholder: "123456789", name: "recipient[bank_routing_number]", id: "bank_routing_number", :data => {:container => "body", :toggle => "popover", :placement => "bottom", :content => "A 9-digit number at the lower left corner of a check. Contact your bank if you need help"}}

                .form-group.row
                  .col-md-4
                    .form_label.text-right Account Number
                  .col-md-6
                    %input.form-control{type: "text", placeholder: "123456789", name: "recipient[bank_account_number]", id: "bank_account_number", :data => {:container => "body", :toggle => "popover", :placement => "bottom", :content => "A 3-17 digit number at the bottom of a check or on a bank statement. Contact your bank if you need help."}}



                .form-group.row.save
                  .btn.btn-primary{id: "add_bank_form_btn"}
                    Add Account

        .panel-footer.text-center
          .row
            .col-md-2.col-md-offset-4
              %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                %i.fa.fa-eye
                PREVIEW
            .col-md-2
              %a.btn.btn-primary.preview_btn{href: "/adventure_steps/publish?adventure_id=#{@adventure.id}"}
                NEXT

         

:javascript
  adventureCreate();
  getStripeToken_bank();

  $('[data-toggle="tooltip"]').tooltip({
    animated: 'fade'
  });

  $('#add-bank').click(function(){
    $('#updated-bank-form').fadeToggle();
    $('#add-bank-form').fadeToggle();
  });

  $('#add-card').click(function(){
    $('#add-card-form').fadeToggle();
  });