- set_meta_tags(default_meta_tags)
#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_payment
      .panel.panel-default
        .panel-heading.text-center.section_header
          PAYOUT OPTIONS
        .panel-body
          - user_adventure = UserAdventure.find_by_adventure_id(@adventure.id)

          - if user_adventure.charge_type == "subscription" 
            = render partial: "payout_subscribed", locals: {user_adventure: user_adventure}

          - else
            .payout_options_btns
              = render partial: "payout_options_btns"


        .panel-footer.text-center
          .row
            .col-md-2.col-md-offset-4
              %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                %i.fa.fa-eye
                PREVIEW
            .col-md-2
              %a.btn.btn-primary.preview_btn{href: "/adventure_steps/publish?adventure_id=#{@adventure.id}"}
                NEXT

         

:javascript
  adventureCreate();
  getStripeToken_bank();
  getStripeToken_subscription();

  $('[data-toggle="tooltip"]').tooltip({
    animated: 'fade'
  });


- if @adventure.users.first.stripe_recipient_id || @adventure.users.first.paypal_email
  :javascript
    $('.payout_options_btns .option_btn_1').click();
  - if @adventure.users.first.stripe_recipient_id
    :javascript
      $('.payout_options_btns .option_1_well #add-bank').click();
  - else
    :javascript
      $('.payout_options_btns .option_1_well #add-paypal').click();


