= set_meta_tags(default_meta_tags)

#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_payment
      .panel.panel-default
        .panel-heading.text-center.section_header
          PAYMENT DETAILS
        .panel-body
          .col-md-6.col-md-offset-3
            .well.how_to.text-center
              .row
                Add a
                %strong Bank Account
                or
                %strong Paypal email
                to receive your payments
              %br
              .row
                .col-md-4.text-left
                  %strong
                    Bank Payouts
                .col-md-8.text-left
                  Only available in:
                  Austrailia, 
                  Canada, 
                  Ireland, 
                  United Kingdom, 
                  United States
              %br 
              .row   
                .col-md-4.text-left
                  %strong
                    Paypal Payouts
                .col-md-8.text-left
                  Available globally with a valid paypal account & email address

          = render partial: "notice"

          = render partial: "stripe_payout"

          = render partial: "paypal_payout" 

          %br
          %br
          .text-center
            %em
              If both information is provided, bank account will be used as the default payout method.

        .panel-footer.text-center
          .row
            .col-md-2.col-md-offset-4
              %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                %i.fa.fa-eye
                PREVIEW
            .col-md-2
              %a.btn.btn-primary.preview_btn{href: "/adventure_steps/publish?adventure_id=#{@adventure.id}"}
                NEXT

         

:javascript
  adventureCreate();
  getStripeToken_bank();
  paypal_forms_control();

  $('[data-toggle="tooltip"]').tooltip({
    animated: 'fade'
  });

  $('#add-bank').click(function(){
    $('#updated-bank-form').fadeToggle();
    $('#add-bank-form').fadeToggle();
  });

  $('#add-card').click(function(){
    $('#add-card-form').fadeToggle();
  });