#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_photos
      .panel.panel-default
        .panel-heading.text-center.section_header
          PHOTOS
        .panel-body
          .col-md-6.col-md-offset-3
            .well.how_to
              Upload your adventure's gallery images here! You know what they say, a photo is worth a thousand words!
              You can upload upto 
              %strong 10 images,
              try to make them as best quality as you can!
          .text-center
            - if !@adventure.adventure_gallery_images.empty?
              - @adventure.adventure_gallery_images.each_with_index do |adv, i|
                - if i%3 == 0  
                  .row
                .col-md-4.text-center{id: "img-#{adv.id}"}
                  = image_tag adv.picture.url(:medium), class: "img-responsive img-rounded", id: "img-id-#{adv.id}"
                  .btn.img_del_btn{id: "#{adv.id}"}
                    %i.fa.fa-times
                  
          .row
          %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adv_gallery_img_upload", enctype: "multipart/form-data"}
            = tag(:input, :type => "hidden", :value => "put", :name => "_method")
            = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
            = tag(:input, :type => "hidden", :name => "adventure_id", :value => @adventure.id)
            .form-group
              %input{type: "file", name: "images[]", id: "adv_gallery_img", multiple: "multiple"}

        .panel-footer.text-center
          .row
            .col-md-2.col-md-offset-4
              %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                %i.fa.fa-eye
                PREVIEW
            .col-md-2
              %a.btn.btn-primary.preview_btn{href: "/adventure_steps/itinerary?adventure_id=#{@adventure.id}"}
                NEXT

                
:javascript
  adventureCreate();

  $('.img_del_btn').click(function(e) {

    var response = confirm("Delete this image?");

    if(response == true){
      var img_id = this.id;

      e.preventDefault();
      $.ajax({
        url: "#{wizard_path}",
        dataType: "text json",
        data: {delete_img: 1, delete_img_id: this.getAttribute('id'), adventure_id: #{@adventure.id}, #{request_forgery_protection_token.to_s}: "#{form_authenticity_token}"},
        type: "POST",
        method: "PUT",
        beforeSend: function() {
          $('#img-'+img_id).fadeOut(200, function() {
            $(this).remove();
          });
        }
      });
    }
  });


