#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_photos
      %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_edit_form"}
        = tag(:input, :type => "hidden", :value => "put", :name => "_method")
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        .panel.panel-default
          .panel-heading.text-center.section_header
            PHOTOS
          .panel-body
            .cover_img_display

            .form-group
              %input.filestyle{type: "file", name: "adventure[cover_img]", id: "adv_cover_img"}

              .divider

              - if !@adventure.adventure_gallery_images.empty?
                - @adventure.adventure_gallery_images.each do |adv|
                  / .gallery_img{style: "background: url(#{img.picture.url}) center center no-repeat; width: 200px; height: 200px"}
                  = image_tag adv.picture.url(:medium), class: "img-response img-rounded"
          .panel-footer.text-center
            %input.btn.btn-primary.preview_btn{name: "commit", type: "submit", value: "NEXT"}

      %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adv_gallery_img_upload", enctype: "multipart/form-data"}
        = tag(:input, :type => "hidden", :value => "put", :name => "_method")
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        .form-group
          %input.filestyle{type: "file", name: "images[]", id: "adv_gallery_img", multiple: "multiple", onchange: "javascript:document.getElementById('adv_gallery_img_upload').submit();"}
                
:javascript
  adventureCreate();
