#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_photos
      %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_edit_form"}
        = tag(:input, :type => "hidden", :value => "put", :name => "_method")
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        .panel.panel-default
          .panel-heading.text-center
            PHOTOS
          .panel-body
            .cover_img

            .form-group
              %input.filestyle{type: "file", name: "adventure[cover_img]", id: "adv_cover_img"}

              .divider   

              %form{"accept-charset" => "UTF-8", action: "#", method: "post", id: "adv_gallery_img_upload", enctype: "multipart/form-data"}
                = tag(:input, :type => "hidden", :value => "put", :name => "_method")
                = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
                .form-group
                  %input.filestyle{type: "file", name: "adventure[gallery_img]", id: "adv_gallery_img", multiple: true}
          .panel-footer.text-center
            %input.btn.btn-primary.preview_btn{href: "#", name: "commit", type: "submit", value: "NEXT"}
                
:javascript
  adventureCreate();
