- set_meta_tags(default_meta_tags)

#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_publish
      .panel.panel-default
        .panel-heading.text-center.section_header
          PUBLISH
        .panel-body
          = render partial: "notice"
          - if @adventure.published == true && @adventure.approved == true
            .col-md-6.col-md-offset-3
              .well.how_to.text-center
                Your adventure has been
                %strong published
                and is
                %strong approved
                %br
                %br
                %a{href: "/terms", target: "_blank"}
                  You can find Advlo's terms of service & privacy policy here.

          - elsif @adventure.published == true
            .col-md-6.col-md-offset-3
              .well.how_to.text-center
                Your adventure has been
                %strong published
                and is pending 
                %strong approval
                %br
                %br
                %a{href: "/terms", target: "_blank"}
                  You can find Advlo's terms of service & privacy policy here.

          - else
            .col-md-6.col-md-offset-3
              .well.how_to
                .row
                  .col-md-11.col-md-offset-1
                    %strong
                      1. Preview 
                    your adventure page
                .row
                  .col-md-11.col-md-offset-1
                    %strong
                      2. Edit 
                    any changes you'd like to make
                .row
                  .col-md-11.col-md-offset-1
                    %strong
                      3. Publish 
                    your adventure and we'll notify you when it goes live
                .row.text-center.agree-to-terms
                  .col-md-11.col-md-offset-1
                  %br
                  %input{type: "checkbox"}
                  %a{href: "/terms", target: "_blank"}
                    By publishing your adventure, you agree to Advlo's Terms of Service & Privacy Policy.

          - if current_user.phone_number
            = render partial: "phone_form_update"
          - else
            = render partial: "phone_form_new"

          = render partial: "upload_waiver"


        .panel-footer.text-center
          .row
            - if @adventure.published == true
              .col-md-2.col-md-offset-4
                %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}"}
                  %i.fa.fa-eye
                  VIEW
              .col-md-2
                %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_iten_form"}
                  = tag(:input, :type => "hidden", :value => "put", :name => "_method")
                  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
                  = tag(:input, :type => "hidden", :name => "published", :value => "2")
                  = tag(:input, :type => "hidden", :name => "adventure_id", :value => @adventure.id)
                  %input.btn.btn-primary.preview_btn{type: 'submit', value: 'UNPUBLISH'}

            - else
              #preview.complete-button
                %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                  %i.fa.fa-eye
                  PREVIEW

              #publish-new.complete-button
                %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_iten_form"}
                  = tag(:input, :type => "hidden", :value => "put", :name => "_method")
                  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
                  = tag(:input, :type => "hidden", :name => "published", :value => "3")
                  = tag(:input, :type => "hidden", :name => "adventure_id", :value => @adventure.id)
                  %input.btn.btn-primary.preview_btn.publish-adventure.disabled{type: 'submit', value: 'PUBLISH / Add New'}

              #publish-continue.complete-button
                %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_iten_form"}
                  = tag(:input, :type => "hidden", :value => "put", :name => "_method")
                  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
                  = tag(:input, :type => "hidden", :name => "published", :value => "1")
                  = tag(:input, :type => "hidden", :name => "adventure_id", :value => @adventure.id)
                  %input.btn.btn-default.btn-lg.disabled.publish-adventure{type: 'submit', value: 'PUBLISH'}

              

:javascript
  adventureCreate();
