#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_publish
      .panel.panel-default
        .panel-heading.text-center.section_header
          PUBLISH
        .panel-body
          - if @adventure.published == true

            .col-md-6.col-md-offset-3
              .well.how_to.text-center
                Your adventure has already been
                %strong published.
                %br
                %br
                You're all set. We'll take care of the rest!
          - else
            .col-md-6.col-md-offset-3
              .well.how_to.text-center
                %strong Publish
                your adventure after 
                %strong Previewing
                and making sure everything looks amazing so adventure seekers book your adventure!

        .panel-footer.text-center
          .row
            - if @adventure.published == true
              .col-md-2.col-md-offset-4
                %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}"}
                  %i.fa.fa-eye
                  VIEW
              .col-md-2
                %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_iten_form"}
                  = tag(:input, :type => "hidden", :value => "put", :name => "_method")
                  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
                  = tag(:input, :type => "hidden", :name => "published", :value => "2")
                  = tag(:input, :type => "hidden", :name => "adventure_id", :value => @adventure.id)
                  %input.btn.btn-primary.preview_btn{type: 'submit', value: 'UNPUBLISH'}

            - else
              .col-md-2.col-md-offset-4
                %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                  %i.fa.fa-eye
                  PREVIEW
              .col-md-2
                %form{"accept-charset" => "UTF-8", action: wizard_path, method: "POST", id: "adventure_iten_form"}
                  = tag(:input, :type => "hidden", :value => "put", :name => "_method")
                  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
                  = tag(:input, :type => "hidden", :name => "published", :value => "1")
                  = tag(:input, :type => "hidden", :name => "adventure_id", :value => @adventure.id)
                  %input.btn.btn-primary.preview_btn{type: 'submit', value: 'PUBLISH'}
