.meta_tags
  = set_meta_tags(default_meta_tags)

#adventure_create
  .container
    = render partial: "/adventures/adv_create_header"
    #adv_schedule
      .panel.panel-default
        .panel-heading.text-center.section_header
          SCHEDULE
        .panel-body
          = render partial: "notice"
          .row
            .col-md-6.col-md-offset-3
              .well.how_to
                .container
                  .row
                    .col-md-2.text-center
                      %strong
                        CREATE
                    .col-md-4.schedule-instruction
                      Click on the day and time when you’d like to host
                  .row
                    .col-md-2.text-center
                      %strong
                        DELETE
                    .col-md-4.schedule-instruction
                      Click on an existing event and confirm to delete
                  .row
                    .col-md-2.text-center
                      %strong
                        UPDATE
                    .col-md-4.schedule-instruction
                      Drag and drop an event anywhere on the calendar
                  .row
                    .col-md-2.text-center
                      %strong
                        REQUEST
                    .col-md-4.schedule-instruction
                      Leave calendar blank, and wait to receive requests
          #calendar
            
        .panel-footer.text-center
          .row
            .col-md-2.col-md-offset-4
              %a.btn.btn-default.view_btn{href: "/adventures/#{@adventure.slug}", target: '_blank'}
                %i.fa.fa-eye
                PREVIEW
            .col-md-2
              %a.btn.btn-primary.preview_btn{href: "/adventure_steps/payment?adventure_id=#{@adventure.id}"}
                NEXT


         

:javascript
  adventureCreate();
  adventureSchedule(#{@adventure.id});