#blog-wrapper
  .row
    .col.col-md-2#left-sidebar-container
      .left-wrapper
        #follow-title
          Follow
        .follow
          twitter
        .follow
          insta
        .follow
          facebook
        .follow
          google

    .col.col-md-8.blogpost-container
      - @blogposts.each do |bp|
        .blogpost
          .blog-image= image_tag bp.attachment(:large)

          .blog-preview
            .title= bp.title
            .excerpt= bp.body[0..100]

          .share-block
            = render_shareable :url=> "http://advlo.com/blog/#{bp.permalink}"



    .col.col-md-2#right-sidebar-container
      #instagram-container
        - @photos.each do |photo|
          .insta-post
            .photo
              = link_to (image_tag photo.images.standard_resolution.url), photo.link, target: '_blank'
