#blog-index-wrapper
  .row
    .col.col-md-2#left-sidebar-container
      .left-wrapper
        .social-container
          .follow
            %a{href: "http://www.facebook.com/advlo", target: "_blank"}
              = image_tag asset_url('facebook.png')
          .follow
            %a{href: "http://www.twitter.com/advlo_", target: "_blank"}
              = image_tag asset_url('twitter.png')
          .follow
            %a{href: "https://plus.google.com/+Advlo-Adventure-Local", target: "_blank"}
              = image_tag asset_url('googleplus.png')
          .follow
            %a{href: "http://www.instagram.com/advlo", target: "_blank"}
              = image_tag asset_url('instagram.png')

        .blogpost-title-container
          #blogpage-title
            Recent posts
          - @blogposts.each do |bp|
            %a{href:"http://advlo.com/blog/#{bp.permalink}"}
              .blog-link
                = bp.title


    .col.col-md-8.blogpost-container
      - @blogposts.each do |bp|
        .blogpost
          %a{href: "/blog/#{bp.permalink}"}
            .blog-image= image_tag bp.attachment(:large)
            .blog-preview
              .title= bp.title
              .excerpt= ActionView::Base.full_sanitizer.sanitize( bp.body[0..250] )+ "..."
              .read-more
            .read-more-text
              Read More

          .share-block
            = render_shareable buttons: ["facebook", "twitter", "pinterest", "google_plus"], :url=> "http://advlo.com/blog/#{bp.permalink}"



    .col.col-md-2#right-sidebar-container
      #instagram-container
        - @photos.each do |photo|
          %a{href: photo.link, target: '_blank'}
            .insta-post
              .photo
                = image_tag photo.images.standard_resolution.url
              .title= "#{photo.caption.text[0..80]}.."
              
        - @tweets.each_with_index do |tweet, i|
          .tweet{id: i}
            %br
            = link_to tweet.text.html_safe, "#{tweet.url}"
            %br