.blog-page-wrapper
  .static-leftbar
    .left-wrapper
      .blogpost-title-container
        .social-container
          .follow
            %a{href: "http://www.facebook.com/advlo", target: "_blank"}
              = image_tag asset_url('facebook.png')
          .follow
            %a{href: "http://www.twitter.com/advlo_", target: "_blank"}
              = image_tag asset_url('twitter.png')
          .follow
            %a{href: "https://plus.google.com/+Advlo-Adventure-Local", target: "_blank"}
              = image_tag asset_url('googleplus.png')
          .follow
            %a{href: "http://www.instagram.com/advlo", target: "_blank"}
              = image_tag asset_url('instagram.png')

        .blogpage-title
          Recent Posts
        - @blogposts.each do |bp|
          %a{href:"http://advlo.com/blog/#{bp.permalink}"}
            .blog-link
              = bp.title

  .row
    .col.col-md-2


    .col.col-md-8.blogpost-container
      .blog-header-title
        = "- Advlo Travel Journal -"
      .mobile-blog-list
        .social-container
          .follow
            %a{href: "http://www.facebook.com/advlo", target: "_blank"}
              = image_tag asset_url('facebook.png')
          .follow
            %a{href: "http://www.twitter.com/advlo_", target: "_blank"}
              = image_tag asset_url('twitter.png')
          .follow
            %a{href: "https://plus.google.com/+Advlo-Adventure-Local", target: "_blank"}
              = image_tag asset_url('googleplus.png')
          .follow
            %a{href: "http://www.instagram.com/advlo", target: "_blank"}
              = image_tag asset_url('instagram.png')

      - @blogposts.each do |bp|
        %a{href: "/blog/#{bp.permalink}"}
          .blogpost
            .blog-image= image_tag bp.attachment(:large)
            .blog-preview
              .title= bp.title
              .excerpt= ActionView::Base.full_sanitizer.sanitize( bp.body[0..250] )+ "..."
              .read-more
            .read-more-text
              Read More

          / .share-block
          /   = render_shareable buttons: ["facebook", "twitter", "pinterest", "google_plus"], :url=> "http://advlo.com/blog/#{bp.permalink}"



    .col.col-md-2#right-sidebar-container
      .blogpage-title{style: 'margin-right: 10px;'}
        Locations & Adventures

      #right-content-container
        / - block = @photos.zip(@tweets).flatten.compact
        / - block.each do |item|
        /   .divider
        /   - if item.class == Hashie::Mash
        /     %a{href: item.link, target: '_blank'}
        /       .side-brick
        /         .photo
        /           = image_tag item.images.standard_resolution.url
        /         .title= "#{item.caption.text[0..80]}.."
              
        /   - elsif item.class == Twitter::Tweet
        /     %a{href: item.url, target: "_blank", class: 'tweet-link'}
        /       .side-item
        /         = item.text.html_safe
        - block = @adventures.zip(@locations).flatten.compact
        - block.each do |item|
          - if item.class == Adventure
            %a{href: "/adventures/#{item.slug}", target: '_blank'}
              .side-brick
                .photo
                  = image_tag item.attachment.url(:medium)
                .title= "#{item.title[0..65]}.."
                
            .divider
              
          - elsif item
            %a{href: item, target: "_blank"}
              .side-brick
                .photo
                  = image_tag item.attachment.url(:thumb)
                .location-name= item.location ? item.location.capitalize : item.region
            .divider