- set_meta_tags(get_meta_tags("#{@blogpost.title} by #{@blogpost.author}","Advlo travel journal and blog. Find travel trips, guest posts, and details on the Advlo platform here.","Advlo, Blog, Journal, #{@blogpost.author}"))

.blog-page-wrapper.blog-show-wrapper
  .row
    .col.col-md-2
      .static-leftbar
        .left-wrapper
          .blogpost-title-container
            .social-container
              .follow
                %a{href: "http://www.facebook.com/advlo", target: "_blank"}
                  = image_tag asset_url('facebook.png')
              .follow
                %a{href: "http://www.twitter.com/advlo_", target: "_blank"}
                  = image_tag asset_url('twitter.png')
              .follow
                %a{href: "https://plus.google.com/+Advlo-Adventure-Local", target: "_blank"}
                  = image_tag asset_url('googleplus.png')
              .follow
                %a{href: "http://www.instagram.com/advlo", target: "_blank"}
                  = image_tag asset_url('instagram.png')

            .blogpage-title
              %a{href:'/blog'} Advlo Blog
            - @blogposts.each do |bp|
              %a{href:"http://advlo.com/blog/#{bp.permalink}"}
                .blog-link
                  = bp.title
                .blog-date
                  = bp.created_at.strftime("%b. %e, %G")

    .col.col-md-8{style: "border-left: 1px solid #333333;border-right: 1px solid #333333; "}
      .post-wrapper
        .blog-title= @blogpost.title
        - if @blogpost.previous
          %a.fa.fa-arrow-circle-left{href: "/blog/#{@blogpost.previous.permalink}" }

        - if @blogpost.next
          %a.fa.fa-arrow-circle-right{href: "/blog/#{@blogpost.next.permalink}" }

        .blog-body
          = @blogpost.body.html_safe

        - if @blog_images.count > 0
          - @blog_images.each do |bi|
            .blog-image-wrapper
              %a{href: bi.link }
                .blog-image
                  = image_tag bi.attachment.url(:medium)
                .blog-image-title
                  = bi.caption
              .blog-image-excerpt
                = bi.excerpt.html_safe


        - if @blogpost.video_url
          .blog-video-wrapper
            = raw(@blogpost.embed(@blogpost.video_url))


           
        .share-block
          = render_shareable

        #disqus_thread
          :javascript
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'advlo'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript
            Please enable JavaScript to view the
            %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.          

    .col.col-md-2#related-adventures-container
      .blogpage-title{style: 'margin-right: 10px;'}
        Locations & Adventures
      #right-content-container
        - block = @adventures.zip(@locations).flatten.compact
        - block.each do |item|
          - if item.class == Adventure
            %a{href: "/adventures/#{item.slug}", target: '_blank'}
              .side-brick
                .photo{style: "background: url('#{item.attachment.url(:medium)}') center center no-repeat"}
                .title.text-center
                  = "#{item.title[0..65]}.."
                  %br
                  %i{style: "font-size: 0.8em;"}
                    = "with #{item.host_name}"
                
            .divider
              
          - elsif item
            %a{href: "/adventures?country=#{item.region}", target: "_blank"}
              .side-brick
                .photo{style: "background: url('#{item.attachment.url(:thumb)}') center center no-repeat"}
                .title= item.location ? item.location.capitalize : item.region
            .divider