- set_meta_tags(get_meta_tags("#{@blogpost.title.split.map(&:capitalize).join(' ')} by #{@blogpost.author}","#{@blogpost.body[0..150]}...","Advlo, Blog, Journal, #{@blogpost.author}"))

- set_meta_tags :og => get_og_tags("#{@blogpost.title.split.map(&:capitalize).join(' ')} by #{@blogpost.author}", "#{root_url}blog/#{@blogpost.permalink}", "#{@blogpost.body[0..150]}...", @blogpost.attachment.url(:medium))
- set_meta_tags :fb => {:app_id => '210802829129036'}
- set_meta_tags :twitter => get_twitter_tags("#{@blogpost.title.split.map(&:capitalize).join(' ')} by #{@blogpost.author}", "#{@blogpost.body[0..150]}...", @blogpost.attachment.url(:medium))

.blog-page-wrapper.blog-show-wrapper
  .row
    .col.col-md-2
      .static-leftbar
        .left-wrapper
          .blogpost-title-container
            .social-container
              .follow
                %a{href: "http://www.facebook.com/advlo", target: "_blank"}
                  = image_tag asset_url('facebook.png')
              .follow
                %a{href: "http://www.twitter.com/advlo_", target: "_blank"}
                  = image_tag asset_url('twitter.png')
              .follow
                %a{href: "https://plus.google.com/+Advlo-Adventure-Local", target: "_blank"}
                  = image_tag asset_url('googleplus.png')
              .follow
                %a{href: "http://www.instagram.com/advlo", target: "_blank"}
                  = image_tag asset_url('instagram.png')

            .blogpage-title
              %a{href:'/blog'} RECENT POSTS
            - @blogposts.each do |bp|
              %a{href:"http://advlo.com/blog/#{bp.permalink}"}
                .blog-link
                  = bp.title
                

    .col.col-md-8{style: "border-left: 1px solid #333333;border-right: 1px solid #333333;background-color: rgba(255,255,255,0.8)"}
      .post-wrapper
        .blog-title= @blogpost.title
        .blog-author.text-center= "by #{@blogpost.author}"
        .blog-date.text-center= @blogpost.created_at.strftime("%b. %e, %G")

        .social_share_icons.text-center
          - fb_share_url = "#{root_url}blog/#{@blogpost.permalink}"
          %a.btn.btn-default.social_btn.fb{href: "#{fb_share_url}", "data-title" => "#{@blogpost.title.split.map(&:capitalize).join(' ')} by #{@blogpost.author}", "data-desc" => "#{@blogpost.body[0..175]}...", "data-image" => "#{@blogpost.attachment.url(:medium)}", style: "margin-right: 5px;"}
            %i.fa.fa-facebook
          .btn.btn-default.social_btn.twitter_blog{style: "margin-right: 5px;"}
            %i.fa.fa-twitter
          %a.btn.btn-default.social_btn.gp{href: "https://plus.google.com/share?url=#{fb_share_url}", onclick: "javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"}
            %i.fa.fa-google-plus


        - if @blogpost.previous
          %a.fa.fa-arrow-circle-left{href: "/blog/#{@blogpost.previous.permalink}" }

        - if @blogpost.next
          %a.fa.fa-arrow-circle-right{href: "/blog/#{@blogpost.next.permalink}" }

        .blog-body
          = @blogpost.body.html_safe

        - if @blog_images.count > 0
          - @blog_images.each do |bi|
            .blog-image-wrapper
              %a{href: bi.link }
                .blog-image{style: "background: url('#{bi.attachment.url(:medium)}') center center no-repeat"}
                .blog-image-title
                  = bi.caption
              .blog-image-excerpt
                = bi.excerpt.html_safe


        - if @blogpost.video_url
          .blog-video-wrapper
            = raw(@blogpost.embed(@blogpost.video_url))


           
        .share-block
          = render_shareable

        #disqus_thread
          :javascript
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'advlo'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript
            Please enable JavaScript to view the
            %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.          

    .col.col-md-2#related-adventures-container
      .blogpage-title{style: 'margin-right: 10px;'}
        FIND YOUR NEXT ADVENTURE
      #right-content-container
        - block = @adventures.zip(@locations).flatten.compact
        - block.each do |item|
          - if item.class == Adventure
            %a{href: "/adventures/#{item.slug}", target: '_blank'}
              .side-brick
                .photo{style: "background: url('#{item.attachment.url(:medium)}') center center no-repeat"}
                .title.text-center
                  = "#{item.title[0..65]}.."
                  %br
                  %i{style: "font-size: 0.8em;"}
                    = "with #{item.host_name}"
                
            .divider
              
          - elsif item
            %a{href: "/adventures?country=#{item.region}", target: "_blank"}
              .side-brick
                .photo{style: "background: url('#{item.attachment.url(:thumb)}') center center no-repeat"}
                .title.text-center= item.location ? item.location.split.map(&:capitalize).join(' ') : item.region
            .divider

:javascript
  function postToFeed(title, desc, url, image){
    var obj = {method: 'feed',link: url, picture: image,name: title,description: desc};

    function callback(response){}
    FB.ui(obj, callback);
  }

  $('.fb').click(function(e) {
    e.preventDefault();

    elem = $(this);

    postToFeed(elem.data('title'), elem.data('desc'), elem.prop('href'), elem.data('image'))
  })

  $('.twitter_blog').click(function(){
    var encodedUrl = encodeURIComponent(document.URL);
    height = $(window).height();
    width = $(window).width();

    window.open("https://twitter.com/share?url=" + 'www.advlo.com' + "&text=%23AdventureLocal - #{@blogpost.title.split.map(&:capitalize).join(' ')} by #{@blogpost.author} - " + encodeURIComponent(document.URL), 'sharer', 'top=' + (height/3) + ',left=' + (width/3) + ',toolbar=0,status=0,width=' + 500 + ',height=' + 500);
  })