.adventure-slider-container#adventure.adventure-slider-wrapper
  .container
    %h1 FEATURED ADVENTURES
    %a.small_text{href: "#"} VIEW ALL >>>

  .slider-wrapper
    %i.next.fa.fa-chevron-right#adv-next
    %i.prev.fa.fa-chevron-left#adv-prev

    .swiper-container
      .swiper-wrapper
        - if @feat_adventures
          - @feat_adventures.each_with_index do |adv, i|
            %a.swiper-slide.adventure-slide{href: adventure_path(adv.slug)}
              .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center center;"}
                .copy
                  - if adv.title.length > 32
                    #title= "#{adv.title[0..32]}..."
                  -else
                    #title= adv.title

                  .ping
                  - if adv.location
                    - if adv.location.length > 40
                      .location= "#{adv.subtitle.upcase[0..40]}..."
                    -else
                      .location= adv.location.upcase

                .hover-block{id: i}
                  - if adv.users.first && !adv.users.first.avatar_url
                    .guide-profile-image= image_tag adv.users.first.avatar.url(:large)
                  -elsif adv.users.first
                    .guide-profile-image= image_tag "#{adv.users.first.avatar_url}?type=large"
                .copy-container{class: "copy-#{i}"}
