.homepage-slider-container
  .container
    %h1 FEATURED ADVENTURES
    %a.small_text{href: "#"} VIEW ALL >>>

  .slider-wrapper
    %i#next-slide.fa.fa-chevron-right
    %i#prev-slide.fa.fa-chevron-left

    .swiper-container
      .swiper-wrapper
        - if @feat_adventures
          - @feat_adventures.each_with_index do |adv, i|
            %a.swiper-slide{href: adventure_path(adv)}
              .image-wrapper{style: "background: url(#{adv.attachment.url(:large)}) no-repeat center center;"}
                .copy
                  - if adv.title.length > 38
                    #title= "#{adv.title[0..38]}..."
                  -else
                    #title= adv.title

                  .ping
                  - if adv.subtitle.length > 40
                    #location= "#{adv.subtitle.upcase[0..40]}..."
                  -else
                    #location= adv.subtitle.upcase

                .hover-block{id: i}
                  #guide-image= image_tag "#{adv.users.first.avatar_url}?type=large" if adv.users.first && adv.users.first.avatar_url
                .copy-container{class: "copy-#{i}"}

                

                

:javascript
  sliderInit();
  $(window).resize(function(){
    sliderInit();
  })
  