#how_it_works.destination-block
  .container.homepage-container.text-center
    %h1 TOP LOCATIONS

  .row.text-center
    .container
      .region-container
        .region-wrapper
          - @regions.each do |r|
            %a{href: "/adventures?location=#{r[0]}"}
              .region
                - hero_image = HeroImage.find_by_region(r[0]) ? HeroImage.find_by_region(r[0]).attachment.url(:hero) : HeroImage.last.attachment.url(:hero)
                = link_to (image_tag hero_image), "/adventures?city=#{r[0].gsub(' ','-')}"
                - adv_count = Adventure.where(city: r[0]).count
                - if r[0].length > 14
                  .region-text= "#{r[0][0..14]}... (#{adv_count})"  
                - else 
                  .region-text= "#{r[0]} (#{adv_count})"


    = render partial: "/adventures/request_modal"

:javascript
  $('.region-wrapper').masonry({
    isFitWidth: true,
    itemSelector: '.region'
  })