#how_it_works
  #advlo-location
    Advlo Locations

  .row.text-center
    .container
      .col-md-12
        .region-wrapper
          - if @region_images.first != nil
            - @region_images.each do |r|
              %a{href: "/adventures?location=#{r}"}
                .region
                  = link_to (image_tag r.attachment.url(:hero)), "/adventures?region=#{r.region.gsub(' ','-')}"
                  .region-text= r.region
              




    = render partial: "/adventures/request_modal"
