#how_it_works.destination-block
  .container.homepage-container.text-center
    %h1 LOCATIONS
    %a.small_text{href: "/adventures"} VIEW ALL >>>

  .row.text-center
    .container
      .region-container
        .region-wrapper
          - @region_images.each do |r|
            %a{href: "/adventures?location=#{r}"}
              .region
                = link_to (image_tag r.attachment.url(:hero)), "/adventures?city=#{r.region.gsub(' ','-')}"
                - adv_count = Adventure.where(city: r.region).count
                .region-text= "#{r.region} (#{adv_count})"
              




    = render partial: "/adventures/request_modal"

:javascript
  $('.region-wrapper').masonry({
    isFitWidth: true,
    itemSelector: '.region'
  })