#destination-block.destination-block
  .container.homepage-container.text-center
    %h1 TOP LOCATIONS

  .row.text-center
    .container
      .region-container
        .region-wrapper
          - @regions.each do |r|
            %a{href: "/adventures?location=#{r[0]}"}
              .region
                - if r.region == nil
                  - r.region = 'default'
                = link_to (image_tag HeroImage.find(r.region).attachment.url(:hero)), "/adventures?city=#{r[0].gsub(' ','-')}"
                - adv_count = Adventure.approved.where(city: r[0]).count
                - if r[0].length > 14
                  .region-text= "#{r[0][0..14]}... (#{adv_count})"  
                - else 
                  .region-text= "#{r[0]} (#{adv_count})"


    = render partial: "/adventures/request_modal"

:javascript
  $('#destination-block .region-wrapper').masonry({
    isFitWidth: true,
    itemSelector: '.region'
  })