#destination-block.destination-block
  .container.homepage-container.text-center
    %h1 TOP LOCATIONS

  .row.text-center
    .container
      .region-container
        .region-wrapper
          %a{href: '/adventures?country=Costa Rica'}          
            .region 
              = image_tag HeroImage.where(region: 'Costa Rica').first.attachment.url(:hero), alt: "Costa Rica"
              .region-text
                Costa Rica

          %a{href: '/adventures?state=Hawaii'}  
            .region 
              = image_tag HeroImage.where(region: 'Hawaii').first.attachment.url(:hero), alt: "Hawaii"
              .region-text
                Hawaii

          %a{href: '/adventures?country=Ecuador'}  
            .region 
              = image_tag HeroImage.where(region: 'Ecuador').first.attachment.url(:hero), alt: "Ecuador"
              .region-text
                Ecuador

          %a{href: '/adventures?region=Asia'}  
            .region 
              = image_tag HeroImage.where(region: 'Asia').first.attachment.url(:hero), alt: "Asia"
              .region-text
                Asia


          %a{href: '/adventures?region=Latin-America'}  
            .region 
              = image_tag HeroImage.where(region: 'Bolivia').first.attachment.url(:hero), alt: "Latin America"
              .region-text
                Latin America

          %a{href: '/adventures?region=North-America'}  
            .region 
              = image_tag HeroImage.where(region: 'North America').first.attachment.url(:hero), alt: "North America"
              .region-text
                North America

          / - @regions.each do |r|
          /   %a{href: "/adventures?location=#{r[0]}"}
          /     .region
          /       - if r.region == nil
          /         - r.region = 'default'
          /       = link_to (image_tag HeroImage.find(r.region).attachment.url(:hero)), "/adventures?city=#{r.place.gsub(' ','-')}"
          /       - adv_count = Adventure.approved.where(city: r.place).count
          /       // removed for beta cuz count is sad (#{adv_count})
          /       - if r.place.length > 14
          /         .region-text= "#{r[0][0..11]}... #{r.country}"
          /       - else 
          /         .region-text= "#{r.place},  #{r.country}"


    = render partial: "/adventures/request_modal"

:javascript
  $('#destination-block .region-wrapper').masonry({
    isFitWidth: true,
    itemSelector: '.region'
  })