- adv_array = [154,256,401,392,183,520]
- rand_num = rand(adv_array.length)
- adv = Adventure.find(adv_array[rand_num])
- image = adv.attachment.url(:hero)

.homepage-photo.jumbotron.jumbotron_fix{:style => "background: url('#{image_path image}') center center no-repeat"}

.scroll-slow
  %a.adventure-link-wrapper#featured-homepage-adventure{href: "/adventures/#{adv.slug}"}
    .host_img{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') center center no-repeat;"}
    .adv_copy
      = adv.title
      %br
      with
      = adv.users.first.get_first_name
  #homepage-text    
    .logo= image_tag 'logos/logo_white.png'
    


    #explanation
      Connect with locals to find unique adventure travel experiences


    .row
      #find_adventure_form
        .col-md-6.col-md-offset-3
          .form-group
            .input-group
              %input.form-control{placeholder: "Enter Location", name: "location", id: "location"}
              .input-group-addon
                %i.fa.fa-search

    - if notice
      .col-md-6.col-md-offset-3 
        .alert.alert-warning.text-center
          %button.close{"data-dismiss" => "alert", type: "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          = notice.html_safe

  .text-center.explanation-row
    
    

    #arrow-wrapper
      %a
        .bottom

  - if current_user
    %a.mobile-content-link-wrapper-logged-in{href: "/adventures/#{adv.slug}"}
      .host_img{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') center center no-repeat;"}
      .adv_copy
        = adv.title
        %br
        with
        = adv.users.first.get_first_name
  - else
    %a.mobile-content-link-wrapper{href: "/adventures/#{adv.slug}"}
      .host_img{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') center center no-repeat;"}
      .adv_copy
        = adv.title
        %br
        with
        = adv.users.first.get_first_name


:javascript
  if ($.cookie('referrer_id')) {
    homepage_new_user_set_referrer_id($.cookie('referrer_id'));
  }


  $('#arrow-wrapper').click(function(){
    $('html, body').animate({
       scrollTop: $("#how_it_works").offset().top + 5}, 800
    )
  })
  

  $(document).ready(function(){
    homepage_find_input_geocomplete();

    if( $('.navbar-fixed-top').is(":visible") ){
      $('.scroll-slow').css('top','75px');
      $('#arrow-wrapper').hide();
    }
    
  });