- image_array = ["http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/154/hero/6142769488_0824da5ff3_o.jpg?1410848814","http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/256/hero/IMG_0080.JPG?1414194826","http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/269/hero/080614leepump4.png?1414786626","http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/104/hero/G0010003.JPG?1409491469","http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/183/hero/2013_02_17_CA_Soboba_f_JeanNoelMichel.jpg?1411836712"]

- rand_num = rand(5)
- image = image_array[rand_num]
- adv_array = [154,256,269,105,183]
- adv = Adventure.find(adv_array[rand_num])

.homepage-photo.jumbotron.jumbotron_fix{:style => "background: url('#{image_path image}') center center no-repeat"}

.scroll-slow
  %a.adventure-link-wrapper{href: "/adventures/#{adv.slug}"}
    .host_img{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') center center no-repeat;"}
    .adv_copy
      = adv.title
      %br
      with
      = adv.users.first.get_first_name
  #homepage-text    
    .logo= image_tag 'logos/logo_white.png'


    #explanation
      Connect with locals to find unique adventure travel experiences
      %hr
      .small
        Join for free and explore local adventures

        


    - if notice
      .col-md-6.col-md-offset-3 
        .alert.alert-warning.text-center
          %button.close{"data-dismiss" => "alert", type: "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          = notice.html_safe


  .text-center.explanation-row
    
    - if current_user
      .btn.btn-success#homepage-explore Explore
      %a.btn.btn-success#homepage-explore-mobile{href: "/adventures/#{Adventure.approved.last.slug}"} Explore



    - else  
      .col-md-12.signup-row
        .advlo-signup
          .row
            %a.btn.btn-primary.homepage_fb_btn{href: "/users/auth/facebook"}
              %i.fa.fa-facebook-square
              connect
              

          %form{"accept-charset" => "UTF-8", action: "/users", method: "post", roll: "form", id: 'signup_modal', class: 'homepage_login_form'}
            =tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
            .form-group
              %input.form-control{placeholder: "Email Address", type: "email", required: "required", name: "user[email]", id: "user_email"}
            .form-group
              %input.form-control{placeholder: "Password", type: "password", required: "required", autocomplete: "off", name: "user[password]"}
            .form-group
              %input.form-control{placeholder: "Confirm Password", type: "password", required: "required", autocomplete: "off", name: "user[password_confirmation]"}
            %input.btn.btn-primary.sign_up_btn{name: "sign_up", type: "submit", value: "JOIN"}

          .row
            .homepage_login.homepage_email_btn
              email

    #arrow-wrapper
      %a
        .bottom

  - if current_user
    %a.mobile-content-link-wrapper-logged-in{href: "/adventures/#{adv.slug}"}
      .host_img{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') center center no-repeat;"}
      .adv_copy
        = adv.title
        %br
        with
        = adv.users.first.get_first_name
  - else
    %a.mobile-content-link-wrapper{href: "/adventures/#{adv.slug}"}
      .host_img{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') center center no-repeat;"}
      .adv_copy
        = adv.title
        %br
        with
        = adv.users.first.get_first_name


:javascript
  $('#arrow-wrapper').click(function(){
    $('html, body').animate({
       scrollTop: $("#how_it_works").offset().top + 5}, 800
    )
  })
  

  $(document).ready(function(){
    if( $('.navbar-fixed-top').is(":visible") ){
      $('.scroll-slow').css('top','75px');
      $('#arrow-wrapper').hide();
    }

    if($(window).width() >= 780){
      var hero = $('.scroll-slow');
        $(window).scroll(function(){
        var s = $(window).scrollTop();
        hero.css('-webkit-transform','translateY(' + (s/6) + 'px');    
        hero.css({'opacity' : (1 - s/1500)});
      })
    }

  });