- image_array = ["background/biklo_darken.jpg","http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/154/hero/6142769488_0824da5ff3_o.jpg?1410848814","http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/256/hero/IMG_0080.JPG?1414194826","http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/120/hero/IMG_0172.JPG?1409846204","http://s3-us-west-2.amazonaws.com/advlo/adventures/attachments/000/000/068/hero/P1120477.jpg?1409258894"]
- rand_num = rand(5)
- image = image_array[rand_num]
- adv_array = [0,154,256,120,68]
- if rand_num != 0
  - adv = Adventure.find(adv_array[rand_num])

.jumbotron.jumbotron_fix{:style => "background-image: url(#{image_path image})"}
  #homepage-text
    .text-center
      %span.large_text ADVENTURE
      %span.small_text WITH
      %span.large_text LOCALS

    - if adv
      %a.mobile_adventure_link{href: "/adventures/#{adv.slug}"}
        .content-link-wrapper.low-opacity
          .host_img{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') center center no-repeat;"}
          .adv_copy
            = adv.title
            %br
            with
            = adv.users.first.get_first_name
      
  - if notice
    .col-md-6.col-md-offset-3 
      .alert.alert-warning.text-center
        %button.close{"data-dismiss" => "alert", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        = notice.html_safe

  #how_it_works_panels
    .row.text-center
      .col-md-4.col-md-offset-1
        %a.find-adventures{href: "/adventures"}
          .panel.panel-default
            .panel-heading
              FIND
            .panel-body
              .find_icon
              .col-md-10.col-md-offset-1
                Search for adventures and connect with locals
      .col-md-2
      .col-md-4
        %a{href: "/adventures/info"}
          .panel.panel-default
            .panel-heading
              HOST
            .panel-body
              .host_icon
              .small_text
              .col-md-10.col-md-offset-1
                Sell and lead the adventures you create


  - if adv
    %a.homepage_adventure_link{href: "/adventures/#{adv.slug}"}
      .content-link-wrapper.low-opacity{style: 'position: absolute;'}
        .host_img{style: "background: url('#{adv.users.first.get_avatar_url('profile')}') center center no-repeat;"}
        .adv_copy
          = adv.title
          %br
          with
          = adv.users.first.get_first_name
    

