.shared-slider-container#host-slider
  .container.homepage-container
    %h1 FEATURED HOSTS
    / %a.small_text{href: "#"} VIEW ALL >>>

  .slider-wrapper
    %i.fa.fa-chevron-right#host-next
    %i.fa.fa-chevron-left#host-prev

    .swiper-container.host-slider
      .swiper-wrapper
        - if @feat_hosts
          - @feat_hosts.each_with_index do |guide, i|
            .swiper-slide
              %a.slide-content{href: user_path(guide)}
                - if guide.avatar.height(:medium) <= 225
                  .host-circle-image{style: "background: url(#{guide.get_avatar_url("large")}) no-repeat center center;"}
                - else
                  .host-circle-image{style: "background: url(#{guide.get_avatar_url("medium")}) no-repeat center center;"}

                .host-copy
                  .host-name
                    = guide.name
                  .host-description
                    = guide.short_description
                  .host-location
                    = guide.location
                


              
                  

:javascript
  $(window).resize(function(){
    hostSliderInit();
  })