.shared-slider-container#host-slider
  .container.homepage-container
    %h1 FEATURED HOSTS
    %a.small_text{href: "#"} VIEW ALL >>>

  .slider-wrapper
    %i.fa.fa-chevron-right#host-next
    %i.fa.fa-chevron-left#host-prev

    .swiper-container.host-slider
      .swiper-wrapper
        - if @feat_hosts
          - @feat_hosts.each_with_index do |user, i|
            %a.swiper-slide{href: user_path(user)}
              .image-wrapper.host-image
                = image_tag "#{user.get_avatar_url("medium")}"
                .copy
                  .name= user.name
                  .location= user.location
                  .desc= user.short_description
                  

:javascript
  $(window).resize(function(){
    hostSliderInit();
  })