.shared-slider-container#host-slider
  .container
    %h1 FEATURED HOSTS
    %a.small_text{href: "#"} VIEW ALL >>>

  .slider-wrapper
    %i.fa.fa-chevron-right#host-next
    %i.fa.fa-chevron-left#host-prev

    .swiper-container.host-slider
      .swiper-wrapper
        - if @feat_hosts
          - @feat_hosts.each_with_index do |user, i|
            - if user.avatar_url && user.avatar_url != ''
              %a.swiper-slide{href: user_path(user)}
                .image-wrapper.host-image
                  = image_tag "#{user.avatar_url}?type=large"
                  .copy
                    .name= user.name
                    .location= user.location
                    .desc= user.short_description
            -else
              %a.swiper-slide{href: user_path(user)}
                .image-wrapper.host-image
                  = image_tag user.avatar.url(:large)
                  .copy
                    .name= user.name
                    .location= user.location
                    .desc= user.short_description
                  

:javascript
  $(window).resize(function(){
    hostSliderInit();
  })