#how_it_works
  .row.text-center.title.homepage-title
    HOW ADVLO WORKS

  .container
    %h3
      We believe that people are the most important aspect of travel so we're building a global network of adventure guides and local operators that can not only show you an amazing activity, but share with you their culture and way of life. 
    .row
      .col-md-4
        %a{href: "/find"}
          .hiw_img{style: "background: url('#{asset_path("background/hiw_search.jpg")}') center center no-repeat"}
            .hiw_img_text.text-center
              .large SEARCH
              .small BY DESTINATION
      .col-md-4
        %a{href: "/find"}
          .hiw_img{style: "background: url('#{asset_path("background/hiw_find.jpg")}') center center no-repeat"}
            .hiw_img_text.text-center{style: "position: relative; top: 184px;"}
              .large FIND
              .small LOCAL GUIDES
      .col-md-4
        %a{href: "/find"}
          .hiw_img{style: "background: url('#{asset_path("background/hiw_adventure.jpg")}') center center no-repeat"}
            .hiw_img_text.text-center
              .large CONNECT
              .small & BOOK ADVENTURE

    .row
      - set_meta_tags(get_meta_tags("Map", "Adventure Local, Advlo map", "Find, Search, Guides, Local Adventure, Experience, Local Experience, map"))

      #map
        .container
          .panel.panel-default.map-panel
            .panel-body
              .row
                #chartdiv


:javascript
  if( $(window).width() > 991 ){
    var map = AmCharts.makeChart("chartdiv", {

      type: "map",
      pathToImages: "http://www.amcharts.com/lib/3/images/",
      handDrawn: true,
      dragMap: false,

      areasSettings: {
        autoZoom: false,
        rollOverOutlineColor: "#000000",
        selectedColor: "#000000",
        outlineAlpha: 1,
        outlineColor: "#FFFFFF",
        outlineThickness: 1,
        color: "#000000"
      },

      dataProvider: {
        map: "continentsLow",

        areas: [{
          "id": "africa",
          "title": "Africa" + "( #{@adventure_counts[2]} )",
          "pattern": {
            "url": "http://www.amcharts.com/lib/3/patterns/black/pattern1.png",
            width: 4,
            height: 4,
            color:"#FE9A2E"
          },
          url: "/adventures?region=Africa"
        }, {
          "id": "asia",
          "title": "Asia" + "( #{@adventure_counts[4]} )",
          "pattern": {
            "url": "http://www.amcharts.com/lib/3/patterns/black/pattern2.png",
            width: 4,
            height: 4,
            color:"#642EFE"
          },
          url: "/adventures?region=Asia"
        }, {
          "id": "australia",
          "title": "Oceania" + "( #{@adventure_counts[3]} )",
          "pattern": {
            "url": "http://www.amcharts.com/lib/3/patterns/black/pattern3.png",
            width: 4,
            height: 4,
           color:"#FACC2E"
          },
          url: "/adventures?region=Oceania"
        }, {
          "id": "europe",
          "title": "Europe" + "( #{@adventure_counts[5]} )",
          "pattern": {
            "url": "http://www.amcharts.com/lib/3/patterns/black/pattern4.png",
            width: 4,
            height: 4,
            color:"#FE2E64"
          },
          url: "/adventures?region=Europe"
        }, {
          "id": "north_america",
          "title": "North America" + "( #{@adventure_counts[0]} )",
          "pattern": {
            "url": "http://www.amcharts.com/lib/3/patterns/black/pattern5.png",
            width: 4,
            height: 4,
            color:"#58FA82"
          },
          url: "/adventures?region=North-America"
        }, {
          "id": "south_america",
          "title": "Latin America" + "( #{@adventure_counts[1]} )",
          "pattern": {
            "url": "http://www.amcharts.com/lib/3/patterns/black/pattern6.png",
            width: 4,
            height: 4,
            color:"#2EFEF7"
          },
          url: "/adventures?region=Latin-America"
        }]
      },
      zoomControl: {
        panControlEnabled: false,
        zoomControlEnabled: false
      }
    });
  } else {
    $('#map').hide();
  }
  $(window).resize(function(){
    if ($(window).width() < 991 ){
      $('#map').hide();
      } else {
        $('#map').show();
      }
  })