#how_it_works

  .container
    %br
    %br
    .row
      .hiw-explainer
        We believe Adventure begins once you step outside of your comfort zone and it's our goal to get your there; which is why we're creating the most exclusive network of adventure guides around the world. In three simple steps find your next Adventure:
    .row
      .col-md-4
        .hiw_img{style: "background: url('#{asset_path("background/Mountainbikers.jpeg")}') center center no-repeat"}
          .hiw_img_text.text-center
            .large CONNECT
            .hiw_icon
              .fa.fa-globe
        .hiw-small Explore our local hosts by destination or type of activity. Discover who they are and what they can offer.
      
      .col-md-4
        .hiw_img{style: "background: url('#{asset_path("background/SurfboardonBeach.jpeg")}') center center no-repeat"}
          .hiw_img_text.text-center
            .large CREATE
            .hiw_icon
              .fa.fa-map-o
        .hiw-small Choose to tailor their existing adventures or build a custom itinerary with them based on your preferences.

      .col-md-4
        .hiw_img{style: "background: url('#{asset_path("background/Snowboarder.jpg")}') center center no-repeat"}
          .hiw_img_text.text-center
            .large ADVENTURE
            .hiw_icon
              .fa.fa-bicycle
        .hiw-small Book your custom experience! We'll handle the rest while you Adventure Local.
  
  .container.categories
    %br
    %br
    .row
      .col-md-6
        %a{href: "/find?categories=water&locals=false"}
          .category_img{style: "background: url('#{asset_path("background/WaterWaves.jpeg")}') center center no-repeat"}
            .category_img_text.text-center{style: "position: relative; top: 0px;"}
              WATER
      .col-md-3 
        %a{href: "/find?categories=snow&locals=false"}
          .category_img{style: "background: url('#{asset_path("background/SnowMtn.jpg")}') center center no-repeat"}
            .category_img_text.text-center{style: "position: relative; top: 0px;"}
              SNOW
      .col-md-3
        %a{href: "/find?categories=air&locals=false"}
          .category_img{style: "background: url('#{asset_path("background/AirWind.jpg")}') center center no-repeat"}
            .category_img_text.text-center{style: "position: relative; top: 0px;"}
              AIR
    .row
      .col-md-3
        %a{href: "/find?categories=air&locals=false"}
          .category_img{style: "background: url('#{asset_path("background/Motor.jpg")}') center center no-repeat"}
            .category_img_text.text-center{style: "position: relative; top: 0px;"}
              MOTOR
      .col-md-3
        %a{href: "find?categories=biking,camping,climbing,hiking&locals=false"}
          .category_img{style: "background: url('#{asset_path("background/DirtRock.jpg")}') center center no-repeat"}
            .category_img_text.text-center{style: "position: relative; top: 0px;"}
              ROCKS
      .col-md-6
        %a{href: "find?categories=biking,camping,climbing,hiking&locals=false"}
          .category_img{style: "background: url('#{asset_path("background/Trail.jpg")}') center center no-repeat"}
            .category_img_text.text-center{style: "position: relative; top: 0px;"}
              TRAIL

/ FEATURE REGIONS
/    .row
/      .col-md-4
/        %a{href: "/find?location=Hawaii&locals=false"}
/          .hiw_img{style: "background: url('#{asset_path("background/hiw_search.png")}') center center no-repeat"}
/            .hiw_img_text.text-center
/              .large HAWAII
/              .small= "- #{Adventure.approved.where("state = 'Hawaii'").count} ADVENTURES -"
/      .col-md-4
/        %a{href: "/find?location=Ecuador&locals=false"}
/          .hiw_img{style: "background: url('#{asset_path("background/hiw_find.jpg")}') center center no-repeat"}
/            .hiw_img_text.text-center{style: "position: relative;"}
/              .large ECUADOR
/              .small= "- #{Adventure.approved.where("country = 'Ecuador'").count} ADVENTURES -"
/      .col-md-4
/        %a{href: "/find?location=Vietnam&locals=false"}
/          .hiw_img{style: "background: url('#{asset_path("background/hiw_adventure.jpg")}') center center no-repeat"}
/            .hiw_img_text.text-center
/              .large VIETNAM
/              .small= "- #{Adventure.approved.where("country = 'Vietnam'").count} ADVENTURES -"
