%li.dropdown
  %a.logged_in_dropdown_box{href: "#", "data-toggle" => "dropdown", type: 'button'}
    - if current_user.avatar.exists?
      = image_tag "#{current_user.avatar.url(:thumb)}", :class => "img-circle up_profile_img"
    - elsif current_user.avatar_url
      = image_tag "#{current_user.avatar_url}", :class => "img-circle fb_profile_img"
    - else 
      = image_tag 'missing.png', :class => "img-circle miss_profile_img"

    - if current_user.name.nil? || current_user.name.empty?
      = current_user.email
    - else 
      = current_user.name
    %b.caret

  %ul.dropdown-menu.right-side.logged_in_dropdown_menu{role: "menu"}
    %li
      %a{href: "/users/dashboard"} 
        %i.fa.fa-user{style: 'float: left; margin-right: 10px;'}
        .text My Dashboard
    
    %li
      %a{href: "/users/sign_out", :data => {:method => "delete"}, rel: "nofollow"} 
        %i.fa.fa-sign-out{style: 'float: left; margin-right: 10px;'}
        Sign Out