.meta_tags
  = set_meta_tags(default_meta_tags)

#terms_of_service.tab-pane.active
  .col-md-12.container
    %h2 TERMS OF SERVICE
    %b Last Updated: August 15, 2014
    %br

    %h1 Welcome to Advlo
    %p
      This agreement sets forth the terms and conditions between Advlo Inc. and users who use “Our” services to purchase “Adventure” tours and travel services (“You”) from individuals who provide adventure tours and travel related services (“Hosts”).
    %p
      You must read the Agreement before using www.advlo.com (the “Site”) and booking an adventure tour. Use of the Site constitutes an agreement to all terms and conditions in this Agreement and you warrant that you understand, agree to and accept all terms and conditions contained within this Agreement.

    %h4 Terms of Service Modification
    %ul
      %li
        Continued use of our Services after the modification date constitutes your acceptance of the new Terms of Service
      %li
        Through an email notification, by updating this page and the “Updated By” date or through other reasonable means, Advlo will notify you of any updates to the Terms of Service. Ten (10) days after they are posted, the changes will become effective; except changes addressing new functions of the Services or changes made for legal reasons will be effective immediately.


    %h4  
      You will be subject to additional terms such as the
      %a.privacy-toggle{href: '#'} 
        Privacy Policy

    %h4 
      ACCESS AND USE OF THE SERVICE
    %ul
      %li 
        Description of “Services”
        %ul 
          %li
            The Service: an online platform that provides a connection between Hosts who have unique knowledge of an “Adventure” with a particular travel destination or activity (“Hosts”) and Travelers seeking to receive services related to such destinations and activities (“Travelers”).
          %li
            “Hosts” can lead Adventures. Through the Services, Hosts have the ability to create a profile (“Profile”) that provides information about the Host’s knowledge and Adventure offerings, and, by doing so, make themselves available to Traveler “Requests” (Traveler-created forms or messages inquiring about a Host’s services) at a particular destination (each such service, an “Adventure”). Travelers may select Hosts (or may Request that Advlo attempt to connect them to a Host based on their specifications) to provide the Traveler with an Adventure.
      %li
        Platform Nature of the Services
        %ul
          %li
            Advlo is not an operator of tours, activities or adventures, nor is it a provider of tours or activities, and Advlo does not own, sell, resell, furnish, provide, manage and/or control any transportation or tour services.
          %li
            Advlo’s responsibilities are limitied to:
            %ul
              %li
                Facilitating the availability of the Services
              %li
                Serving as the limited agent of each Host for the purpose of accepting payments from Travelers on behalf of the Host
              
          %li
            You understand and agree that Advlo is not a party to any agreements entered into between hosts and travelers, nor is Advlo an agent or insurer. The services are intended to be used to facilitate the connections between hosts and travelers. Advlo cannot and does not control the content contained in any profiles and the condition, legality or suitability of any adventures. Advlo has no control over the conduct of Hosts, Travelers and other users of the Services or any adventures, and disclaims all liability in this regard. Accordingly, the planning or partaking of any adventures are at the Host’s and/or Traveler’s own risk.

    %h4
      YOUR REGISTRATION OBLIGATIONS
    %ul
      %li
        In order to access and use certain features of the Service you may be required to register with Advlo. By registering for the Service, you agree to provide and maintain accurate and current information about yourself as prompted by the Service’s registration form.
        %ul
          %li
            The data associated with your account and registration (along with other information about you) are governed by our Privacy Policy.
          %li
            If you are under the age of 13, you are not authorized to use Our Service, with or without registering with Advlo.
          %li
            If you are under the age of 18, you are permitted to use the Services, with or without registering, only with the approval of your parent or legal guardian.
      
      %br
      %li
        MEMBER ACCOUNT, PASSWORD AND SECURITY
        %ul
          %li
            As a User, you are responsible for the confidentiality of your account and password. Additionally, you’re responsible for all activities that occur under your account and password.
          %li
            You agree to:
            %ul
              %li
                Contact Advlo immediately following any breach of security or any unauthorized use of your account or password.
              %li
                Make sure to sign out of your account at the conclusion of each session when accessing the Service.
          %li
            Advlo will not be liable for any loss or damage arising from your failure to comply with this Section

      %br
      %li
        MODIFICATIONS TO SERVICE
        %ul   
          %li
            Advlo reserves the right to revisions or discontinuations of the Services (or any part thereof), temporarily or permanently, with or without notice. 
          %li
            You agree that Advlo will not be liable to you or to any third party for any modification suspension or discontinuance of the Service.
      %br
      %li 
        GENERAL PRACTICES REGARDING USE AND STORAGE
        %ul 
          %li 
            Advlo reserves the right to establish general practices and limits concerning the uses of the Service, without limitation. Such limits include, but are not limited to: Maximum amount of time that data or other content will be retained on Advlo’s servers and Maximum storage space that will be allotted to a user on Our behalf.
          %li 
            You agree that Advlo has no liability or responsibility for the deletion or failure to store any data or other content maintained or uploaded by the Service.
          %li 
            If an account is inactive for an extended period of time, Advlo reserves that right to terminate or take other appropriate action on the account. 
          %li 
            You acknowledge that Advlo reserves the right to modify these general practices and limits at any time, in its sole discretion, with or without notice.
      %li
        HOST OBLIGATIONS
        %ul 
          %li
            As a Host, you must create a Profile that showcases your Adventures, basic information and skill (to illustrate the types of Adventures you can lead and help Travelers plan).
          %li
            Profiles will be made publically available via the Services and all other “Users” (Travelers and Hosts) will be able to access the information posted as well as contact you through the Site. 
          %li
            You agree that you are responsible for the information and content shown on your Profile and Adventure pages. You also acknowledge that you are responsible for the acts and omissions of any individuals who are present during the Adventure at your request or invitation, excluding the Traveler (and the individuals the Travelers invites to the Adventure, if applicable).
          %li
            You agree to comply with the Advlo Host Guidelines, available at 
            = link_to 'http://beta.advlo.com/adventures/info', 'http://beta.advlo.com/adventures/info', target: "_blank"
          %li
            You acknowledge and agree that Advlo is not an insurer nor do We act as a contracting agent for Adventures for you as a Host. 
          %li
            In the event of a Traveler requesting your services for an Adventure and participates in your Adventure, Advlo is not a party and any agreement you enter into with such Traveler is between you and the Traveler.
          %li
            Aside from the previous limitations, Advlo serves as your limited authorized agent:
            %ul
              %li
                For the purpose of accepting payments from Travelers on your behalf, and is responsible for transmitting such payments to you, subject to these Terms of Service
          %li
            As a Host, you are responsible for all other bookings, including without limitation: on-the-ground arrangements, restaurants, accommodations or similar bookings.
          %li
            You represent and warrant that your Profile and your planning of and/or guidance on any Adventure:
            %ul
              %li
                Will not breach any agreements you have entered into with any third parties (such as any agreements with or rules of employers or local tourism agencies)
              %li
                Will (a) be in compliance with all applicable laws, tax requirements, and rules and regulations that may apply to any such Adventure, including, but not limited to, tourism, tour guide licensing laws, and other laws governing events and tours of public spaces and other venues and (b) not conflict with the rights of third parties.
          %li
            Please note that Advlo assumes no responsibility for any Host’s or Traveler’s compliance with any applicable laws, rules and regulations. 
          %li
            Advlo reserves the right to terminate or disable access to any Profile for any reason, including Profiles that Advlo, in its sole discretion, considers to be objectionable for any reason, in violation of these Terms or otherwise harmful to the Services, at any time and without any prior notice.
          %li
            Advlo recommends that Hosts and Travelers obtain appropriate insurance for their Adventures.
          %li
            Advlo recommends that you review any insurance policy that you may have for your Adventure in great detail, and in particular please make sure that you are familiar with and understand any exclusions to, and any deductibles that may apply for, such insurance policy, including, but not limited to, whether or not your insurance policy will cover the actions or inactions of Travelers (and the individuals the Traveler invites to the Adventure, if applicable) while participating in you Adventure.
      %li
        NO ENDORSEMENT
        %ul
          %li
            Advlo does not endorse any Adventures.
          %li
            Advlo does not attempt to confirm or not confirm, any user’s alleged identity.
          %li
            As a User of Our Services, you are responsible for determining and confirming the identity and suitability of others who you contact via the Services.
          %li
            Advlo is not, and will not be responsible for any damage or harm, which results from your interactions with other Advlo Users.
          %li
            By using Advlo’s Services, you agree that any liability or legal remedy that you seek to obtain for actions or omissions of other users or other third parties will be limited to a claim against the particular user or other third parties who caused you harm and you agree not to attempt to impose liability on, or seek any legal remedy from Advlo with respect to such actions or omissions.
          %li
            Regarding any bookings you have made or Adventure details, we encourage you to communicate directly with other users via the Services.
          %li
            This limitation shall not apply to any claim by a Host against Advlo regarding:
            %ul
              %li
                The remittance of payments received from a Traveler by Advlo on behalf of a Host or
              %li
                The failure of Advlo to book an Advlo Booking for which the Traveler provided accurate booking information, which instead shall be subject to the limitations described in the section below entitled “Limitation of Liability”.

        %li
          CONDITIONS OF USE
          %ul
            %li
              BOOKINGS AND FINANCIAL TERMS FOR HOSTS:
              %ul
                %li
                  HOSTS: (Users who lead Adventures) If a Traveler sends a requested time for your Adventure via the Services, you are required to either accept or decline the request within 48 hours, as determined by Advlo in its sole discretion, or the booking request will be automatically cancelled.
                %li
                  If you are unable to confirm or decline a booking of an Adventure within the specified time period, any amounts collected by Advlo will be refunded to the appropriate Traveler’s credit card and pre-authorization of such credit card will be released. 
                %li
                  Future clause: If a Host fails to accept or decline a request in three separate instances, their account will be deactivated. 
                %li
                  You may be able to create an Adventure that is pre-scheduled for specific times and dates, where the Traveler’s booking may be automatically confirmed (“Instant Bookings”). When a booking is requested via the Services, we may share with you the first and last name of the Traveler who has requested the booking and a link to the Traveler’s Advlo Profile Page.
    %h4
      FEE STRUCTURE
    %ul
      %li
        In exchange for providing the Services, Advlo retains a portion of the ADVENTURE COST (defined below) of each Adventure (HOST FEE). 
      %li
        As a Customer, you agree to pay the amount posted by the Host (Adventure Cost) from whom you have chosen to purchase an Adventure (in addition to a Service Fee). 
      %li
        As a Host, posting a listing is free, but you agree to pay Advlo our then-current service commission for each purchase made by a Customer. 
        %ul
          %li
            Advlo’s Fees Policy, which is subject to change at our discretion. Changes to the Fees Policy and the fees for Advlo’s Services are effective after Advlo provides you notice by posting the changes on the Site.
          %li
            Each Customer will be solely responsible for any payments due to the Host, and the Host will be solely responsible for providing the Adventure to the Customer.
          %li
          Under no circumstances will Advlo be liable to a Host for payment for any Adventures ordered by a Customer or liable to a Customer to provide any Adventures.
      %li
        TRAVELER FEE TERMS
        %ul
          %li
            If you purchase an Adventure, you will be asked to provide your credit card information. Your card will not be charged the Total Booking Cost (Adventure Cost plus the Service Fee) until the Host confirms the booking request. If you book an “Instant Booking” time, you will be charged the “Total Booking Cost” automatically .
          %li
            Advlo charges a fee to Travelers as a percentage of applicable Adventure Costs, which is the “Service Fee”.
            %ul
              %li
              The Service Fee will be automatically added to the Adventure Cost to make the “Total Booking Cost” upon checkout.
          %li
            Advlo will collect the Total Booking Cost at the time of booking confirmation (i.e. when the Hosts confirms the Adventure Request or an Instant Booking is booked) 
      %li
        HOST FEE TERMS
        %ul
          %li
            There are no fees to upload an Adventure. However, when an Adventure a Host posted gets booked and the Traveler’s credit card charged, Advlo automatically retains the current Host Fee.
          %li
            The dollar amount displayed in an Adventure Page (Adventure Cost) includes the Host Payment (Adventure Cost less the Host Fee) and the Host Fee.
            %ul
              %li
                Please note that it is the Host and not Advlo who determines the Adventure Cost.
          %li
            Advlo will send the Host the Host Payment amount within 48 hours of the Adventure’s completion (except in the event where a is due refund).
          %li
            Please note that Advlo will not be responsible for delays in payments, where times can vary based on the location, currency, bank, etc.
    %h4
      CANCELLATIONS AND REFUNDS
    %ul
      %li
        These Terms and Conditions define the Advlo Traveler Refund Policies, which is available to Travelers who book and pay for an Adventure listed by a Host through the Advlo platform (the “Site”) and suffer a Travel Problem.  
      %li
        Travel Problems: A “Travel Problem” means that any of the following scenarios took place:
        %ul
          %li
            The Host of the Adventure:
            %ul
              %li 
                Canceled a trip reservation within 48 hours of the scheduled Adventure start time.
              %li 
                Failed to arrive at the designated meeting location within 30 minutes of the scheduled Adventure start time.
              %li 
                Failed to provide the Traveler with the reasonability to access the Adventure (i.e. by allowing the Traveler access to the space in which the Adventure will take place, if applicable).
          %li 
            The description of the Adventure on the Adventure Page on the Site is materially inaccurate with regards to the:
            %ul
              %li 
                Duration of the Adventure
              %li 
                Content (including but not limited to the stated activities or points of interest, as applicable), or
              %li 
                Physical location of the Adventure
              %li 
                General safety and conditions that would be reasonably expected, given the nature of the particular Adventure, at Advlo’s discretion.

      %li 
        TRAVELER REFUND POLICY
        %ul
          %li
            Travelers who suffer a Travel Problem will receive, at our discretion, either:
            %ul
              %li
                A refund of the Total Booking Cost, at our discretion and based on the extent of the Travel Problem
              %li
                A reasonably comparable Adventure (in terms of content and quality) based on availability and our determination.
                %ul
                  %li
                    If the alternative Adventure is a higher price than the previous, you may be responsible for any difference in price. 
                  %li
                    If the alternative Adventure is a lower price than the previous, you may be entitled to a partial refund to make up for the difference in prices. 
              %li All refunds and determinations of Advlo are final and binding.

      %li
        CLAIMING A TRAVEL PROBLEM
        %ul
          %li
            Only Travelers, who meet the following requirements, can submit Travel Problem Claims to 
            = mail_to 'support@advlo.com:'
            %ul
              %li 
                You must contact Advlo via email or telephone and provide us with the Travel Problem claim within 24 hours of the Adventure’s conclusion (based on the specified duration time on the Adventure’s Page).
        
              %li 
                You must not have, directly or indirectly, caused the Travel Problem (through your action, omission or negligence).
          
              %li 
                You must have used reasonable efforts to prevent or solve the issues of the Travel Problem directly with the Host (with evidence to confirm this) before making a claim to Advlo.
      %li
        CANCELATION DUE TO OUTSIDE FACTORS
        %ul
          %li
            Certain Adventures may depend on factors outside the control of either parties, such as weather (“Outside Factors”). The Host has the discretion as to whether Outside Factors will prevent the Adventure from taking place. As a Host, if you need to cancel an Adventure due to Outside Factors, you are required to contact the Traveler and Advlo 
            = mail_to '(support@advlo.com)'
            as early as possible. Subject to the Traveler’s consent, the Host and the Traveler may choose to reschedule the Adventure for another time or date. If the Adventure cannot be rescheduled, the Traveler should contact Advlo so we may assist in finding a replacement Adventure. To clarify, in the event the alternative Adventure is of a higher price of the previous, you may be responsible for any difference in price. If the alternative Adventure is of a lower price than the previous, you may be entitled to a partial refund for the difference. If you have contacted Advlo as a Traveler and Advlo is unable to find you a replacement Adventure, Advlo may refund the Total Booking Fee for such booking to the applicable Traveler within a commercially reasonable time of the cancellation.
      
    %h4
      QUALITY STANDARDS
    %ul
      %li
        As a Host, it is your responsibility to make certain that the Adventures you post on the Site meet and maintain the minimum quality standards in terms of the descriptions on the site, health and safety standards, as well as prevent any Travel Problems. Throughout the Adventure, Hosts should be available in order to attempt to remedy, in good faith, or resolve Travel Problems.
      %li
        If you are a Host, and if (a) Advlo determines that a Traveler has suffered a Travel Problem related to an Adventure posted by you and (b) Advlo either refunds or reimburses that Traveler any amount up to the amount paid by the Traveler (Total Booking Cost) through the Site for the Adventure or provides an alternative Adventure to the Traveler, you agree to reimburse Advlo up to the Total Booking Cost within 30 days of Advlo’s request. All determinations of Advlo with respect to the Traveler Refund Policy, including without limitation the size of any refund to the Traveler, shall be final and binding on the Travelers and Hosts. You also agree that in order for you to reimburse Advlo up to the amount paid by Advlo, Advlo may off-set or reduce any amounts owed by Advlo to you by this amount. If the Traveler is rescheduled to an alternative Adventure, you may lose part or all of the Host Payment for the booking and you may be responsible for reasonable additional costs incurred to reschedule the Traveler to the alternative Adventure.
      %li
        The rights of the Traveler under the Traveler Refund Policy supersede the cancellations policies that otherwise apply to a particular Adventure. If you dispute the Travel Problem, you may notify us in writing at 
        = mail_to 'support@advlo.com'
        or via telephone in order to provide us with information (including evidence) disputing the claims regarding the Travel Problem.  In order to dispute the claim, you must have used reasonable and good faith efforts to try to remedy the Travel Problem with the Traveler prior to disputing the Travel Problem claim (and you must provide evidence of doing so). You agree that all determination of Advlo with respect to the Travel Problem shall be final and binding on the Travelers and Hosts regardless of your submission of a dispute against such Travel Problem. 
      %li
        In the event of one or more Travel Problems being related to one Host, Advlo, in its discretion, may elect to take additional actions. These actions include, but are not limited to, terminating or suspending the Host’s account, canceling future bookings, suspending or removing the the Adventure Page(s) or imposing penalties or fees for the administrative burden associated with the Travel Problems.

    %h4  
      GENERAL PROVISIONS
    %ul    
      %li
        NO ISSURANCE/NO ASSIGNMENT
        %ul
          %li
            The Traveler Refund Policy is not intended to constitute an offer to insure, does not constitute insurance or an insurance contract, does not take the place of insurance obtained or obtainable by the Traveler, and the Traveler has not paid any premium in respect of the Traveler Refund Policy. The benefits provided under this Traveler Refund Policy are not assignable or transferable by you.
      
      %li
        MODIFICATION OR TERMINATION
        %ul
          %li
            Advlo reserves the right to modify or terminate this Traveler Refund Policy, at any time, in its sole discretion, and without prior notice. If Advlo modifies this Traveler Refund Policy, we will post the modification on the Site or provide you with notice of the modification and Advlo will continue to process all claims for Travel Problems made prior to the effective date of the modification.
      
      %li
        ENTIRE AGREEMENT AND DEFINITIONS
        %ul
          %li
            This Traveler Refund Policy constitutes the entire and exclusive understanding and agreement between Advlo and you regarding the Traveler Refund Policy and supersedes and replaces any and all prior oral or written understandings or agreements between Advlo and you regarding the Traveler Refund Policy. Capitalized terms not otherwise defined herein shall have the meaning set forth in the Advlo Terms of Service. Controlling Law. This Traveler Refund Policy will be interpreted in accordance with the laws of the State of Colorado and the United States of America, without regard to its conflict-of-law provisions.
        
      %li
        LIMITATION OF LIABILITY
        %ul
          %li
            IN NO EVENT WILL ADVLO’S AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THIS ADVLO POLICY TERMS, EXCEED THE AMOUNT OF THE TOTAL BOOKING FEES COLLECTED BY ADVLO FROM THE TRAVELER. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU. YOU ACKNOWLEDGE AND AGREE THAT, BY POSTING A LISTING OR BOOKING AN ADVENTURE OR OTHERWISE USING THE SITE, SERVICES AS A HOST OR TRAVELER, YOU ARE INDICATING THAT YOU HAVE READ, AND THAT YOU UNDERSTAND AND AGREE TO BE BOUND BY THESE POLICY TERMS.
          
    %h4
      TAXES
    %ul
      %li
        You understand and agree that you are solely responsible for determining your applicable tax reporting requirements in consultation with your tax advisors. Advlo cannot and does not offer tax-related advice to any users of the Services. Additionally, please note that each Host is responsible for determining local indirect taxes including any applicable taxes to be collected or obligations relating to applicable taxes.
    %h4
      USER CONDUCT
    %ul
      %li
        You are solely responsible for all code, video, images, information, data, text, software, music, sound, photographs, graphics, messages or other materials (“Content”) that you upload, post, publish, display, email or otherwise use via the Service. The following are examples of the kind of content and/or use that is illegal or prohibited by Advlo. Advlo reserves the right to investigate and take appropriate legal action against anyone who, in Advlo’s sole discretion, violates this provision, including without limitation, removing the offending content from the Service, suspending or terminating the account of such violators and reporting you to the law enforcement authorities. You agree to not use the Service to:
        %ul
          %li
            Email or otherwise upload any content that (a) infringes any intellectual property or other proprietary rights of any party; (b) you do not have a right to upload under any law or under contractual or fiduciary relationships; (c) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; (d) poses or creates a privacy or security risk to any person; (e) constitutes unsolicited or unauthorized advertising, promotional materials, commercial activities and/or sales, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” “contests,” “sweepstakes,” or any other form of solicitation; (f) is unlawful, harmful, threatening, abusive, harassing, tortuous, excessively violent, defamatory, vulgar, obscene, pornographic, libelous, invasive of another’s privacy, hateful racially, ethnically or otherwise objectionable; or (g) in the sole judgment of Advlo, is objectionable or which restricts or inhibits any other person from using or enjoying the Service, or which may expose Advlo or its users to any harm or liability of any type.
          %li
            Interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service; or
          %li
            Violate any applicable local, state, national or international law, or any regulations having the force of law;
          %li
            Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity;
          %li
            Solicit personal information from anyone under the age of 18;
          %li
            Harvest or collect email addresses or other contact information of other users from the Service by electronic or other means for the purposes of sending unsolicited emails or other unsolicited communications;
          %li
            Advertise or offer to sell or buy any goods or services for any business purpose that is not specifically authorized;
          %li
            Further or promote any criminal activity or enterprise or provide instructional information about illegal activities; or
          %li
            Obtain or attempt to access or otherwise obtain any materials or information through any means not intentionally made available or provided for through the Service;
          %li
            Offer, as a Host, any Adventures that you do not yourself have permission to provide (without limiting the foregoing, you will not list Adventures as a Host if you are serving in the capacity of an agent for a third party);
          %li
            Offer, as a Host, any Adventure that may not be provided pursuant to the terms and conditions of an agreement with a third party;
          %li
            Contact a Host for any purpose other than asking a question related to a booking, such Host’s Adventures or Profiles;
          %li
            Contact a Traveler for any purpose other than asking a question related to a booking or such Traveler’s use of the Services;
          %li
            When acting as a Traveler or otherwise, recruit or otherwise solicit any Host or other user of the Services to join third party services or websites that are competitive to Advlo, without Advlo’s prior written approval;
          %li
            Use the Services to find a Host or Traveler and then complete a booking of an Adventure transaction independent of the Services, whether or not you do so in order to circumvent the obligation to pay any Service Fees related to Advlo’s provision of the Services; or
          %li
            As a Host, submit any Profile or Adventure with a false or misleading price information.

    %h4
      SPECIAL NOTICE FOR INTERNATIONAL USE
    %ul
      %li
        Software available in connection with the Service and the transmission of applicable data, if any, is subject to United States export controls. No Software may be downloaded from the Service or otherwise exported or re-exported in violation of U.S. export laws. Downloading or using the Software is at your sole risk. Recognizing the global nature of the Internet, you agree to comply with all local rules and laws regarding your use of the Service, including as it concerns online conduct and acceptable content.

    %h4 
      COMMERCIAL USE
    %ul
      %li
        Unless otherwise expressly authorized herein or in the Service, you agree not to display, distribute, license, perform, publish, reproduce, duplicate, copy, create derivative works from, modify, sell, resell, exploit, transfer or upload for any commercial purposes, any portion of the Service, use of the Service, or access to the Service. The Service is for your personal use.
      
    %h4
      INTELLECTUAL PROPERTY RIGHTS
    %ul
      %li
        SERVICE CONTENT, SOFTWARE AND TRADEMARKS:
        %ul
          %li
            You acknowledge and agree that the Service may contain content or features (“Service Content”) that are protected by copyright, patent, trademark, trade secret or other proprietary rights and laws. Except as expressly authorized by Advlo, you agree not to modify, copy, frame, scrape, rent, lease, loan, sell, distribute or create derivative works based on the Service or the Service Content, in whole or in part, except that foregoing does not apply to your own User Content (as defined below) that you legally upload to the Service. In connection with your use of the Service you will not engage in or use any data mining, robots, scraping or similar data gathering or extraction methods. Any use of the Service or the Service Content other than as specifically authorized herein is strictly prohibited. The technology and software underlying the Service or distributed in connection therewith is the property of Advlo, our affiliates and our partners (the “Software”). You agree not to cop, modify, create derivative work of, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, or otherwise transfer any right in the Software. Any rights not expressly granted herein are reserved by Advlo.
          %li
            The Advlo name and logos are trademarks and service marks of Advlo (collectively the “Advlo Trademarks”). Other Advlo, product, and service names and logos used and displayed via the Service may be trademarks or service marks of their respective owners who may or may not endorse or be affiliated with or connected to Advlo. Nothing in the Terms of Service or the Service should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of Advlo Trademarks displayed on the Service, without our prior written permission in each instance. All goodwill generated from the use of Advlo Trademarks will inure to our exclusive benefit. 
          %li
      %li
        THIRD PARTY MATERIAL
        %ul
          %li
            Under no circumstances will Advlo be liable in any way for any content or materials of any third parties (including users), including, but not limited to, for any errors or omissions in any content, or for any loss or damage of any kind incurred as a result of the use of any such content. You acknowledge that Advlo does not have a duty to pre-screen content, but that Advlo and its designees will have the right (but not the obligation) in their sole discretion to refuse or remove any content that is available via the Service. Without limiting the foregoing, Advlo and its designees will have the right to remove any content that violates these Terms of Service or is deemed by Advlo, in its sole discretion, to be otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of any content, including any reliance on the accuracy, completeness, or usefulness of such content.
      %li
        USE CONTENT TRANSMITTED THROUGH THE SERVICE
        %ul
          %li
            With respect to the content or other materials you upload through the Service or share with other users or recipients (collectively, “User Content”), you represent and warrant that you own all right, title and interest in and to such User Content, including, without limitation, all copyright and rights of publicity contained therein. By uploading any User Content you hereby grant and will grant Advlo and its affiliated companies a nonexclusive, worldwide, royalty free, fully paid up, transferable, sub-licensable, perpetual, irrevocable license to copy, display, upload, perform, distribute, store, modify and otherwise use your User Content in connection with the operation of the Service or the promotion, advertising or marketing thereof, in any form, medium or technology now known or later developed.
          %li
            You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information about the Service (“Submissions”), provided by you to Advlo are non-confidential and Advlo will be entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without acknowledgment or compensation to you.
          %li
            You acknowledge and agree that Advlo may preserve content and may also disclose content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process, applicable laws or government requests; (b) enforce these Terms of Service; (c) respond to claims that any content violates the rights of third parties; or (d) protect the rights, property, or personal safety of Advlo, its users and the public. You understand that the technical processing and transmission of the Service, including your content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
      %li
        THIRD PARTY WEBSITES
        %ul
          %li
            The Service may provide, or third parties may provide, links or other access to other sites and resources on the Internet. Advlo has no control over such sites and resources and Advlo is not responsible for and does not endorse such sites and resources. You further acknowledge and agree that Advlo will not be responsible for liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, event, goods or services available on or through any such site or resource. Any dealings you have with third parties found while using the Service are between you and the third party, and you agree that Advlo is not liable for any loss or claim that you may have against any such third party.
      %li
        SOCIAL NETWORKING SERVICES
        %ul
          %li
            You may enable or log in to the Service via various online third party services, such as social media and social networking services like Facebook or Twitter (“Social Networking Services”). By logging in or directly integrating these Social Networking Services into the Service, we make your experience with our site more efficient and personalized. To take advantage of this feature and capabilities, we may ask you to authenticate, register for or log into Social Networking Services on the websites of their respective providers. As part of such integration, the Social Networking Services will provide us with access to certain information that you have provided to such Social Networking Services, and we will use, store and disclose such information in accordance with our Privacy Policy. For more information about the implications of activating these Social Networking Services and Advlo’s use, storage and disclosure of information related to you and your use of such services within Advlo (including your friend lists and the like), please see our Privacy Policy. However, please remember that the manner in which Social Networking Services use, store and disclose your information is governed solely by the policies of such third parties, and Advlo shall have no liability or responsibility for the privacy practices or other actions of any third party site or service that may be enabled within the Service.
          %li
            In addition, Advlo is not responsible for the accuracy, availability or reliability of any information, content, goods, data, opinions, advice or statements made available in connection with Social Networking Services. As such, Advlo is not liable for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Social Networking Services. Advlo enables these features merely as a convenience and the integration or inclusion of such features does not imply an endorsement or recommendation.
      %li
        INDEMNITY AND RELEASE
        %ul
          %li
            You agree to release, indemnify and hold Advlo and its affiliates and their officers, employees, directors and agent harmless from any and all losses, damages, expenses, including reasonable attorneys’ fees, rights, claims, actions of any kind and injury (including death) arising out of or relating to your use of the Service, any User Content, you connection to the Service, your violation of these Terms of Service or your violation of any rights of another.
    %h4
      DISCLAIMER OF WARRANTIES
    %ul
      %li
        YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. ADVLO EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
      %li
        ADVLO MAKES NO WARRANTY THAT (I) THE SERVICE WILL MEET YOUR REQUIREMENTS, (II) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (III) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, OR (IV) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS.
    %h4
      LIMITATION OF LIABILITY
    %ul
      %li
        YOU EXPRESSLY UNDERSTAND AND AGREE THAT ADVLO WILL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY DAMAGES, OR DAMAGES FOR LOSS OF PROFITS INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF ADVLO HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, RESULTING FROM: (I) THE USE OR THE INABILITY TO USE THE SERVICE; (II) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (III) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (IV) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (V) ANY OTHER MATTER RELATING TO THE SERVICE. IN NO EVENT WILL ADVLO’S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR CAUSES OF ACTION EXCEED THE AMOUNT YOU HAVE PAID ADVLO IN THE LAST SIX (6) MONTHS, OR, IF GREATER, ONE HUNDRED DOLLARS ($100).
      %li
        SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS SET FORTH ABOVE MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SERVICE OR WITH THESE TERMS OF SERVICE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USE OF THE SERVICE.
    %h4
      ARBITRATION
    %ul
      %li
        At Advlo’s or your election, all disputes, claims, or controversies arising out of or relating to the Terms of Service or the Service that are not resolved by mutual agreement may be resolved by binding arbitration to be conducted before JAMS, or its successor. Unless otherwise agreed by the parties, arbitration will be held in Denver, Colorado before a single arbitrator mutually agreed upon by the parties, or if the parties cannot mutually agree, a single arbitrator appointed by JAMS, and will be conducted in accordance with the rules and regulations promulgated by JAMS unless specifically modified in the Terms of Service. The arbitration must commence within forty-five (45) days of the date on which a written demand for arbitration is filed by either party. The arbitrator’s decision and award will be made and delivered within sixty (60) days of the conclusion of the arbitration and within six (6) months of the selection of the arbitrator. The arbitrator will not have the power to award damages in excess of the limitation on actual compensatory, direct damages set forth in the Terms of Service and may not multiply actual damages or award punitive damages or any other damages that are specifically excluded under the Terms of Service, and each party hereby irrevocably waives any claim to such damages. The arbitrator may, in his or her discretion, assess costs and expenses (including the reasonable legal fees and expenses of the prevailing part) against any party to a proceeding. Any party refusing to comply with an order of the arbitrators will be liable for costs and expenses, including attorneys’ fees, incurred by the other party in enforcing the award. Notwithstanding the foregoing, in the case of temporary or preliminary injunctive relief, any party may proceed in court without prior arbitration for the purpose of avoiding immediate and irreparable harm. The provisions of this arbitration section will be enforceable in any court of competent jurisdiction.
    %h4
      TERMINATION
    %ul
      %li
        You agree that Advlo, in its sole discretion, may suspend or terminate your account (or any part thereof) or use of the Service and remove and discard any content within the Service, for any reason, including, without limitation, for lack of use or if Advlo believes that you have violated or acted inconsistently with the letter or spirit of these Terms of Service. Any suspected fraudulent, abusive or illegal activity that may be grounds for termination of your use of Service, may be referred to appropriate law enforcement authorities. Advlo may also in its sole discretion and at any time discontinue providing the Service, or any part thereof, with or without notice. You agree that any termination of your access to the Service under any provision of this Terms of Service may be effected without prior notice, and acknowledge and agree that Advlo may immediately deactivate or delete your account and all related information and files in your account and/or bar any further access to such files or the Service. Further, you agree that Advlo will not be liable to you or any third party for any termination of your access to the Service.
    %h4
      USER DISPUTES
    %ul
      %li
        You agree that you are solely responsible for your interactions with any other user in connection with the Service and Advlo will have no liability or responsibility with respect thereto. Advlo reserves the right, but has no obligation, to become involved in any way with disputes between you and any other user of the Service. 
    %h4
      GENERAL
    %ul
      %li
        These Terms of Service constitute the entire agreement between you and Advlo and govern your use of the Service, superseding any prior agreements between you and Advlo with respect to the Service. You also may be subject to additional terms and conditions that may apply when you use affiliate or third-party services, third-party content or third-party software. These Terms of Service will be governed by the laws of the State of Colorado without regard to its conflict of law provisions. With respect to any disputes or claims not subject to arbitration, as set forth above, you and Advlo agree to submit to the personal and exclusive jurisdiction of the state and federal courts located within Denver County, Colorado. The failure of Advlo to exercise or enforce any right or provision of these Terms of Service will not constitute a waiver of such right or provision. If any provision of these Terms of Service is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of these Terms of Service remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or these Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred. A printed version of this agreement and of any notice given in electronic form will be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. You may not assign this Terms of Service without the prior written consent of Advlo, but Advlo may assign or transfer this Terms of Service, in whole or in part, without restriction. The section titles in these Terms of Service are for convenience only and have no legal or contractual effect. Notices to you may be made via either email or regular mail. The Service may also provide notices to you of changes to these Terms of Service or other matters by displaying notices or links to notices generally on the Service.
    %h4
      YOUR PRIVACY
    %ul
      %li
        At Advlo, we respect the privacy of our users. For details please see our Privacy Policy. By using the Service, you consent to our collection and use of personal data as outlined therein. 
      
    %h4
      QUESTIONS? CONCERNS? SUGGESTIONS?
    %ul
      %li
        Please reach out to us at 
        = mail_to 'support@advlo.com' 
        to report any violations of these Terms of Service or to ask any questions regarding these Terms of Service.





