#about
  - image = "background/advlo_about.jpg"
  .jumbotron{:style => "background-image: url(#{image_path image})"}
  .border
  .logo= image_tag 'logos/advlo_header_logo.png'
  .border

  .about-wrapper
    .container
      .panel.panel-default
        %p.text-center.mission_statement
          .text-brick
            Our goal is to connect adventure travelers around the world with the most authentic locals. We have built the platform as something we want to use ourselves, and for the incredible guides around the globe who deserve to be seen. 
            

  .border

  .white_background.container-fluid
    .col-md-4
      .row.text-center 
        %h3 CHRISTOPHER KNIGHT
        %h4 The Anthropologist Programmer

      .panel.panel-default.text-brick
        .self-bio
          Over the past few years i've searched near and far for a way to live life to the fullest. When I think about my experiences from traveling my fondest memories are not about what I did, but from the people I adventured with. Travel is a luxury that most of the world's people never get to experience. However, the ability to immerse yourself into a foreign culture has been the greatest learning experience I have ever had. To build a tool to help others do the same, in conjunction with enabling adventure guides around the world... Well. I couldn't ask for a better way to spend my time. Safe travels to all!
          

    .col-md-4
      .row.text-center
        %h3 JONATHAN MASER
        %h4 The Entreprenuerial Thrillseeker

      .panel.panel-default.text-brick
        .self-bio
          Connecting people to do amazing things is what drives me, and the advlo team. 


    .col-md-4
      .row.text-center
        %h3 SHAYAN DHANANI
        %h4 The Exploring Scientist

      .panel.panel-default.text-brick
        .self-bio
          The world is an extremely diverse place, and I truly believe that the only way to experience and learn about what it has to offer is by being there and interacting with those whom have spent a good portion of their life there. Stepping out of your comfort zone and going after that unusual or scary experience to me is the definition of an Adventure and Traveling. Every person's experience is different when they travel, for me the cultural exchange along with learning from the locals about their customs and language will have me traveling for the remainder of my life.



    .col-md-12.text-center
      .row#contact-us
        #leave-a-note
          %p Leave us a Note

    .col-md-4.col-md-offset-4.text-center#contact-advlo
      %form{"accept-charset" => "UTF-8", action: "/contact", method: "POST", id: "about_us_contact_form", "data-remote" => "true"}
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
        = tag(:input, :type => "hidden", :name => "about_us", :value => true)

        - if current_user
          = tag(:input, :type => "hidden", :name => "contact[user_id]", :value => current_user.id)

        .form-group.row
          %input.form-control{type: "text", name: "contact[email]", id: "contact_email", placeholder: 'Email Address', class: "email-field", value: current_user ? current_user.email : ''}

        .form-group.row
          %textarea.form-control{rows: "7", type: "text", name: "contact[comments]", id: "contact_comments", placeholder: 'We would love to hear from you.'}

        #honeypot
          %input.form-control{type: "text", name: "honeypot", id: "honeypot", placeholder: 'This field is like a captcha for bots.. Do not fill in.'}
          
        .row.text-center
          .btn.btn-primary#about-us-contact Submit

          
:javascript
  aboutPageInit();
  