- render partial: 'homepage_seo_tags.haml'
= render partial: 'hero_image'
= render partial: 'how_it_works'
= render partial: 'explorer_block'
= render partial: 'feat_adventures'
= render partial: 'signup'

- if notice
  :javascript
    remove_notice(12);

:javascript
  homepageInit();
  masonrySetup();
