!!!
%html
  %head
    %title AdvloMvp
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'shared/header'

    = yield

    = render partial: 'shared/footer'


:javascript
  // we need a callback url for FB
  $(document).ready(function(e) {
    if (window.location.hash && window.location.hash == '#_=_') { 
      console.log(window.location.hash)
      window.location.hash = ''
    }
  }); 
